<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700|Rubik:400,300,400"><style type="text/css">._VWvqNvR9 { vertical-align: middle; } ._KzlwM38p { position: relative; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._O689JW7n { position: relative; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._NYd6gvae { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._84kEtzlN[data-id="_84kEtzlN"] { height: 800px; background-image: url("https://media.pagefly.io/file/get/yucky_kcup_mercury_16by9jpg-1524157944726.jpg"); background-position: center top; background-size: cover; } .__pf ._LWrmtVrW[data-id="_LWrmtVrW"] { height: 800px; background-image: url("https://media.pagefly.io/file/get/morning_croppedjpg-1524115171297.jpg"); background-position: center center; background-size: cover; } .__pf ._WMNrhgLm[data-id="_WMNrhgLm"] { margin-top: 50px; color: white; font-family: Raleway; font-size: 48px; font-weight: 700; text-align: right; text-transform: uppercase; } .__pf ._E8r_h1zb[data-id="_E8r_h1zb"] { text-align: right; font-family: Rubik; font-weight: 400; color: white; font-size: 20px; margin-bottom: 48px; } .__pf ._YzX5TkVz[data-id="_YzX5TkVz"] { background-color: rgb(0, 155, 109); padding-right: 20px; } .__pf ._pDjPSVpN[data-id="_pDjPSVpN"] { margin-top: 160px; } .__pf ._bMKZhELM[data-id="_bMKZhELM"] { text-transform: uppercase; letter-spacing: 2px; text-align: center; color: rgb(5, 117, 86); font-family: Raleway; font-weight: 500; font-size: 28px; } .__pf ._JykNfboE[data-id="_JykNfboE"] { width: 300px; } .__pf ._6YB0hlz8[data-id="_6YB0hlz8"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._rAWWh7yA[data-id="_rAWWh7yA"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf ._NJAafXrW[data-id="_NJAafXrW"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf ._KJzgfr3e[data-id="_KJzgfr3e"] { text-align: center; } .__pf ._N7JafMeE[data-id="_N7JafMeE"] { width: 300px; } .__pf ._38k9hqD8[data-id="_38k9hqD8"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._db5mhXdg[data-id="_db5mhXdg"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf .__2MafmX2[data-id="__2MafmX2"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf ._PDnyfbyJ[data-id="_PDnyfbyJ"] { text-align: center; } .__pf ._0nMafb0n[data-id="_0nMafb0n"] { width: 300px; } .__pf ._483Lh_n8[data-id="_483Lh_n8"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._1wYmhl9w[data-id="_1wYmhl9w"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf .__e14fBLD[data-id="__e14fBLD"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf ._bDmbfbv2[data-id="_bDmbfbv2"] { text-align: center; } .__pf ._2YXXhL_Y[data-id="_2YXXhL_Y"] { color: white; font-family: Raleway; font-size: 48px; font-weight: 700; text-align: center; margin-top: 100px; text-transform: uppercase; letter-spacing: 2px; } .__pf ._5Da6S1Yr[data-id="_5Da6S1Yr"] { margin-top: 240px; } .__pf ._08pkhlW8[data-id="_08pkhlW8"] { text-transform: uppercase; letter-spacing: 2px; text-align: center; color: rgb(5, 117, 86); font-family: Raleway; font-weight: 500; font-size: 28px; } .__pf ._O1qqfOl1[data-id="_O1qqfOl1"] { width: 300px; } .__pf ._xmaph2km[data-id="_xmaph2km"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._9AOBh2Rb[data-id="_9AOBh2Rb"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf ._8ebBfVxD[data-id="_8ebBfVxD"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf ._NeAafar2[data-id="_NeAafar2"] { text-align: center; } .__pf ._l1WNfpYy[data-id="_l1WNfpYy"] { width: 300px; } .__pf ._6Vezho08[data-id="_6Vezho08"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._EwdYhzJg[data-id="_EwdYhzJg"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf ._VDlxf1ge[data-id="_VDlxf1ge"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf .__DMafOXD[data-id="__DMafOXD"] { text-align: center; } .__pf ._Wyz4f08y[data-id="_Wyz4f08y"] { width: 300px; } .__pf ._xmd7hrLm[data-id="_xmd7hrLm"] { margin: 0px 0px 10px; font-family: Raleway; font-size: 24px; font-weight: 500; color: white; } .__pf ._ag_4h2vA[data-id="_ag_4h2vA"] { font-family: Rubik; font-weight: 300; margin: 10px 15px 5px; text-align: left; font-size: 18px; color: white; line-height: 1.4; } .__pf ._6JZqfRZ2[data-id="_6JZqfRZ2"] { padding: 15px; background-color: rgb(0, 155, 109); margin-top: 20px; } .__pf .__W14fPLJ[data-id="__W14fPLJ"] { text-align: center; } .__pf ._JYo5hX08[data-id="_JYo5hX08"] { text-transform: uppercase; letter-spacing: 2px; color: rgb(5, 117, 86); font-family: Raleway; font-size: 28px; font-weight: 500; } .__pf ._X8qjh2vw[data-id="_X8qjh2vw"] { color: rgb(5, 117, 86); font-family: Rubik; font-weight: 400; font-size: 20px; } .__pf ._62vmfZ8D[data-id="_62vmfZ8D"] { text-align: center; } } @media only screen and (max-width: 767px) { .__pf ._WMNrhgLm[data-id="_WMNrhgLm"] { font-family: Raleway; font-size: 30px; } .__pf ._YzX5TkVz[data-id="_YzX5TkVz"] { width: 250px; text-align: right; } .__pf ._pDjPSVpN[data-id="_pDjPSVpN"] { text-align: right; margin-left: 80px; } } @media only screen and (min-width: 768px) and (max-width: 991px) { .__pf ._WMNrhgLm[data-id="_WMNrhgLm"] { font-family: Raleway; font-size: 40px; font-weight: 700; } .__pf ._E8r_h1zb[data-id="_E8r_h1zb"] { font-family: Rubik; font-size: 16px; font-weight: 400; } .__pf ._pDjPSVpN[data-id="_pDjPSVpN"] { margin-top: 200px; } } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _84kEtzlN" data-id="_84kEtzlN"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pDjPSVpN pb-grid pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_pDjPSVpN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8zJWTDkr" data-id="_8zJWTDkr"></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YzX5TkVz" data-id="_YzX5TkVz"><h3 class="_qaQP6rvk _WMNrhgLm" data-id="_WMNrhgLm" ><span class="_VWvqNvR9 _zVMOHAx9 _3JdPm85O" data-id="_zVMOHAx9">Tired of yet another<br>K-Cup?</span></h3><p class="_7XqAY8_A _E8r_h1zb" data-id="_E8r_h1zb"><span hidden="" class="_VWvqNvR9 _MnvzhMxD _2dknaNM0" data-id="_MnvzhMxD"></span><span class="_VWvqNvR9 _MnvzhMxD _ZGwmb_O6" data-id="_MnvzhMxD">Your morning coffee doesn't have to be mediocre</span></p></div></div></div></div></section><section class="_DblQBlAM _O1OVtkAW" data-id="_O1OVtkAW"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pNjPS1p3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pNjPS1p3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8pJWT0kj" data-id="_8pJWT0kj"><div class="_NYd6gvae _n2Owfnr2" data-id="_n2Owfnr2"></div><h3 class="_qaQP6rvk _bMKZhELM" data-id="_bMKZhELM" ><span class="_VWvqNvR9 _nVrbHEqY _3JdPm85O" data-id="_nVrbHEqY">3 WAYS K-CUP IS HOLDING YOU BACK</span></h3></div></div></div><div class="_pDNE0kYl _ag66SxPg pb-grid pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_ag66SxPg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Nj09Tkdn" data-id="_Nj09Tkdn"><div class="_NYd6gvae _KJzgfr3e" data-id="_KJzgfr3e"><picture class="_epNwrNGv _JykNfboE" data-id="_JykNfboE" ><img src="https://media.pagefly.io/file/get/ijdys3rjpg-1524163397660.jpg"></picture><div class="_NYd6gvae _NJAafXrW" data-id="_NJAafXrW"><h3 class="_qaQP6rvk _6YB0hlz8" data-id="_6YB0hlz8" ><span class="_VWvqNvR9 _J8ymHl6o _3JdPm85O" data-id="_J8ymHl6o">Coffee, Tea and What?</span></h3><p class="_7XqAY8_A _rAWWh7yA" data-id="_rAWWh7yA"><span hidden="" class="_VWvqNvR9 _2G6zhXLn _2dknaNM0" data-id="_2G6zhXLn"></span><span class="_VWvqNvR9 _2G6zhXLn _ZGwmb_O6" data-id="_2G6zhXLn">What's that aftertaste, you ask? Yeah, that came from last person's herbal tea.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _JzK4TDAj" data-id="_JzK4TDAj"><div class="_NYd6gvae _PDnyfbyJ" data-id="_PDnyfbyJ"><picture class="_epNwrNGv _N7JafMeE" data-id="_N7JafMeE" ><img src="https://media.pagefly.io/file/get/img_2743jpg-1524163441763.jpg"></picture><div class="_NYd6gvae __2MafmX2" data-id="__2MafmX2"><h3 class="_qaQP6rvk _38k9hqD8" data-id="_38k9hqD8" ><span class="_VWvqNvR9 _M873H71Y _3JdPm85O" data-id="_M873H71Y">You Call THAT Brewing?</span></h3><p class="_7XqAY8_A _db5mhXdg" data-id="_db5mhXdg"><span hidden="" class="_VWvqNvR9 _q3O2hLeD _2dknaNM0" data-id="_q3O2hLeD"></span><span class="_VWvqNvR9 _q3O2hLeD _ZGwmb_O6" data-id="_q3O2hLeD">You have no control over the water, time, nor the temperature.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2joMT7or" data-id="_2joMT7or"><div class="_NYd6gvae _bDmbfbv2" data-id="_bDmbfbv2"><picture class="_epNwrNGv _0nMafb0n" data-id="_0nMafb0n" ><img src="https://media.pagefly.io/file/get/dirtykeurigjpg-1524164107617.jpg"></picture><div class="_NYd6gvae __e14fBLD" data-id="__e14fBLD"><h3 class="_qaQP6rvk _483Lh_n8" data-id="_483Lh_n8" ><span class="_VWvqNvR9 _zV3RHO4o _3JdPm85O" data-id="_zV3RHO4o">Who Cleans Your Keurig?</span></h3><p class="_7XqAY8_A _1wYmhl9w" data-id="_1wYmhl9w"><span hidden="" class="_VWvqNvR9 _BDYghvW3 _2dknaNM0" data-id="_BDYghvW3"></span><span class="_VWvqNvR9 _BDYghvW3 _ZGwmb_O6" data-id="_BDYghvW3">Don't know? Probably because no one does!</span></p></div></div></div></div></div><div class="_pDNE0kYl _VDOZSM2g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VDOZSM2g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __rdyTa5p" data-id="__rdyTa5p"><div class="_NYd6gvae _wWPvfvlJ" data-id="_wWPvfvlJ"></div></div></div></div></div></section><section class="_DblQBlAM _LWrmtVrW" data-id="_LWrmtVrW"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _5Da6S1Yr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_5Da6S1Yr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2ja6TEwp" data-id="_2ja6TEwp"><h3 class="_qaQP6rvk _2YXXhL_Y" data-id="_2YXXhL_Y" ><span class="_VWvqNvR9 _QYw5Hzk8 _3JdPm85O" data-id="_QYw5Hzk8">Elevate Your Morning!</span></h3></div></div></div></div></section><section class="_DblQBlAM _ZW6Qt5q_" data-id="_ZW6Qt5q_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MNAOSZl3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MNAOSZl3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2jGKTRZn" data-id="_2jGKTRZn"><div class="_NYd6gvae _xDYxf9yJ" data-id="_xDYxf9yJ"></div><h3 class="_qaQP6rvk _08pkhlW8" data-id="_08pkhlW8" ><span class="_VWvqNvR9 _a8nZHqZ8 _3JdPm85O" data-id="_a8nZHqZ8">3 Ways to Elevate Your Morning</span></h3></div></div></div><div class="_pDNE0kYl _JD2WSl4r pb-grid pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_JD2WSl4r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _En6vTRwz" data-id="_En6vTRwz"><div class="_NYd6gvae _NeAafar2" data-id="_NeAafar2"><picture class="_epNwrNGv _O1qqfOl1" data-id="_O1qqfOl1" ><img src="https://media.pagefly.io/file/get/raw_coffee_bean_squarejpg-1524164382306.jpg"></picture><div class="_NYd6gvae _8ebBfVxD" data-id="_8ebBfVxD"><h3 class="_qaQP6rvk _xmaph2km" data-id="_xmaph2km" ><span class="_VWvqNvR9 _D9a2HX7V _3JdPm85O" data-id="_D9a2HX7V">Premium Vietnamese Coffee</span></h3><p class="_7XqAY8_A _9AOBh2Rb" data-id="_9AOBh2Rb"><span hidden="" class="_VWvqNvR9 _xDb7hXM_ _2dknaNM0" data-id="_xDb7hXM_"></span><span class="_VWvqNvR9 _xDb7hXM_ _ZGwmb_O6" data-id="_xDb7hXM_">We source the highest quality coffee beans straight from the central highlands of Vietnam.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZpeZTZwr" data-id="_ZpeZTZwr"><div class="_NYd6gvae __DMafOXD" data-id="__DMafOXD"><picture class="_epNwrNGv _l1WNfpYy" data-id="_l1WNfpYy" ><img src="https://media.pagefly.io/file/get/pourover-action-squarejpg-1524165199781.jpg"></picture><div class="_NYd6gvae _VDlxf1ge" data-id="_VDlxf1ge"><h3 class="_qaQP6rvk _6Vezho08" data-id="_6Vezho08" ><span class="_VWvqNvR9 _0YBRHB3V _3JdPm85O" data-id="_0YBRHB3V">Portable Pour Over</span></h3><p class="_7XqAY8_A _EwdYhzJg" data-id="_EwdYhzJg"><span hidden="" class="_VWvqNvR9 _2DZ4hqY_ _2dknaNM0" data-id="_2DZ4hqY_"></span><span class="_VWvqNvR9 _2DZ4hqY_ _ZGwmb_O6" data-id="_2DZ4hqY_">One of the most exquisite brewing techniques meets our innovative portable filter. Your coffee, you make the call.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9zyoT5yz" data-id="_9zyoT5yz"><div class="_NYd6gvae __W14fPLJ" data-id="__W14fPLJ"><picture class="_epNwrNGv _Wyz4f08y" data-id="_Wyz4f08y" ><img src="https://media.pagefly.io/file/get/picnic_squarejpg-1524165233070.jpg"></picture><div class="_NYd6gvae _6JZqfRZ2" data-id="_6JZqfRZ2"><h3 class="_qaQP6rvk _xmd7hrLm" data-id="_xmd7hrLm" ><span class="_VWvqNvR9 _18QmHr_o _3JdPm85O" data-id="_18QmHr_o">Biodegradable Filters</span></h3><p class="_7XqAY8_A _ag_4h2vA" data-id="_ag_4h2vA"><span hidden="" class="_VWvqNvR9 _BGEkh4Yn _2dknaNM0" data-id="_BGEkh4Yn"></span><span class="_VWvqNvR9 _BGEkh4Yn _ZGwmb_O6" data-id="_BGEkh4Yn">Every filter is biodegradable, so you can enjoy your coffee and know the earth is smiling back at you :)&nbsp;</span></p></div></div></div></div></div><div class="_pDNE0kYl _EgVdSe7D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_EgVdSe7D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Gr8gTa1z" data-id="_Gr8gTa1z"><div class="_NYd6gvae _6eZqf6ZD" data-id="_6eZqf6ZD"></div></div></div></div><div class="_pDNE0kYl _WrXKS9xN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WrXKS9xN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MzmRTXJr" data-id="_MzmRTXJr"><div class="_NYd6gvae _62vmfZ8D" data-id="_62vmfZ8D"><h3 class="_qaQP6rvk _JYo5hX08" data-id="_JYo5hX08" ><span class="_VWvqNvR9 _kVlEHDBo _3JdPm85O" data-id="_kVlEHDBo">Elevate Your Morning now!</span></h3><p class="_7XqAY8_A _X8qjh2vw" data-id="_X8qjh2vw"><span hidden="" class="_VWvqNvR9 _aGmLhEdD _2dknaNM0" data-id="_aGmLhEdD"></span><span class="_VWvqNvR9 _aGmLhEdD _ZGwmb_O6" data-id="_aGmLhEdD">Ditch the K-Cup and Enjoy <strong>25% Off</strong></span></p><div class="_9ADbNDlp _5wvoi5Zx pb-custom-html" data-id="_5wvoi5Zx"><div id="product-component-b51400a6c2b"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [652638191680],
        variantId: 7435279368256,
        node: document.getElementById('product-component-b51400a6c2b'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#009b6d",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#009b6d",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#009b6d",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#009b6d",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"115350"});
</script>