<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400,500|Rubik:400,300,300i,400,500"><style type="text/css">._VWvqNvR9 { vertical-align: middle; } ._KzlwM38p { position: relative; } ._O689JW7n { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._NYd6gvae { position: relative; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._9ADbNDlp { padding: 1rem 0; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; white-space: nowrap; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > * { color: inherit; text-decoration: inherit; line-height: inherit; vertical-align: middle !important; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._nDOwf0ZD[data-id="_nDOwf0ZD"] { height: 50px; } .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 500; color: white; font-size: 44px; text-align: center; } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { padding-right: 0px; padding-left: 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/covo_cafe_blurred_6png-1524760605550.png"); background-position: center center; height: 800px; padding-top: 100px; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/awareness_cropped_optimizedjpg-1522951036708.jpg"); height: 510px; background-position: center center; } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._NgpLh3Wb[data-id="_NgpLh3Wb"] { font-family: Rubik; font-weight: 400; font-size: 20px; text-align: center; } .__pf ._AVn5h0wm[data-id="_AVn5h0wm"] { font-family: Raleway; font-weight: 400; color: white; font-size: 36px; } .__pf ._d_P6tXQN[data-id="_d_P6tXQN"] { background-position: center center; padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/morning_cropped_optimizedjpg-1522949761367.jpg"); } .__pf ._rNpvtOV_[data-id="_rNpvtOV_"] { background-color: white; padding-top: 100px; } .__pf ._LeaxfqnD[data-id="_LeaxfqnD"] { text-align: center; } .__pf ._E8r_h1zb[data-id="_E8r_h1zb"] { font-family: Rubik; font-weight: 300; font-size: 20px; margin-top: 20px; margin-bottom: 20px; line-height: 1.4; text-align: left; font-style: italic; } .__pf ._AYzZhAvM[data-id="_AYzZhAvM"] { font-family: Rubik; font-weight: 500; font-size: 20px; padding-left: 10px; padding-top: 10px; } .__pf ._Nr09T_dj[data-id="_Nr09T_dj"] { text-align: center; } .__pf ._4nkbT1Aj[data-id="_4nkbT1Aj"] { text-align: center; } .__pf ._EzReTqDp[data-id="_EzReTqDp"] { background-color: rgb(236, 236, 236); padding: 20px; } .__pf ._3Mk9hnDM[data-id="_3Mk9hnDM"] { font-size: 44px; font-family: Raleway; font-weight: 500; } .__pf ._dg5mhQdw[data-id="_dg5mhQdw"] { font-size: 18px; line-height: 26px; } .__pf .__2PwHKkQ[data-id="__2PwHKkQ"] { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); border-style: none; border-radius: 3px; font-size: 16px; padding: 15px 30px; } .__pf .__2PwHKkQ[data-id="__2PwHKkQ"]:hover { background-color: rgb(0, 0, 0); } .__pf ._A1oat9X4[data-id="_A1oat9X4"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/simple_pour_optimizedjpg-1522948886486.jpg"); } .__pf ._3zAvTMQr[data-id="_3zAvTMQr"] { background-color: white; padding: 20px; } .__pf ._2jGKTRZn[data-id="_2jGKTRZn"] { text-align: center; background-color: white; padding: 20px; } .__pf ._aeK4f4O2[data-id="_aeK4f4O2"] { background-color: rgb(236, 236, 236); padding: 20px; } } @media only screen and (max-width: 767px) { .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { background-image: url("https://media.pagefly.io/file/get/covo_cafe_blurredpng-1524760508655.png"); } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { background-image: url("https://media.pagefly.io/file/get/awareness_optimizedjpg-1522951360966.jpg"); } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._vyZRflJn[data-id="_vyZRflJn"] { justify-content: center; } .__pf ._AVn5h0wm[data-id="_AVn5h0wm"] { font-size: 24px; } .__pf ._3Mk9hnDM[data-id="_3Mk9hnDM"] { font-size: 24px; } .__pf ._dg5mhQdw[data-id="_dg5mhQdw"] { font-size: 14px; line-height: 22px; } .__pf ._AYzZhAvM[data-id="_AYzZhAvM"] { margin-top: 20px; padding-top: 10px; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _a4eZtV1V" data-id="_a4eZtV1V"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl __rZASVrj pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVrj"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTGn2" data-id="_mrOWTGn2"><div class="_pDNE0kYl _WNXKSlng pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_WNXKSlng"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _MjmRTJ4z pb-mobile--hidden" data-id="_MjmRTJ4z"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTgVn" data-id="_mrOWTgVn"><picture class="_epNwrNGv _0yvbfKay" data-id="_0yvbfKay" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture></div></div><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TgOp pb-mobile--hidden" data-id="_YjM1TgOp"></div></div></div><div class="_NYd6gvae _nDOwf0ZD" data-id="_nDOwf0ZD"></div><h1 class="_qaQP6rvk _kMQyhQZM" data-id="_kMQyhQZM" ><span class="_VWvqNvR9 _voj3HeJo _3JdPm85O" data-id="_voj3HeJo">Craft Coffee at Your Fingertips</span></h1><div class="_pDNE0kYl _Vr9RSL2r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_Vr9RSL2r"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTN2r" data-id="_wr3GTN2r"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1nbJTyYj" data-id="_1nbJTyYj"><div class="_9ADbNDlp _RwaKiZxj pb-custom-html" data-id="_RwaKiZxj"><div id="product-component-1b9e9465291"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-1b9e9465291'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxTVep" data-id="_GpPxTVep"></div></div></div></div></div></div></div></section><section class="_DblQBlAM _rNpvtOV_" data-id="_rNpvtOV_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _PNoYS6Xr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_PNoYS6Xr"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _3zAvTMQr" data-id="_3zAvTMQr"><div class="_NYd6gvae _aeK4f4O2" data-id="_aeK4f4O2"><p class="_7XqAY8_A _E8r_h1zb" data-id="_E8r_h1zb"><span hidden="" class="_VWvqNvR9 _MnvzhMxD _2dknaNM0" data-id="_MnvzhMxD"></span><span class="_VWvqNvR9 _MnvzhMxD _ZGwmb_O6" data-id="_MnvzhMxD">"The origami design that allows you to brew coffee instantly, is simply genius! You can immediately smell the fresh roasted coffee as you start to pour the hot water. Stir in as little or as much as you want of the silky condensed milk to liken your taste for sweetness. Copper Cow's quality beats office blends and certainly the coffee chain brews. I keep CCC in the office and gift to office staff who love it as well!" 
</span></p></div><h3 class="_qaQP6rvk _AYzZhAvM" data-id="_AYzZhAvM" ><span class="_VWvqNvR9 _JYNRHa68 _3JdPm85O" data-id="_JYNRHa68">- Lolo on Amazon</span></h3></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _2jGKTRZn" data-id="_2jGKTRZn"><picture class="_epNwrNGv _61defX3y" data-id="_61defX3y" ><img src="https://media.pagefly.io/file/get/coffeeboxes5packb684x1024jpg-1524762250147.jpg"></picture></div></div></div></div></section><section class="_DblQBlAM _7Wjltlj_" data-id="_7Wjltlj_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _E3PQS4QN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_E3PQS4QN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _VrDeT_1n" data-id="_VrDeT_1n"><div class="_9ADbNDlp _PyA8ia9w pb-custom-html" data-id="_PyA8ia9w" ><div id="product-component-366febac174"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        variantId: 7435279368256,
        node: document.getElementById('product-component-366febac174'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "layout": "horizontal",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "options": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Get 25% Off Now"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section><section class="_DblQBlAM _A1oat9X4" data-id="_A1oat9X4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _KNlZSd6g pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_KNlZSd6g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZpeZTZwr" data-id="_ZpeZTZwr"><div class="_NYd6gvae __DMafOXD" data-id="__DMafOXD"><h2 class="_qaQP6rvk _3Mk9hnDM" data-id="_3Mk9hnDM" ><span class="_VWvqNvR9 _MY73H21V _3JdPm85O" data-id="_MY73H21V">Easy Vietnamese Craft Coffee</span></h2><div class="_9ADbNDlp __ezBiDmL pb-custom-html" data-id="__ezBiDmL" ><div id="product-component-7a223d5c0b6"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        variantId: 7435279368256,
        node: document.getElementById('product-component-7a223d5c0b6'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "240px",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Get 25% Off Now"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"116877"});
</script>