<link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/assets/1.3.9/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400,500|Rubik:400,400"><style type="text/css">._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; max-width: 100%; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK > * { color: inherit; text-decoration: inherit; vertical-align: middle !important; } ._43klRgVK__icon--none i, ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; display: block; text-align: inherit; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; max-width: 100%; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } ._ERbj1g7D { position: relative; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM[data-parallax="true"] { background: none !important; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._v8Vw3gRk { padding: 20px; margin: 0 -15px; } ._v8Vw3gRk--vertical ._v8Vw3gRk__infos { padding: 20px 0 0; } ._v8Vw3gRk--vertical.._v8Vw3gRk--noimage ._v8Vw3gRk__infos { padding-top: 0; } ._v8Vw3gRk__image img { max-width: 100%; } ._v8Vw3gRk__infos { padding-left: 30px } ._v8Vw3gRk--noimage ._v8Vw3gRk__infos { padding-left: 0; } ._v8Vw3gRk__infos > h3 { margin-top: 0; } ._v8Vw3gRk__prices { color: #232323; } ._v8Vw3gRk__actions { position: relative; } .product__variants + ._v8Vw3gRk__actions { margin-top: 15px; display: flex; } .product__variants + ._v8Vw3gRk__actions .js-qty { margin: 0 10px 0 0; width: 100px; } .product__variants + ._v8Vw3gRk__actions button { height: 42px; line-height: 42px; z-index: 1; } .product__variants + ._v8Vw3gRk__actions *:focus { outline: 0; } ._v8Vw3gRk input[name="quantity"] { max-width: 60px; position: absolute; margin-right: 3px; height: 100%; line-height: unset; } ._v8Vw3gRk .js-qty input[name="quantity"] { max-width: 100px; } ._v8Vw3gRk__prices { padding: 5px 0 15px 0; font-size: 20px; font-weight: bold; } ._v8Vw3gRk__vendor { margin-bottom: 0; } ._v8Vw3gRk__prices s { font-size: .7em; margin-right: 5px; } ._v8Vw3gRk__viewfull, ._v8Vw3gRk__desc { margin-top: 20px; display: block; } ._v8Vw3gRk ._v8Vw3gRk__viewfull { text-decoration: underline; } ._v8Vw3gRk ul, ._v8Vw3gRk ol { list-style-position: inside; margin: 10px 0; } ._v8Vw3gRk .product__button { padding: 0 1.5em; background: #55c148; color: #fff; border: none; display: inline-flex; align-items: center; height: 42px; line-height: 42px; } ._v8Vw3gRk input + .product__button { margin-left: 63px; } .product__button[disabled] { pointer-events: none; opacity: .7; } @media (max-width: 768px) { ._v8Vw3gRk__infos { padding-left: 0; margin-top: 20px; } } ._NYd6gvae { position: relative; } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } ._XQwxL5Bl a { color: inherit; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._9ADbNDlp { padding: 1rem 0; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-weight: 500; color: white; font-size: 44px; text-align: center; margin-top: 0px; margin-right: 60px; margin-bottom: 100px; } .__pf ._OpY9T_dj[data-id="_OpY9T_dj"] { text-align: right; } .__pf ._vgGQSKeg[data-id="_vgGQSKeg"] { color: white; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/background-2jpg-1528773617395.jpg"); background-position: 50% 0%; } .__pf ._X2aoHd8Q[data-id="_X2aoHd8Q"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(80, 227, 194); } .__pf ._QJrxfLYe[data-id="_QJrxfLYe"] { text-align: center; } .__pf ._bmKZhqLm[data-id="_bmKZhqLm"] { font-family: Raleway; text-align: center; font-size: 36px; font-weight: 400; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] ._6pVxb12e { font-size: 1em; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] ._6pVxb12e { font-size: 1em; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._ZzwvFLdb[data-id="_ZzwvFLdb"] ._6pVxb12e { font-size: 1em; } .__pf ._ZzwvFLdb[data-id="_ZzwvFLdb"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] ._6pVxb12e { font-size: 1em; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._73RkCDW3[data-id="_73RkCDW3"] { list-style-position: inside; list-style-type: none; } .__pf ._GQxwHvE4[data-id="_GQxwHvE4"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(80, 227, 194); } .__pf ._6DoQfpaD[data-id="_6DoQfpaD"] { text-align: center; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/awareness_cropped_optimizedjpg-1522951036708.jpg"); height: 510px; background-position: center center; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._z2znHvj4[data-id="_z2znHvj4"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(80, 227, 194); } .__pf .__DMafOXD[data-id="__DMafOXD"] { text-align: center; } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._NgpLh3Wb[data-id="_NgpLh3Wb"] { font-family: Rubik; font-weight: 400; font-size: 20px; text-align: center; } .__pf ._x4glHGx4[data-id="_x4glHGx4"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(80, 227, 194); } .__pf ._Kezgf43W[data-id="_Kezgf43W"] { text-align: center; } .__pf ._d_P6tXQN[data-id="_d_P6tXQN"] { background-position: center center; padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/morning_cropped_optimizedjpg-1522949761367.jpg"); } .__pf ._52xofAQD[data-id="_52xofAQD"] { padding-left: 15px; } .__pf .__2MafmX2[data-id="__2MafmX2"] { text-align: center; } .__pf ._8J3AfVnD[data-id="_8J3AfVnD"] { padding-left: 15px; } .__pf .__e14fBLD[data-id="__e14fBLD"] { text-align: center; } .__pf ._aJK4fvOW[data-id="_aJK4fvOW"] { padding-left: 15px; } .__pf ._8ebBfVxD[data-id="_8ebBfVxD"] { text-align: center; } } @media only screen and (max-width: 767px) { .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { background-image: url("https://media.pagefly.io/file/get/premium_adjusted_mobile_optimizedjpg-1522947868534.jpg"); } .__pf ._bmKZhqLm[data-id="_bmKZhqLm"] { font-family: Raleway; font-weight: 400; font-size: 22px; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] { text-align: left; padding-left: 10px; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] { text-align: left; padding-left: 10px; } .__pf ._ZzwvFLdb[data-id="_ZzwvFLdb"] { text-align: left; padding-left: 10px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { text-align: left; padding-left: 10px; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { background-image: url("https://media.pagefly.io/file/get/awareness_optimizedjpg-1522951360966.jpg"); } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._vyZRflJn[data-id="_vyZRflJn"] { justify-content: center; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="230"><section data-container="true" class="_DblQBlAM _5Nx0tqg4 _image_with_text_overlay" data-id="_5Nx0tqg4"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1485px;"><div class="_pDNE0kYl _pNjPS1p3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pNjPS1p3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8pJWT0kj" data-id="_8pJWT0kj"></div></div></div><div class="_pDNE0kYl _vgGQSKeg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_vgGQSKeg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTYdr" data-id="_xrBLTYdr" data-droppable="true"><div class="_pDNE0kYl _PD0ASMEr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_PD0ASMEr"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _Vrw8Txqz pb-mobile--hidden" data-id="_Vrw8Txqz"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _OpY9T_dj" data-id="_OpY9T_dj"></div></div></div><div class="_pDNE0kYl _orz6SL7N pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_orz6SL7N"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Bp9NT01z" data-id="_Bp9NT01z"><h1 class="_qaQP6rvk _3M46hexY" data-id="_3M46hexY" ><span class="_VWvqNvR9 _mopXH3W9 _title _3JdPm85O" data-id="_mopXH3W9">Keep the party going all night.</span></h1></div></div></div></div></div></div><div class="_pDNE0kYl _ag66SxPg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ag66SxPg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Nj09Tkdn" data-id="_Nj09Tkdn"></div></div></div></div></section><section data-container="true" class="_DblQBlAM _A_oatoX1 _image_with_text" data-id="_A_oatoX1"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _K3lZS06D pb-grid pb-grid--doubling pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_K3lZS06D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZreZTGwj" data-id="_ZreZTGwj"><div class="_NYd6gvae __2MafmX2" data-id="__2MafmX2" data-href="https://coppercowcoffee.com/products/coffee-wedding-favor"><picture class="_epNwrNGv _l7WNfmY1" data-id="_l7WNfmY1" ><img src="https://media.pagefly.io/file/get/ccc_site_1pack-1-1jpg-1536280556441.jpg"></picture><div class="_NYd6gvae _52xofAQD" data-id="_52xofAQD"><h2 class="_qaQP6rvk _D8xJhGAV" data-id="_D8xJhGAV" ><span class="_VWvqNvR9 _39WrHWyY _title _3JdPm85O" data-id="_39WrHWyY">Naked box</span></h2></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9pyoTDyp" data-id="_9pyoTDyp"><div class="_NYd6gvae __e14fBLD" data-id="__e14fBLD" data-href="https://coppercowcoffee.com/products/customized-coffee-wedding-favor"><picture class="_epNwrNGv _W1z4fv81" data-id="_W1z4fv81" ><img src="https://media.pagefly.io/file/get/customized-coffee-wedding-favorpng-1536281038719.png"></picture><div class="_NYd6gvae _8J3AfVnD" data-id="_8J3AfVnD"><h2 class="_qaQP6rvk _9VqbhBkV" data-id="_9VqbhBkV" ><span class="_VWvqNvR9 _QYqDH0GY _title _3JdPm85O" data-id="_QYqDH0GY">Just for you</span></h2></div></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _E_A5taJW _image_with_text" data-id="_E_A5taJW"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _e3baS4Ar pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_e3baS4Ar"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Xj_gT9yz" data-id="_Xj_gT9yz"><div class="_NYd6gvae _QJrxfLYe" data-id="_QJrxfLYe"><a class="_43klRgVK _X2aoHd8Q _43klRgVK__btn--outline _43klRgVK__btn--rect" target="_self"  data-id="_X2aoHd8Q" href="https://coppercowcoffee.myshopify.com/cart/7435279368256:1,12295847215168:1?discount=summer15"  data-flag="false"><span class="_VWvqNvR9 _Dbg2i5rx _text _ZGwmb_O6" data-id="_Dbg2i5rx">TRY NOW 15% OFF</span></a></div></div></div></div><div class="_pDNE0kYl _erkpSXvr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_erkpSXvr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YzX5TkVz" data-id="_YzX5TkVz"><h3 class="_qaQP6rvk _bmKZhqLm" data-id="_bmKZhqLm" ><span class="_VWvqNvR9 _norbH7qV _title _3JdPm85O" data-id="_norbH7qV">The best Vietnamese Coffee, Thai Tea, + California Milk<br></span></h3></div></div></div><div class="_pDNE0kYl _VgOZSj2r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VgOZSj2r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __pdyTB5z" data-id="__pdyTB5z"></div></div></div><div class="_pDNE0kYl _nrKlSQRD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_nrKlSQRD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _kjNbTvaj" data-id="_kjNbTvaj"><div class="_pDNE0kYl _prJPSeb3 pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_prJPSeb3"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _NpEWTyXj" data-id="_NpEWTyXj"><ul class="_1rloNvJ_ _73RkCDW3 pb-list" data-id="_73RkCDW3"><li class="_XQwxL5Bl _ybQZFYJE" data-id="_ybQZFYJE"><i class="_GwlbZrJE _153kFnmo _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_153kFnmo"></i><span class="_VWvqNvR9 _bxNBFW0D _title _3JdPm85O" data-id="_bxNBFW0D">&nbsp;5 servings Vietnamese Coffee</span></li><li class="_XQwxL5Bl _K9AVFglE" data-id="_K9AVFglE"><i class="_GwlbZrJE _kL2dFqAL _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_kL2dFqAL"></i><span class="_VWvqNvR9 _oV2PF0QV _title _3JdPm85O" data-id="_oV2PF0QV">&nbsp;5 servings Thai Tea</span></li><li class="_XQwxL5Bl _ZzwvFLdb" data-id="_ZzwvFLdb"><i class="_GwlbZrJE __502FMv6 _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="__502FMv6"></i><span class="_VWvqNvR9 _GV3gF2nD _title _3JdPm85O" data-id="_GV3gF2nD">&nbsp;No Equipment Needed</span></li><li class="_XQwxL5Bl _o9V8Fdy9" data-id="_o9V8Fdy9"><i class="_GwlbZrJE _0wW4F93w _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_0wW4F93w"></i><span class="_VWvqNvR9 _gZ49FMpZ _title _3JdPm85O" data-id="_gZ49FMpZ">&nbsp;Sustainably Sourced</span></li></ul></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _JnK4Tq_r" data-id="_JnK4Tq_r"><picture class="_epNwrNGv _ZnmqfkaE pb-mobile--hidden" data-id="_ZnmqfkaE" ><img src="https://media.pagefly.io/file/get/wooden_table_wide_optimizedjpg-1522949079899.jpg"></picture></div></div></div><picture class="_epNwrNGv _J70MfGmn pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_J70MfGmn" ><img src="https://media.pagefly.io/file/get/milkdown_optimizedjpg-1522952307588.jpg"></picture><div class="_NYd6gvae _ZDXjfY3W" data-id="_ZDXjfY3W"></div></div></div></div><div class="_pDNE0kYl _VNWPSqmr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VNWPSqmr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _4nkbT1Aj" data-id="_4nkbT1Aj"><div class="_NYd6gvae _6DoQfpaD" data-id="_6DoQfpaD"><a class="_43klRgVK _GQxwHvE4 _43klRgVK__btn--outline _43klRgVK__btn--rect" target="_self"  data-id="_GQxwHvE4" href="https://coppercowcoffee.myshopify.com/cart/7435279368256:1,12295847215168:1?discount=summer15"  data-flag="false"><span class="_VWvqNvR9 _R30Ei1Nx _text _ZGwmb_O6" data-id="_R30Ei1Nx">TRY NOW 15% OFF</span></a></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _E_A5tV0W _image_with_text_overlay" data-id="_E_A5tV0W"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yNvBSG1r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_yNvBSG1r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _WpV7T03r" data-id="_WpV7T03r"><div class="_NYd6gvae _3DkOfKbe" data-id="_3DkOfKbe"></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _P4gltd74" data-id="_P4gltd74"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPSvmD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPSvmD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTa9p" data-id="_ErQaTa9p"><h3 class="_qaQP6rvk _9Vqbh7zV" data-id="_9Vqbh7zV" ><span class="_VWvqNvR9 _QYqDHdyY _title _3JdPm85O" data-id="_QYqDHdyY">Proudly Women Owned + Sustainably Sourced<br>Try both today and enjoy 15% off and free shipping</span></h3></div></div></div></div></section><section data-container="true" class="_DblQBlAM _mWVZtl47 pb-mobile--hidden" data-id="_mWVZtl47"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _JD2WSXvr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_JD2WSXvr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _En6vTAKz" data-id="_En6vTAKz"></div></div></div><div class="_pDNE0kYl _Pgq6SYrl pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Pgq6SYrl"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GzxdTbzA" data-id="_GzxdTbzA"><div class="_pDNE0kYl _KNlZSd6g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_KNlZSd6g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZpeZTZwr" data-id="_ZpeZTZwr"><div class="_NYd6gvae __DMafOXD" data-id="__DMafOXD"><a class="_43klRgVK _z2znHvj4 _43klRgVK__btn--outline _43klRgVK__btn--rect" target="_self"  data-id="_z2znHvj4" href="https://coppercowcoffee.myshopify.com/cart/7435279368256:1,12295847215168:1?discount=summer15"  data-flag="false"><span class="_VWvqNvR9 _RxnwilX3 _text _ZGwmb_O6" data-id="_RxnwilX3">TRY NOW 15% OFF</span></a></div></div></div></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _z_wVtqJ4 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_z_wVtqJ4"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MgYKSP9r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MgYKSP9r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9zyoTV3z" data-id="_9zyoTV3z"><div class="_NYd6gvae __W14fVkJ" data-id="__W14fVkJ"></div></div></div></div><div class="_pDNE0kYl _ODxKSozD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ODxKSozD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Zzl2TQgj" data-id="_Zzl2TQgj"><div class="_9ADbNDlp _7LK6iBYw pb-custom-html" data-id="_7LK6iBYw"><div id="product-component-95434170ab8"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [652005539904],
        variantId: 7435279368256,
        node: document.getElementById('product-component-95434170ab8'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "380px",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _BWJQt5A_" data-id="_BWJQt5A_"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VD9RSO2D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VD9RSO2D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzQaTOkn" data-id="_EzQaTOkn"><h3 class="_qaQP6rvk _zmRRhJDm" data-id="_zmRRhJDm" ><span class="_VWvqNvR9 _v8g5HOn8 _title _3JdPm85O" data-id="_v8g5HOn8">What's in the Portable Pour Over Box?</span></h3><picture class="_epNwrNGv _vyZRflJn pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_vyZRflJn" ><img src="https://media.pagefly.io/file/get/5scatter_optimizedjpg-1522953017475.jpg"></picture></div></div></div><div class="_pDNE0kYl _Vr9RS66r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Vr9RS66r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTVqr" data-id="_wr3GTVqr"><picture class="_epNwrNGv _qywXf0A1 pb-mobile--hidden" data-id="_qywXf0A1" ><img src="https://media.pagefly.io/file/get/5scatter_bannerjpg-1522789661755.jpg"></picture></div></div></div><div class="_pDNE0kYl _WNLlSO9g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WNLlSO9g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1Tymp" data-id="_YjM1Tymp"><p class="_7XqAY8_A _NgpLh3Wb" data-id="_NgpLh3Wb"><span hidden="" class="_VWvqNvR9 _rDNBhzMG _dropcap _2dknaNM0" data-id="_rDNBhzMG"></span><span class="_VWvqNvR9 _rDNBhzMG _text _ZGwmb_O6" data-id="_rDNBhzMG">Each box contains five packs of pour over Vietnamese coffee and California sweetened milk.</span></p></div></div></div><div class="_pDNE0kYl _zgM5SQVr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_zgM5SQVr"></div><div class="_pDNE0kYl _5ga6SZY3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_5ga6SZY3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2ra6TKwz" data-id="_2ra6TKwz"><div class="_pDNE0kYl _ar66S7Pr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ar66S7Pr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Nr09T_dj" data-id="_Nr09T_dj"><div class="_NYd6gvae _Kezgf43W" data-id="_Kezgf43W"><a class="_43klRgVK _x4glHGx4 _43klRgVK__btn--outline _43klRgVK__btn--rect" target="_self"  data-id="_x4glHGx4" href="https://coppercowcoffee.myshopify.com/cart/7435279368256:1,12295847215168:1?discount=summer15"  data-flag="false"><span class="_VWvqNvR9 _v3MziW53 _text _ZGwmb_O6" data-id="_v3MziW53">TRY NOW 15% OFF</span></a></div></div></div></div></div></div></div><div class="_pDNE0kYl __DZASzLD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="__DZASzLD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mnOWT_Vp" data-id="_mnOWT_Vp"></div></div></div></div></section><section data-container="true" class="_DblQBlAM _d_P6tXQN _image_with_text_overlay" data-id="_d_P6tXQN"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ngKlSYRN pb-grid pb-grid--stackable pb-grid--aligned-topcenter pb-grid--equal-height" data-id="_ngKlSYRN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _knNbTwan" data-id="_knNbTwan"><div class="_NYd6gvae __W77fyRW" data-id="__W77fyRW"><div class="_9ADbNDlp _9ybRiW1x pb-custom-html" data-id="_9ybRiW1x"><div id="product-component-1040da0ceaa"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [652005539904],
        variantId: 7435279368256,
        node: document.getElementById('product-component-1040da0ceaa'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "240px",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"plan":"pro","shop_domain":"coppercowcoffee.myshopify.com","page_id":"157104"});(function(a){var d=a.createElement("script");d.src="https://cdn.pagefly.io/assets/pagefly/assets/1.3.9/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>