<link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/assets/1.3.9/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400,500|Roboto:400,500"><style type="text/css">._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._ERbj1g7D { position: relative; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM[data-parallax="true"] { background: none !important; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; max-width: 100%; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK > * { color: inherit; text-decoration: inherit; vertical-align: middle !important; } ._43klRgVK__icon--none i, ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; display: block; text-align: inherit; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; max-width: 100%; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } ._NYd6gvae { position: relative; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } ._XQwxL5Bl a { color: inherit; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-weight: 500; color: black; font-size: 36px; text-align: right; margin-top: 0px; margin-right: 30px; margin-bottom: 15px; } .__pf ._OpY9T_dj[data-id="_OpY9T_dj"] { text-align: right; } .__pf ._vgGQSKeg[data-id="_vgGQSKeg"] { color: white; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { padding: 20px 5px 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/_dsc0658jpg-1535693694972.jpg"); background-position: 50% 0%; height: 275px; } .__pf ._ry66fMOy[data-id="_ry66fMOy"] { width: 400px; } .__pf ._PrWPTVAn[data-id="_PrWPTVAn"] { text-align: center; } .__pf ._O7qqfWl7[data-id="_O7qqfWl7"] { width: 400px; margin-bottom: 0px; padding-bottom: 0px; } .__pf ._VrDeT_1n[data-id="_VrDeT_1n"] { text-align: center; } .__pf ._bmKZhqLm[data-id="_bmKZhqLm"] { font-family: Raleway; text-align: center; font-size: 36px; font-weight: 400; margin-top: 0px; } .__pf ._K3lZS06D[data-id="_K3lZS06D"] { margin-bottom: 0px; } .__pf ._qb6mHevb[data-id="_qb6mHevb"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(54, 58, 85); font-family: Raleway; } .__pf ._3DkOfOLe[data-id="_3DkOfOLe"] { text-align: center; padding-bottom: 35px; } .__pf ._9Aznh4qg[data-id="_9Aznh4qg"] { text-align: center; font-family: Raleway; font-size: 24px; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] ._6pVxb12e { font-size: 1em; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] { font-family: Raleway; font-weight: 400; font-size: 24px; line-height: 50px; padding-left: 375px; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] ._6pVxb12e { font-size: 1em; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] { font-family: Raleway; font-weight: 400; font-size: 24px; line-height: 50px; padding-left: 375px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] ._6pVxb12e { font-size: 1em; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { font-family: Raleway; font-weight: 400; font-size: 24px; line-height: 50px; padding-left: 375px; } .__pf ._pMjDCyqV[data-id="_pMjDCyqV"] { list-style-position: inside; list-style-type: none; text-align: left; font-family: Raleway; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/awareness_cropped_optimizedjpg-1522951036708.jpg"); height: 510px; background-position: center center; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._dDlwHeNb[data-id="_dDlwHeNb"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(54, 58, 85); font-family: Raleway; text-align: center; } .__pf ._YnM1Tq2r[data-id="_YnM1Tq2r"] { text-align: center; padding-bottom: 50px; } .__pf ._0WmatqY1[data-id="_0WmatqY1"] { padding-top: 0px; padding-bottom: 0px; } .__pf ._K8DJhk2M[data-id="_K8DJhk2M"] { text-transform: uppercase; letter-spacing: 2px; font-family: Raleway; font-size: 36px; font-weight: 500; text-align: center; color: white; margin-bottom: 40px; } .__pf ._9VqbhJlV[data-id="_9VqbhJlV"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._Zpl2TwGn[data-id="_Zpl2TwGn"] { text-align: center; } .__pf ._GV23hag8[data-id="_GV23hag8"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._3pAvTOZj[data-id="_3pAvTOZj"] { text-align: center; } .__pf ._0VpkhOkV[data-id="_0VpkhOkV"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._ErQaTldp[data-id="_ErQaTldp"] { text-align: center; } .__pf ._zmRRhgbm[data-id="_zmRRhgbm"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._9r5RTggj[data-id="_9r5RTggj"] { text-align: center; } .__pf ._319wtq8W[data-id="_319wtq8W"] { background-color: rgb(74, 74, 74); } .__pf ._LDRYH_r4[data-id="_LDRYH_r4"] { line-height: 2; font-size: 24px; color: white; background-color: rgb(54, 58, 85); font-family: Raleway; text-align: center; } .__pf ._OpY9TAAj[data-id="_OpY9TAAj"] { text-align: center; } } @media only screen and (max-width: 767px) { .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { background-image: url("https://media.pagefly.io/file/get/premium_adjusted_mobile_optimizedjpg-1522947868534.jpg"); } .__pf ._bmKZhqLm[data-id="_bmKZhqLm"] { font-family: Raleway; font-weight: 400; font-size: 22px; } .__pf ._ybQZFYJE[data-id="_ybQZFYJE"] { text-align: left; padding-left: 10px; } .__pf ._K9AVFglE[data-id="_K9AVFglE"] { text-align: left; padding-left: 10px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { text-align: left; padding-left: 10px; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { background-image: url("https://media.pagefly.io/file/get/awareness_optimizedjpg-1522951360966.jpg"); } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 400; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="230"><section data-container="true" class="_DblQBlAM _5Nx0tqg4 _image_with_text_overlay" data-id="_5Nx0tqg4"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1485px;"><div class="_pDNE0kYl _orz6SL7N pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_orz6SL7N"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Bp9NT01z" data-id="_Bp9NT01z"><h1 class="_qaQP6rvk _3M46hexY" data-id="_3M46hexY" ><span class="_VWvqNvR9 _mopXH3W9 _title _3JdPm85O" data-id="_mopXH3W9">Two distinct flavors. <br>Same premium experience.</span></h1></div></div></div><div class="_pDNE0kYl _pNjPS1p3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pNjPS1p3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8pJWT0kj" data-id="_8pJWT0kj"></div></div></div><div class="_pDNE0kYl _vgGQSKeg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_vgGQSKeg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTYdr" data-id="_xrBLTYdr"><div class="_pDNE0kYl _PD0ASMEr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_PD0ASMEr"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _Vrw8Txqz pb-mobile--hidden" data-id="_Vrw8Txqz"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _OpY9T_dj" data-id="_OpY9T_dj"></div></div></div></div></div></div><div class="_pDNE0kYl _ag66SxPg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ag66SxPg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Nj09Tkdn" data-id="_Nj09Tkdn"></div></div></div></div></section><section data-container="true" class="_DblQBlAM _E_A5taJW _image_with_text" data-id="_E_A5taJW"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _p3_nSpR3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_p3_nSpR3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _PrWPTVAn" data-id="_PrWPTVAn"><picture class="_epNwrNGv _ry66fMOy" data-id="_ry66fMOy" ><img src="https://media.pagefly.io/file/get/screen-shot-20180901-at-32650-pmpng-1535840831751.png"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _VrDeT_1n" data-id="_VrDeT_1n"><picture class="_epNwrNGv _O7qqfWl7" data-id="_O7qqfWl7" ><img src="https://media.pagefly.io/file/get/screen-shot-20180901-at-32416-pmpng-1535840693243.png"></picture></div></div></div><div class="_pDNE0kYl _K3lZS06D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_K3lZS06D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZreZTGwj" data-id="_ZreZTGwj"><h3 class="_qaQP6rvk _bmKZhqLm" data-id="_bmKZhqLm" ><span class="_VWvqNvR9 _norbH7qV _title _3JdPm85O" data-id="_norbH7qV">The Best Vietnamese Coffee, Thai Tea, + California Milk<br></span></h3></div></div></div><div class="_pDNE0kYl _VDOZSM2g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VDOZSM2g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __rdyTa5p" data-id="__rdyTa5p"><div class="_NYd6gvae _3DkOfOLe" data-id="_3DkOfOLe"><a class="_43klRgVK _qb6mHevb _43klRgVK__btn--outline _43klRgVK__btn--rect" target="_self"  data-id="_qb6mHevb" href="https://coppercowcoffee.myshopify.com/cart/7435279368256:1,12295847215168:1?discount=summer15"  data-flag="false"><span class="_VWvqNvR9 _zVjlinob _text _ZGwmb_O6" data-id="_zVjlinob">$25 Bundle + Free Shipping</span></a></div><p class="_7XqAY8_A _9Aznh4qg" data-id="_9Aznh4qg"><span hidden="" class="_VWvqNvR9 _9npXhpz_ _dropcap _2dknaNM0" data-id="_9npXhpz_"></span><span class="_VWvqNvR9 _9npXhpz_ _text _ZGwmb_O6" data-id="_9npXhpz_">Sample both of our bestselling flavors with our exclusive bundle offer. Enjoy the highest quality coffee and tea with our California sweetened condensed milk . No additional equipment required. Just place over any cup and add hot water for a fresh brew!&nbsp;&nbsp;</span></p><ul class="_1rloNvJ_ _pMjDCyqV pb-list" data-id="_pMjDCyqV"><li class="_XQwxL5Bl _ybQZFYJE" data-id="_ybQZFYJE"><i class="_GwlbZrJE _153kFnmo _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_153kFnmo"></i><span class="_VWvqNvR9 _bxNBFW0D _title _3JdPm85O" data-id="_bxNBFW0D">&nbsp;5 servings Vietnamese Coffee</span></li><li class="_XQwxL5Bl _K9AVFglE" data-id="_K9AVFglE"><i class="_GwlbZrJE _kL2dFqAL _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_kL2dFqAL"></i><span class="_VWvqNvR9 _oV2PF0QV _title _3JdPm85O" data-id="_oV2PF0QV">&nbsp;5 servings Thai Tea Drops</span></li><li class="_XQwxL5Bl _o9V8Fdy9" data-id="_o9V8Fdy9"><i class="_GwlbZrJE _0wW4F93w _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_0wW4F93w"></i><span class="_VWvqNvR9 _gZ49FMpZ _title _3JdPm85O" data-id="_gZ49FMpZ">&nbsp;10 servings Sweetened Condensed Milk</span></li></ul></div></div></div></div></section><section data-container="true" class="_DblQBlAM _z_wVtqJ4 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_z_wVtqJ4"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MgYKSP9r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MgYKSP9r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9zyoTV3z" data-id="_9zyoTV3z"><div class="_NYd6gvae __W14fVkJ" data-id="__W14fVkJ"></div></div></div></div><div class="_pDNE0kYl _ODxKSozD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ODxKSozD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Zzl2TQgj" data-id="_Zzl2TQgj"><div class="_9ADbNDlp _7LK6iBYw pb-custom-html" data-id="_7LK6iBYw"><div id="product-component-95434170ab8"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [652005539904],
        variantId: 7435279368256,
        node: document.getElementById('product-component-95434170ab8'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "380px",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"plan":"pro","shop_domain":"coppercowcoffee.myshopify.com","page_id":"115323"});(function(a){var d=a.createElement("script");d.src="https://cdn.pagefly.io/assets/pagefly/assets/1.3.9/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>