<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.3.0/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400|Roboto:400"><style type="text/css">._O689JW7n { position: relative; } ._ERbj1g7D { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._NYd6gvae { position: relative; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; max-width: 100%; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK > * { color: inherit; text-decoration: inherit; vertical-align: middle !important; } ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; display: block; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; max-width: 100%; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } ._XQwxL5Bl a { color: inherit; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._XmGBIemn[data-id="_XmGBIemn"] { justify-content: center; align-items: center; width: 70%; } .__pf ._7OZ4saRa[data-id="_7OZ4saRa"] { height: 40px; margin: 20px; } .__pf ._wLP6HPnq[data-id="_wLP6HPnq"] { font-family: Raleway; font-weight: 500; font-size: 42px; color: white; text-align: center; } .__pf ._6Vbls2xV[data-id="_6Vbls2xV"] { margin: 30px; } .__pf ._Ww6aFbZy[data-id="_Ww6aFbZy"] { font-family: Roboto; font-size: 18px; font-weight: 500; border-radius: 3px; border-style: none; background-color: rgb(11, 189, 158); color: white; } .__pf ._4nYLsaXB[data-id="_4nYLsaXB"] { margin: 20px; } .__pf ._O5eJToY3[data-id="_O5eJToY3"] { text-align: center; } .__pf ._q4DbU34M[data-id="_q4DbU34M"] { background-color: rgba(0, 0, 0, 0.7); margin-top: 10%; margin-bottom: 10%; padding: 20px; } .__pf ._bqr9CPeE[data-id="_bqr9CPeE"] { background-image: url("https://media.pagefly.io/file/get/countertop_cropped_optimizedjpg-1525810890082.jpg"); background-position: center center; background-size: cover; background-attachment: scroll; } .__pf ._lLj2HRpn[data-id="_lLj2HRpn"] { text-transform: uppercase; letter-spacing: 2px; font-family: Raleway; font-size: 36px; font-weight: 500; text-align: center; color: white; margin-bottom: 40px; } .__pf ._876ahzae[data-id="_876ahzae"] { color: white; font-family: Roboto; font-size: 20px; font-weight: 400; text-align: center; } .__pf ._EnmPHj5L[data-id="_EnmPHj5L"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._BK6vTp4Y[data-id="_BK6vTp4Y"] { text-align: center; } .__pf ._yLE2H_q9[data-id="_yLE2H_q9"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._ML8NTkXK[data-id="_ML8NTkXK"] { text-align: center; } .__pf ._lLNBH527[data-id="_lLNBH527"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._lYVETNba[data-id="_lYVETNba"] { text-align: center; } .__pf ._07ZBH0ln[data-id="_07ZBH0ln"] { font-family: Roboto; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._NL1XTpNa[data-id="_NL1XTpNa"] { text-align: center; } .__pf ._Ye2gCPMm[data-id="_Ye2gCPMm"] { background-color: rgb(74, 74, 74); } .__pf ._ELmPHG98[data-id="_ELmPHG98"] { font-family: Raleway; font-size: 36px; text-align: center; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; } .__pf ._MrmPhE8e[data-id="_MrmPhE8e"] { font-family: Roboto; font-size: 20px; font-weight: 400; text-align: center; } .__pf ._bBaksrB_[data-id="_bBaksrB_"] { text-align: center; } .__pf ._wN6VIqm5[data-id="_wN6VIqm5"] { border-style: none; margin: 20px; } .__pf ._v7B_H2go[data-id="_v7B_H2go"] { font-family: Roboto; font-size: 18px; font-weight: 500; margin-top: 30px; text-transform: uppercase; } .__pf .__7LWhlvA[data-id="__7LWhlvA"] { font-family: Roboto; font-weight: 400; font-size: 18px; text-align: center; } .__pf ._WKjNToaB[data-id="_WKjNToaB"] { padding: 20px; } .__pf ._XDjkIER0[data-id="_XDjkIER0"] { border-style: none; margin: 20px; } .__pf ._37AoHmn0[data-id="_37AoHmn0"] { font-family: Roboto; font-size: 18px; font-weight: 500; margin-top: 30px; text-transform: uppercase; } .__pf ._Ye0_hL67[data-id="_Ye0_hL67"] { font-family: Roboto; font-weight: 400; font-size: 18px; text-align: center; } .__pf ._ELNZTeKe[data-id="_ELNZTeKe"] { padding: 20px; } .__pf ._rlvxIODe[data-id="_rlvxIODe"] { border-style: none; margin: 20px; } .__pf ._w7Y6HN78[data-id="_w7Y6HN78"] { font-family: Roboto; font-size: 18px; font-weight: 500; margin-top: 30px; text-transform: uppercase; } .__pf ._X714hRqe[data-id="_X714hRqe"] { font-family: Roboto; font-weight: 400; font-size: 18px; text-align: center; } .__pf ._lYvET3Kv[data-id="_lYvET3Kv"] { padding: 20px; } .__pf ._Wn7EUY4r[data-id="_Wn7EUY4r"] { margin: 0px -20px; } .__pf ._NY1XToLz[data-id="_NY1XToLz"] { text-align: center; } .__pf ._yLGlHegK[data-id="_yLGlHegK"] { font-family: Raleway; font-size: 36px; text-align: left; text-transform: uppercase; letter-spacing: 2px; font-weight: 500; color: white; } .__pf ._XA14hqZk[data-id="_XA14hqZk"] { font-family: Roboto; font-size: 20px; font-weight: 300; text-align: left; color: white; } .__pf ._2PO9FMaX[data-id="_2PO9FMaX"] ._6pVxb12e { border-style: none; font-size: 1.2em; margin-right: 10px; } .__pf ._2PO9FMaX[data-id="_2PO9FMaX"] { font-family: Roboto; font-size: 20px; font-weight: 300; color: white; } .__pf ._AN6OFDEN[data-id="_AN6OFDEN"] ._6pVxb12e { font-size: 1.2em; margin-right: 10px; } .__pf ._AN6OFDEN[data-id="_AN6OFDEN"] { font-family: Roboto; font-size: 20px; font-weight: 300; color: white; } .__pf ._m3Q8Fno3[data-id="_m3Q8Fno3"] ._6pVxb12e { font-size: 1.2em; margin-right: 10px; } .__pf ._m3Q8Fno3[data-id="_m3Q8Fno3"] { font-family: Roboto; font-size: 20px; font-weight: 300; color: white; } .__pf ._z0xzFARK[data-id="_z0xzFARK"] { list-style-position: inside; list-style-type: none; } .__pf ._vZOaFQ4X[data-id="_vZOaFQ4X"] { font-family: Roboto; font-size: 18px; font-weight: 500; border-radius: 3px; border-style: none; background-color: rgb(11, 189, 158); color: white; text-align: center; } .__pf ._ERxWIXl5[data-id="_ERxWIXl5"] { justify-content: center; align-items: center; width: 100%; } .__pf ._OKeJT_oL[data-id="_OKeJT_oL"] { text-align: center; } .__pf ._7qzxCEeO[data-id="_7qzxCEeO"] { background-color: rgb(74, 74, 74); } .__pf ._E7JWHMV9[data-id="_E7JWHMV9"] { text-align: center; font-family: Raleway; font-size: 36px; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; } .__pf ._XRpjIb7D[data-id="_XRpjIb7D"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._69X5HKB9[data-id="_69X5HKB9"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf ._2LM_Tg_5[data-id="_2LM_Tg_5"] { text-align: center; } .__pf ._xRBBIKgR[data-id="_xRBBIKgR"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._RLoYHMv7[data-id="_RLoYHMv7"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf ._wKoWT295[data-id="_wKoWT295"] { text-align: center; } .__pf ._ONexIbkR[data-id="_ONexIbkR"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._l9j2HQ1L[data-id="_l9j2HQ1L"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf ._BK_7T1NK[data-id="_BK_7T1NK"] { text-align: center; } .__pf ._wR6VIkal[data-id="_wR6VIkal"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._ELmPHzB9[data-id="_ELmPHzB9"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf .__Yg0TBJY[data-id="__Yg0TBJY"] { text-align: center; } .__pf ._rNvxI70m[data-id="_rNvxI70m"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._l9NBHjon[data-id="_l9NBHjon"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf ._B56vTBPK[data-id="_B56vTBPK"] { text-align: center; } .__pf ._XmjkI0yD[data-id="_XmjkI0yD"] { margin: 20px; justify-content: center; align-items: center; width: 120px; } .__pf ._y9E2HdNg[data-id="_y9E2HdNg"] { font-family: Roboto; font-weight: 500; text-align: center; margin-top: 0px; font-size: 18px; } .__pf ._MY8NTZD5[data-id="_MY8NTZD5"] { text-align: center; } .__pf ._y4pGUPjg[data-id="_y4pGUPjg"] { margin: 0px -10px; } .__pf ._876ahaoe[data-id="_876ahaoe"] { text-align: center; font-family: Roboto; font-size: 30px; font-weight: 400; font-style: italic; background-color: rgb(155, 155, 155); color: white; padding: 20px; } .__pf ._Xmr6I6vm[data-id="_Xmr6I6vm"] { justify-content: center; align-items: center; width: 100px; } .__pf ._ZLBbTmlK[data-id="_ZLBbTmlK"] { text-align: right; } .__pf ._qg0AHdmn[data-id="_qg0AHdmn"] { font-family: Roboto; font-weight: 500; font-size: 24px; } .__pf ._XeBMhG_Z[data-id="_XeBMhG_Z"] { font-family: Roboto; font-weight: 300; font-style: italic; font-size: 18px; } .__pf ._25M_Tg7Y[data-id="_25M_Tg7Y"] { text-align: left; } .__pf ._1KxVT335[data-id="_1KxVT335"] { text-align: left; } .__pf ._MgyxH3k9[data-id="_MgyxH3k9"] { font-family: Raleway; font-size: 34px; font-weight: 500; text-align: left; color: white; text-transform: uppercase; letter-spacing: 2px; } .__pf ._Orowh487[data-id="_Orowh487"] { text-align: left; font-family: Roboto; font-size: 20px; font-weight: 300; color: white; } .__pf ._WLkRTdRL[data-id="_WLkRTdRL"] { text-align: left; } .__pf ._w7P6HePg[data-id="_w7P6HePg"] { text-transform: uppercase; font-family: Raleway; font-size: 34px; font-weight: 500; text-align: left; color: white; } .__pf ._vZvphK2e[data-id="_vZvphK2e"] { padding-right: 200px; font-family: Roboto; font-size: 20px; font-weight: 300; color: white; text-align: left; } .__pf ._1axVT3WL[data-id="_1axVT3WL"] { text-align: left; } .__pf ._WKkRTdDK[data-id="_WKkRTdDK"] { text-align: right; } .__pf .__VxYs3PB[data-id="__VxYs3PB"] { margin: 20px; } .__pf ._Qp0jCl7W[data-id="_Qp0jCl7W"] { background-color: rgb(74, 74, 74); } .__pf ._0VQrswDR[data-id="_0VQrswDR"] { margin: 40px; } .__pf ._vgB_Hv29[data-id="_vgB_Hv29"] { text-transform: uppercase; letter-spacing: 2px; font-family: Raleway; font-size: 36px; text-align: center; font-weight: 500; color: black; } .__pf ._V7V5honr[data-id="_V7V5honr"] { font-family: Roboto; font-size: 20px; font-weight: 400; text-align: center; color: black; } .__pf ._NVXvsYWV[data-id="_NVXvsYWV"] { text-align: center; } .__pf ._8VqeskzR[data-id="_8VqeskzR"] { margin: 40px; } .__pf .__p59COje[data-id="__p59COje"] { background-color: white; } } @media only screen and (max-width: 767px) { .__pf ._ZLBbTmlK[data-id="_ZLBbTmlK"] { text-align: center; } .__pf ._qg0AHdmn[data-id="_qg0AHdmn"] { text-align: center; } .__pf ._XeBMhG_Z[data-id="_XeBMhG_Z"] { text-align: center; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="230"><section class="_DblQBlAM _bqr9CPeE" data-id="_bqr9CPeE"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _q4DbU34M pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_q4DbU34M"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _O5eJToY3" data-id="_O5eJToY3"><picture class="_epNwrNGv _XmGBIemn" data-id="_XmGBIemn" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture><div class="_NYd6gvae _7OZ4saRa" data-id="_7OZ4saRa"></div><h3 class="_qaQP6rvk _wLP6HPnq _qaQP6rvk__icon--left" data-id="_wLP6HPnq" ><span class="_VWvqNvR9 _VmjPH_yP _title _3JdPm85O" data-id="_VmjPH_yP" data-name="title">OFFICE COFFEE THAT CAN #KeepUp</span></h3><div class="_NYd6gvae _6Vbls2xV" data-id="_6Vbls2xV"></div><a id="ctaOfficeSubA1Top" class="_43klRgVK _Ww6aFbZy _43klRgVK__btn--rect _43klRgVK__icon--left" target="_self"  data-id="_Ww6aFbZy" href="#requestSection"  data-flag="false"><span class="_VWvqNvR9 _OEzdiKDz _text _ZGwmb_O6" data-id="_OEzdiKDz" data-name="text">Request Free Sample</span></a><div class="_NYd6gvae _4nYLsaXB" data-id="_4nYLsaXB"></div></div></div></div></div></section><section class="_DblQBlAM _Ye2gCPMm" data-id="_Ye2gCPMm"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _d50PU32g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_d50PU32g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _AK0VT7zL" data-id="_AK0VT7zL"><h3 class="_qaQP6rvk _lLj2HRpn _qaQP6rvk__icon--left" data-id="_lLj2HRpn" ><span class="_VWvqNvR9 _OrP3He5y _title _3JdPm85O" data-id="_OrP3He5y" data-name="title">Pour over coffee FOR ALL<br></span></h3><p class="_7XqAY8_A _876ahzae" data-id="_876ahzae"><span hidden="" class="_VWvqNvR9 _onWVhAVj _dropcap _2dknaNM0" data-id="_onWVhAVj" data-name="dropcap"></span><span class="_VWvqNvR9 _onWVhAVj _text _ZGwmb_O6" data-id="_onWVhAVj" data-name="text">Ditch the K-cup and bring the <b>easiest pour over coffee </b>to your office.</span></p><div class="_pDNE0kYl _3nvLUJ2g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_3nvLUJ2g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _BK6vTp4Y" data-id="_BK6vTp4Y"><h3 class="_qaQP6rvk _EnmPHj5L _qaQP6rvk__icon--left" data-id="_EnmPHj5L" ><span class="_VWvqNvR9 _5moxH6Xy _title _3JdPm85O" data-id="_5moxH6Xy" data-name="title">Tear</span></h3><picture class="_epNwrNGv _xRO9I2wm" data-id="_xRO9I2wm" ><img src="https://media.pagefly.io/file/get/tear_optimizedjpg-1525200181766.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ML8NTkXK" data-id="_ML8NTkXK"><h3 class="_qaQP6rvk _yLE2H_q9 _qaQP6rvk__icon--left" data-id="_yLE2H_q9" ><span class="_VWvqNvR9 _1rglHZAr _title _3JdPm85O" data-id="_1rglHZAr" data-name="title">Hang</span></h3><picture class="_epNwrNGv _vDkQIEKm" data-id="_vDkQIEKm" ><img src="https://media.pagefly.io/file/get/hang_optimizedjpg-1525200174677.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _lYVETNba" data-id="_lYVETNba"><h3 class="_qaQP6rvk _lLNBH527 _qaQP6rvk__icon--left" data-id="_lLNBH527" ><span class="_VWvqNvR9 _2rpDH9By _title _3JdPm85O" data-id="_2rpDH9By" data-name="title">Pour</span></h3><picture class="_epNwrNGv _Qm7XI9PN" data-id="_Qm7XI9PN" ><img src="https://media.pagefly.io/file/get/pour_optimizedjpg-1525200195736.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _NL1XTpNa" data-id="_NL1XTpNa"><h3 class="_qaQP6rvk _07ZBH0ln _qaQP6rvk__icon--left" data-id="_07ZBH0ln" ><span class="_VWvqNvR9 _68O7HzVN _title _3JdPm85O" data-id="_68O7HzVN" data-name="title">Squeeze</span></h3><picture class="_epNwrNGv _gD_WIGZN" data-id="_gD_WIGZN" ><img src="https://media.pagefly.io/file/get/squeeze_optimizedjpg-1525200204997.jpg"></picture></div></div></div></div></div></div></div></section><section class="_DblQBlAM _0mKaC7eL" data-id="_0mKaC7eL"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _r4lJU6ne pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_r4lJU6ne"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _NY1XToLz" data-id="_NY1XToLz"><div class="_NYd6gvae _bBaksrB_" data-id="_bBaksrB_"><h3 class="_qaQP6rvk _ELmPHG98 _qaQP6rvk__icon--left" data-id="_ELmPHG98" ><span class="_VWvqNvR9 _58oxHemd _title _3JdPm85O" data-id="_58oxHemd" data-name="title">POUR OVER Coffee MADE EASY</span></h3><p class="_7XqAY8_A _MrmPhE8e" data-id="_MrmPhE8e"><span hidden="" class="_VWvqNvR9 _qEgxhaOn _dropcap _2dknaNM0" data-id="_qEgxhaOn" data-name="dropcap"></span><span class="_VWvqNvR9 _qEgxhaOn _text _ZGwmb_O6" data-id="_qEgxhaOn" data-name="text">We traveled to the highlands of Vietnam to bring you the best Vietnamese coffee experience.</span></p></div><div class="_pDNE0kYl _Wn7EUY4r pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_Wn7EUY4r"><div class=" grid__column" style="padding: 20px;"><div class="_O689JW7n _WKjNToaB" data-id="_WKjNToaB"><picture class="_epNwrNGv _wN6VIqm5 image--circle" data-id="_wN6VIqm5" ><img src="https://media.pagefly.io/file/get/raw_coffee_bean_squarejpg-1524164382306.jpg"></picture><h3 class="_qaQP6rvk _v7B_H2go _qaQP6rvk__icon--left" data-id="_v7B_H2go" ><span class="_VWvqNvR9 _9y0pHWrZ _title _3JdPm85O" data-id="_9y0pHWrZ" data-name="title">The <b>Best </b>Beans</span></h3><p class="_7XqAY8_A __7LWhlvA" data-id="__7LWhlvA"><span hidden="" class="_VWvqNvR9 _6DLBhwQD _dropcap _2dknaNM0" data-id="_6DLBhwQD" data-name="dropcap"></span><span class="_VWvqNvR9 _6DLBhwQD _text _ZGwmb_O6" data-id="_6DLBhwQD" data-name="text">We tried over 40 suppliers<br>in Vietnam to find them</span></p></div></div><div class=" grid__column" style="padding: 20px;"><div class="_O689JW7n _ELNZTeKe" data-id="_ELNZTeKe"><picture class="_epNwrNGv _XDjkIER0 image--circle" data-id="_XDjkIER0" ><img src="https://media.pagefly.io/file/get/img_0310768x762jpg-1525222100263.jpg"></picture><h3 class="_qaQP6rvk _37AoHmn0 _qaQP6rvk__icon--left" data-id="_37AoHmn0" ><span class="_VWvqNvR9 _BN_aHzyO _title _3JdPm85O" data-id="_BN_aHzyO" data-name="title"><b>Pour Over</b> Anywhere
<br></span></h3><p class="_7XqAY8_A _Ye0_hL67" data-id="_Ye0_hL67"><span hidden="" class="_VWvqNvR9 _yn0WhyRj _dropcap _2dknaNM0" data-id="_yn0WhyRj" data-name="dropcap"></span><span class="_VWvqNvR9 _yn0WhyRj _text _ZGwmb_O6" data-id="_yn0WhyRj" data-name="text">Premium brewing<br>100% biodegradable filters<br>No equipment required</span></p></div></div><div class=" grid__column" style="padding: 20px;"><div class="_O689JW7n _lYvET3Kv" data-id="_lYvET3Kv"><picture class="_epNwrNGv _rlvxIODe image--circle" data-id="_rlvxIODe" ><img src="https://media.pagefly.io/file/get/creamer6_sqjpg-1525222246424.jpg"></picture><h3 class="_qaQP6rvk _w7Y6HN78 _qaQP6rvk__icon--left" data-id="_w7Y6HN78" ><span class="_VWvqNvR9 _amRGHqyX _title _3JdPm85O" data-id="_amRGHqyX" data-name="title">Squeeze in <b>Goodness</b></span></h3><p class="_7XqAY8_A _X714hRqe" data-id="_X714hRqe"><span hidden="" class="_VWvqNvR9 _yD1OhZJD _dropcap _2dknaNM0" data-id="_yD1OhZJD" data-name="dropcap"></span><span class="_VWvqNvR9 _yD1OhZJD _text _ZGwmb_O6" data-id="_yD1OhZJD" data-name="text">Real California Milk + Sugar
<br>No preservatives/artificial flavors
<br>No refrigeration required<br></span></p></div></div></div></div></div></div></div></section><section class="_DblQBlAM _7qzxCEeO" data-id="_7qzxCEeO"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _d5BKUanp pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_d5BKUanp"></div><div class="_pDNE0kYl _Wn7EU774 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Wn7EU774"></div><div class="_pDNE0kYl _35wOUdQ5 pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_35wOUdQ5"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _8570TlOY" data-id="_8570TlOY"><h3 class="_qaQP6rvk _yLGlHegK _qaQP6rvk__icon--left" data-id="_yLGlHegK" ><span class="_VWvqNvR9 _0yGOHdN2 _title _3JdPm85O" data-id="_0yGOHdN2" data-name="title">Brew Station Subscription</span></h3><p class="_7XqAY8_A _XA14hqZk" data-id="_XA14hqZk"><span hidden="" class="_VWvqNvR9 _yE1OhJE0 _dropcap _2dknaNM0" data-id="_yE1OhJE0" data-name="dropcap"></span><span class="_VWvqNvR9 _yE1OhJE0 _text _ZGwmb_O6" data-id="_yE1OhJE0" data-name="text">Experience convenience and elegance<br>brought to you by Copper Cow Coffee</span></p><ul class="_1rloNvJ_ _z0xzFARK pb-list" data-id="_z0xzFARK"><li class="_XQwxL5Bl _2PO9FMaX" data-id="_2PO9FMaX"><i class="_GwlbZrJE _9_yWF2vX _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_9_yWF2vX" data-name="icon"></i><span class="_VWvqNvR9 _7D3JFxLQ _title _3JdPm85O" data-id="_7D3JFxLQ" data-name="title">Automatically delivered</span></li><li class="_XQwxL5Bl _AN6OFDEN" data-id="_AN6OFDEN"><i class="_GwlbZrJE _VD6RFek3 _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_VD6RFek3" data-name="icon"></i><span class="_VWvqNvR9 _dNEkFLr2 _title _3JdPm85O" data-id="_dNEkFLr2" data-name="title">No equipment needed</span></li><li class="_XQwxL5Bl _m3Q8Fno3" data-id="_m3Q8Fno3"><i class="_GwlbZrJE _a_ELF9M3 _icon _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_a_ELF9M3" data-name="icon"></i><span class="_VWvqNvR9 _VyxpF7kQ _title _3JdPm85O" data-id="_VyxpF7kQ" data-name="title">Just add hot water</span></li></ul><a id="ctaOfficeSubA1Mid" class="_43klRgVK _vZOaFQ4X _43klRgVK__btn--rect _43klRgVK__icon--left" target="_self"  data-id="_vZOaFQ4X" href="#requestSection"  data-flag="false"><span class="_VWvqNvR9 _QxZ5iXN9 _text _ZGwmb_O6" data-id="_QxZ5iXN9" data-name="text">Request Free Sample</span></a></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _XKlZT_ea" data-id="_XKlZT_ea"><picture class="_epNwrNGv _ERxWIXl5" data-id="_ERxWIXl5" ><img src="https://media.pagefly.io/file/get/brew_station_countertop_croppedjpg-1525299940050.jpg"></picture></div></div></div><div class="_pDNE0kYl _qgDbUa3g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_qgDbUa3g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _OKeJT_oL" data-id="_OKeJT_oL"></div></div></div></div></section><section class="_DblQBlAM _kqP7CGZq" data-id="_kqP7CGZq"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _q5QlUMkg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_q5QlUMkg"></div><div class="_pDNE0kYl _rzJbUAr5 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_rzJbUAr5"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _XKlZT4qa" data-id="_XKlZT4qa"><h3 class="_qaQP6rvk _E7JWHMV9 _qaQP6rvk__icon--left" data-id="_E7JWHMV9" ><span class="_VWvqNvR9 _ANJRHaLm _title _3JdPm85O" data-id="_ANJRHaLm" data-name="title">Join Our Happy Customers</span></h3></div></div></div><div class="_pDNE0kYl _OzLXUyZ4 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_OzLXUyZ4"></div><div class="_pDNE0kYl _y4pGUPjg pb-grid pb-grid--stackable pb-grid--aligned-topcenter pb-grid--automatic pb-grid--equal-height" data-id="_y4pGUPjg"><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n _2LM_Tg_5" data-id="_2LM_Tg_5"><picture class="_epNwrNGv _XRpjIb7D" data-id="_XRpjIb7D" ><img src="https://media.pagefly.io/file/get/500startupspng-1525746401238.png" title="500Startups"></picture><h3 class="_qaQP6rvk _69X5HKB9 _qaQP6rvk__icon--left" data-id="_69X5HKB9" ><span class="_VWvqNvR9 _Dy9kHe6y _title _3JdPm85O" data-id="_Dy9kHe6y" data-name="title">500Startups</span></h3></div></div><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n _wKoWT295" data-id="_wKoWT295"><picture class="_epNwrNGv _xRBBIKgR" data-id="_xRBBIKgR" ><img src="https://media.pagefly.io/file/get/apponboardsquarelogopng-1525746414890.png"></picture><h3 class="_qaQP6rvk _RLoYHMv7 _qaQP6rvk__icon--left" data-id="_RLoYHMv7" ><span class="_VWvqNvR9 _Grn5HZA8 _title _3JdPm85O" data-id="_Grn5HZA8" data-name="title">AppOnBoard</span></h3></div></div><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n _BK_7T1NK" data-id="_BK_7T1NK"><picture class="_epNwrNGv _ONexIbkR" data-id="_ONexIbkR" ><img src="https://media.pagefly.io/file/get/industriousjpg-1525746434386.jpg"></picture><h3 class="_qaQP6rvk _l9j2HQ1L _qaQP6rvk__icon--left" data-id="_l9j2HQ1L" ><span class="_VWvqNvR9 _OyP3HYgm _title _3JdPm85O" data-id="_OyP3HYgm" data-name="title">Industrious</span></h3></div></div><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n __Yg0TBJY" data-id="__Yg0TBJY"><picture class="_epNwrNGv _wR6VIkal" data-id="_wR6VIkal" ><img src="https://media.pagefly.io/file/get/lucidsightjpg-1525746459520.jpg"></picture><h3 class="_qaQP6rvk _ELmPHzB9 _qaQP6rvk__icon--left" data-id="_ELmPHzB9" ><span class="_VWvqNvR9 _58oxH_Bm _title _3JdPm85O" data-id="_58oxH_Bm" data-name="title">Lucid Sight</span></h3></div></div><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n _B56vTBPK" data-id="_B56vTBPK"><picture class="_epNwrNGv _rNvxI70m" data-id="_rNvxI70m" ><img src="https://media.pagefly.io/file/get/neighborlyiconpng-1525746484926.png"></picture><h3 class="_qaQP6rvk _l9NBHjon _qaQP6rvk__icon--left" data-id="_l9NBHjon" ><span class="_VWvqNvR9 _2ypDHG6m _title _3JdPm85O" data-id="_2ypDHG6m" data-name="title">Neighborly</span></h3></div></div><div class=" grid__column" style="padding: 10px;"><div class="_O689JW7n _MY8NTZD5" data-id="_MY8NTZD5"><picture class="_epNwrNGv _XmjkI0yD" data-id="_XmjkI0yD" ><img src="https://media.pagefly.io/file/get/system1png-1525746474720.png"></picture><h3 class="_qaQP6rvk _y9E2HdNg _qaQP6rvk__icon--left" data-id="_y9E2HdNg" ><span class="_VWvqNvR9 _1yglHYxy _title _3JdPm85O" data-id="_1yglHYxy" data-name="title">System1</span></h3></div></div></div><div class="_pDNE0kYl _G4OZU1qn pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_G4OZU1qn"></div><div class="_pDNE0kYl _142EUE9g pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_142EUE9g"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _BL_7T1_L" data-id="_BL_7T1_L"></div></div><div class=" pb-six-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n __ag0TB3a" data-id="__ag0TB3a"><div class="_pDNE0kYl _lzY7U0ag pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_lzY7U0ag"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _65OVTmEL" data-id="_65OVTmEL"><p class="_7XqAY8_A _876ahaoe" data-id="_876ahaoe"><span hidden="" class="_VWvqNvR9 _onWVhVlj _dropcap _2dknaNM0" data-id="_onWVhVlj" data-name="dropcap"></span><span class="_VWvqNvR9 _onWVhVlj _text _ZGwmb_O6" data-id="_onWVhVlj" data-name="text">"I'm a coffee snob and this couldn't be more ideal for an office."</span></p></div></div></div><div class="_pDNE0kYl _L4GOUPyz pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_L4GOUPyz"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _ZLBbTmlK" data-id="_ZLBbTmlK"><picture class="_epNwrNGv _Xmr6I6vm image--circle" data-id="_Xmr6I6vm" ><img src="https://media.pagefly.io/file/get/1725607largejpg-1525304035325.jpg"></picture></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _25M_Tg7Y" data-id="_25M_Tg7Y"><h3 class="_qaQP6rvk _qg0AHdmn _qaQP6rvk__icon--left" data-id="_qg0AHdmn" ><span class="_VWvqNvR9 _38veHxay _title _3JdPm85O" data-id="_38veHxay" data-name="title">Jessica Tan</span></h3><p class="_7XqAY8_A _XeBMhG_Z" data-id="_XeBMhG_Z"><span hidden="" class="_VWvqNvR9 _vnGAh7Yj _dropcap _2dknaNM0" data-id="_vnGAh7Yj" data-name="dropcap"></span><span class="_VWvqNvR9 _vnGAh7Yj _text _ZGwmb_O6" data-id="_vnGAh7Yj" data-name="text">500 Startups, San Francisco</span></p></div></div></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _BY6vTB4L" data-id="_BY6vTB4L"></div></div></div><div class="_pDNE0kYl _WgABUD14 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WgABUD14"></div></div></section><section class="_DblQBlAM _Qp0jCl7W" data-id="_Qp0jCl7W"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ygpGUdWz pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ygpGUdWz"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2aM_T87K" data-id="_2aM_T87K"></div></div></div><div class="_pDNE0kYl _0n6QUV0z pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_0n6QUV0z"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1KxVT335" data-id="_1KxVT335"><picture class="_epNwrNGv _Vl8QI_wl" data-id="_Vl8QI_wl" ><img src="https://media.pagefly.io/file/get/pour_cropped_2_optimizedjpg-1525745885222.jpg"></picture></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _WLkRTdRL" data-id="_WLkRTdRL"><h3 class="_qaQP6rvk _MgyxH3k9 _qaQP6rvk__icon--left" data-id="_MgyxH3k9" ><span class="_VWvqNvR9 _3rX0HdLr _title _3JdPm85O" data-id="_3rX0HdLr" data-name="title">Pour Over Craft</span></h3><p class="_7XqAY8_A _Orowh487" data-id="_Orowh487"><span hidden="" class="_VWvqNvR9 _Pj38h09j _dropcap _2dknaNM0" data-id="_Pj38h09j" data-name="dropcap"></span><span class="_VWvqNvR9 _Pj38h09j _text _ZGwmb_O6" data-id="_Pj38h09j" data-name="text">Pour over is an easy and elegant way to brew coffee. Unpackage our compostable filter, place it over a cup, and add hot water to enjoy speciality Vietnamese coffee.</span></p></div></div></div><div class="_pDNE0kYl _0z6QUVX4 pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_0z6QUVX4"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1axVT3WL" data-id="_1axVT3WL"><h3 class="_qaQP6rvk _w7P6HePg _qaQP6rvk__icon--left" data-id="_w7P6HePg" ><span class="_VWvqNvR9 _VrjPHg_N _title _3JdPm85O" data-id="_VrjPHg_N" data-name="title">Sweetened Condensed Milk</span></h3><p class="_7XqAY8_A _vZvphK2e" data-id="_vZvphK2e"><span hidden="" class="_VWvqNvR9 _wDrzhGOn _dropcap _2dknaNM0" data-id="_wDrzhGOn" data-name="dropcap"></span><span class="_VWvqNvR9 _wDrzhGOn _text _ZGwmb_O6" data-id="_wDrzhGOn" data-name="text">Sweetened condensed milk is designed to balance the strong and full-bodied flavor of our dark roast and create the perfect cup of Vietnamese-style coffee. <br><br>Each packet of Copper Cow Creamer contains sweetened condensed milk made from real California milk and sugar.<br><br>No artificial flavors or preservatives. No refrigeration required.</span></p></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _WKkRTdDK" data-id="_WKkRTdDK"><picture class="_epNwrNGv _OlPgI9BR" data-id="_OlPgI9BR" ><img src="https://media.pagefly.io/file/get/milkdown_cropped_optimizedjpg-1524181427715.jpg"></picture></div></div></div><div class="_pDNE0kYl _wzXqUPKz pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_wzXqUPKz"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _6aOVT_EY" data-id="_6aOVT_EY"><div class="_NYd6gvae __VxYs3PB" data-id="__VxYs3PB"></div></div></div></div></div></section><section id="requestSection" class="_DblQBlAM __p59COje" data-id="__p59COje"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _d5_QUW8z pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_d5_QUW8z"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _VYmWTjya" data-id="_VYmWTjya"><div class="_NYd6gvae _0VQrswDR" data-id="_0VQrswDR"></div></div></div></div><div class="_pDNE0kYl _OzLXUM94 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_OzLXUM94"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _lLvETW3Y" data-id="_lLvETW3Y"><div class="_NYd6gvae _NVXvsYWV" data-id="_NVXvsYWV"><h3 class="_qaQP6rvk _vgB_Hv29 _qaQP6rvk__icon--left" data-id="_vgB_Hv29" ><span class="_VWvqNvR9 _9r0pH9WN _title _3JdPm85O" data-id="_9r0pH9WN" data-name="title">STARTING AT $75 A MONTH</span></h3><p class="_7XqAY8_A _V7V5honr" data-id="_V7V5honr"><span hidden="" class="_VWvqNvR9 _AEMJhvJn _dropcap _2dknaNM0" data-id="_AEMJhvJn" data-name="dropcap"></span><span class="_VWvqNvR9 _AEMJhvJn _text _ZGwmb_O6" data-id="_AEMJhvJn" data-name="text">Just enter in your email & address in the pop-up, no payment info necessary.</span></p></div></div></div></div><div class="_pDNE0kYl _A5PVUOLz pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_A5PVUOLz"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _la9zT8oa" data-id="_la9zT8oa"><div class="_9ADbNDlp _qwllij0w pb-custom-html" data-id="_qwllij0w"><div id="product-component-987352d40a1"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [656529915968],
        variantId: 7435279368256,
        node: document.getElementById('product-component-987352d40a1'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Request Free Sample"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div><div class="_pDNE0kYl _W47EU2Yg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_W47EU2Yg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _WYjNTDo5" data-id="_WYjNTDo5"><div class="_NYd6gvae _8VqeskzR" data-id="_8VqeskzR"></div></div></div></div></div></section></div><script type="text/javascript">$( '#ctaOfficeSubA1Top' ).click( function() {
    $( 'html,body' ).stop().animate( {
        scrollTop: $( '#requestSection' ).offset().top
    }, 800 );

    return false;
});
$( '#ctaOfficeSubA1Mid' ).click( function() {
    $( 'html,body' ).stop().animate( {
        scrollTop: $( '#requestSection' ).offset().top
    }, 800 );

    return false;
});</script><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"plan":"pro","shop_domain":"coppercowcoffee.myshopify.com","page_id":"118201"});(function(a){var d=a.createElement("script");d.src="https://apps.pagefly.io/assets/pagefly/assets/1.3.0/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>