<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400,500|Rubik:400,300,400,500"><style type="text/css">._VWvqNvR9 { vertical-align: middle; } ._KzlwM38p { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._NYd6gvae { position: relative; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf .__EBjfO9E[data-id="__EBjfO9E"] { justify-content: flex-end; align-items: flex-start; width: 450px; } .__pf ._q2qOfZGD[data-id="_q2qOfZGD"] { text-align: right; } .__pf ._3Mk9hx5M[data-id="_3Mk9hx5M"] { font-family: Raleway; font-weight: 400; font-size: 66px; color: white; margin-top: 60px; } .__pf ._2roMTxap[data-id="_2roMTxap"] { padding-top: 180px; } .__pf ._jg8GSxKg[data-id="_jg8GSxKg"] { height: 600px; } .__pf ._5NQKtgKW[data-id="_5NQKtgKW"] { background-image: url("https://media.pagefly.io/file/get/mcupofcoffeewithheartshapeonawoodentable000039415538_largejpg-1524871513744.jpg"); height: 800px; background-position: center center; background-size: cover; } .__pf ._1Dyrf1dW[data-id="_1Dyrf1dW"] { height: 60px; } .__pf ._A8n5hvkY[data-id="_A8n5hvkY"] { background-color: rgb(235, 118, 124); color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; text-transform: uppercase; letter-spacing: 2px; } .__pf ._qAJ7hLZ8[data-id="_qAJ7hLZ8"] { color: rgb(235, 118, 124); font-family: Rubik; font-weight: 400; font-size: 20px; } .__pf .__277fK12[data-id="__277fK12"] { text-align: center; } .__pf ._LEaDf9Wn[data-id="_LEaDf9Wn"] { width: 300px; justify-content: center; align-items: center; } .__pf ._xmJBhqdV[data-id="_xmJBhqdV"] { margin: 5px 0px; font-family: Rubik; font-size: 18px; font-weight: 500; color: white; } .__pf .__blxh3qw[data-id="__blxh3qw"] { font-family: Rubik; font-weight: 300; text-align: left; color: white; font-size: 16px; } .__pf ._ZDXjfnAW[data-id="_ZDXjfnAW"] { padding: 15px; background-color: rgb(235, 118, 124); margin-top: 20px; } .__pf ._BJVgfq8W[data-id="_BJVgfq8W"] { text-align: center; } .__pf ._J70Mf28n[data-id="_J70Mf28n"] { align-items: center; justify-content: center; width: 300px; } .__pf ._GV23hag8[data-id="_GV23hag8"] { margin: 5px 0px; font-family: Rubik; font-size: 18px; font-weight: 500; color: white; } .__pf ._WAxkh60b[data-id="_WAxkh60b"] { font-family: Rubik; font-weight: 300; text-align: left; color: white; font-size: 16px; } .__pf ._wWPvf0EJ[data-id="_wWPvf0EJ"] { padding: 15px; background-color: rgb(235, 118, 124); margin-top: 20px; } .__pf ._Ne8bf9j2[data-id="_Ne8bf9j2"] { text-align: center; } .__pf ._9njXfg41[data-id="_9njXfg41"] { width: 300px; align-items: center; justify-content: center; } .__pf ._zmRRhgbm[data-id="_zmRRhgbm"] { margin: 5px 0px; font-family: Rubik; font-size: 18px; font-weight: 500; color: white; } .__pf ._Pbyeh10b[data-id="_Pbyeh10b"] { font-family: Rubik; font-weight: 300; text-align: left; color: white; font-size: 16px; } .__pf ._YDGgfKKe[data-id="_YDGgfKKe"] { padding: 15px; background-color: rgb(235, 118, 124); margin-top: 20px; } .__pf ._VDlxfv9e[data-id="_VDlxfv9e"] { text-align: center; } .__pf ._VDlxf1ge[data-id="_VDlxf1ge"] { margin-bottom: 40px; } .__pf ._ZVEGhjzM[data-id="_ZVEGhjzM"] { text-transform: uppercase; letter-spacing: 2px; color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; } .__pf ._NgpLhkPb[data-id="_NgpLhkPb"] { color: white; font-family: Rubik; font-weight: 300; font-size: 20px; } .__pf ._QWrxf0N2[data-id="_QWrxf0N2"] { text-align: center; } .__pf ._P4gltw64[data-id="_P4gltw64"] { background-color: rgb(235, 118, 124); } .__pf ._P_DEtbr1[data-id="_P_DEtbr1"] { background-color: rgb(235, 118, 124); } .__pf ._6VB0hA6M[data-id="_6VB0hA6M"] { background-color: rgb(235, 118, 124); color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; text-transform: uppercase; letter-spacing: 2px; } .__pf ._KNlZSKng[data-id="_KNlZSKng"] { margin: 0px -30px; } .__pf ._mzZ_TBKz[data-id="_mzZ_TBKz"] { background-color: white; padding: 20px; border-radius: 5px; } .__pf ._WzV7TVXp[data-id="_WzV7TVXp"] { background-color: white; padding: 20px; border-radius: 5px; } .__pf ._ZpeZT7Xr[data-id="_ZpeZT7Xr"] { background-color: white; padding: 20px; border-radius: 5px; } .__pf ._DYgLhGoM[data-id="_DYgLhGoM"] { text-align: center; color: rgb(235, 118, 124); font-family: Rubik; font-size: 110px; font-weight: 500; margin: 0px; padding: 10px; } .__pf ._ewXPh1N8[data-id="_ewXPh1N8"] { font-family: Rubik; font-weight: 400; color: rgb(235, 118, 124); font-size: 24px; text-align: center; padding: 10px; } .__pf ._bJmbfwaD[data-id="_bJmbfwaD"] { margin: 20px; } .__pf ._KMDJhddm[data-id="_KMDJhddm"] { text-align: center; color: rgb(235, 118, 124); font-family: Rubik; font-size: 110px; font-weight: 500; margin: 0px; padding: 10px; } .__pf ._VAQdh6jw[data-id="_VAQdh6jw"] { font-family: Rubik; font-weight: 400; color: rgb(235, 118, 124); font-size: 24px; text-align: center; padding: 10px; } .__pf ._4M3LhDkM[data-id="_4M3LhDkM"] { text-align: center; color: rgb(235, 118, 124); font-family: Rubik; font-size: 110px; font-weight: 500; margin: 0px; padding: 10px; } .__pf ._1AYmhQpA[data-id="_1AYmhQpA"] { font-family: Rubik; font-weight: 400; color: rgb(235, 118, 124); font-size: 20px; text-align: center; padding: 10px; line-height: 1.6; } .__pf ._NW8bfwXD[data-id="_NW8bfwXD"] { margin: 50px; } .__pf ._RW_Rf5aD[data-id="_RW_Rf5aD"] { margin: 20px; } .__pf ._VJlxfbrW[data-id="_VJlxfbrW"] { margin: 40px; } } @media only screen and (max-width: 767px) { } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _5NQKtgKW" data-id="_5NQKtgKW"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _wr55Saor pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_wr55Saor"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1z19TwMr" data-id="_1z19TwMr"><div class="_NYd6gvae _q2qOfZGD" data-id="_q2qOfZGD"><picture class="_epNwrNGv __EBjfO9E" data-id="__EBjfO9E" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture></div></div></div></div><div class="_pDNE0kYl _jg8GSxKg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_jg8GSxKg"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _2roMTxap" data-id="_2roMTxap"><h1 class="_qaQP6rvk _3Mk9hx5M" data-id="_3Mk9hx5M" ><span class="_VWvqNvR9 _MY73HXwV _3JdPm85O" data-id="_MY73HXwV">Dear moms,<br>We love you a Latte~<br></span></h1></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _ez4GT15p" data-id="_ez4GT15p"></div></div></div></div></section><section class="_DblQBlAM _P_DEtbr1 pb-large--hidden pb-desk--hidden pb-mobile--hidden" data-id="_P_DEtbr1"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MNAOSJA3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MNAOSJA3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2jGKT5Jn" data-id="_2jGKT5Jn"><div class="_NYd6gvae _RW_Rf5aD" data-id="_RW_Rf5aD"></div></div></div></div><div class="_pDNE0kYl _ogR6Szm3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ogR6Szm3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _JnK4T1ar" data-id="_JnK4T1ar"><h3 class="_qaQP6rvk _6VB0hA6M" data-id="_6VB0hA6M" ><span class="_VWvqNvR9 _JYymHvP9 _3JdPm85O" data-id="_JYymHvP9">What Makes Moms so Incredible</span></h3><div class="_NYd6gvae _bJmbfwaD" data-id="_bJmbfwaD"></div><div class="_pDNE0kYl _KNlZSKng pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_KNlZSKng"><div class=" grid__column" style="padding: 30px;"><div class="_O689JW7n _ZpeZT7Xr" data-id="_ZpeZT7Xr"><h3 class="_qaQP6rvk _DYgLhGoM" data-id="_DYgLhGoM" ><span class="_VWvqNvR9 _bVAbHd48 _3JdPm85O" data-id="_bVAbHd48">72%</span></h3><p class="_7XqAY8_A _ewXPh1N8" data-id="_ewXPh1N8"><span hidden="" class="_VWvqNvR9 _aDXwhrqn _2dknaNM0" data-id="_aDXwhrqn"></span><span class="_VWvqNvR9 _aDXwhrqn _ZGwmb_O6" data-id="_aDXwhrqn">of the moms work while supporting their family.</span></p></div></div><div class=" grid__column" style="padding: 30px;"><div class="_O689JW7n _WzV7TVXp" data-id="_WzV7TVXp"><h3 class="_qaQP6rvk _KMDJhddm" data-id="_KMDJhddm" ><span class="_VWvqNvR9 _7oD4HyyV _3JdPm85O" data-id="_7oD4HyyV">98 h</span></h3><p class="_7XqAY8_A _VAQdh6jw" data-id="_VAQdh6jw"><span hidden="" class="_VWvqNvR9 _onQ7hezD _2dknaNM0" data-id="_onQ7hezD"></span><span class="_VWvqNvR9 _onQ7hezD _ZGwmb_O6" data-id="_onQ7hezD">per week, taking care of work and family.</span></p></div></div><div class=" grid__column" style="padding: 30px;"><div class="_O689JW7n _mzZ_TBKz" data-id="_mzZ_TBKz"><h3 class="_qaQP6rvk _4M3LhDkM" data-id="_4M3LhDkM" ><span class="_VWvqNvR9 _zo3RHXa9 _3JdPm85O" data-id="_zo3RHXa9">1.1 m</span></h3><p class="_7XqAY8_A _1AYmhQpA" data-id="_1AYmhQpA"><span hidden="" class="_VWvqNvR9 _BnYghJwD _2dknaNM0" data-id="_BnYghJwD"></span><span class="_VWvqNvR9 _BnYghJwD _ZGwmb_O6" data-id="_BnYghJwD">$$$ worth of effort over 20 years. Mom's love? Priceless&nbsp;</span></p></div></div></div><div class="_NYd6gvae _NW8bfwXD" data-id="_NW8bfwXD"></div></div></div></div></div></section><section class="_DblQBlAM _248QtmL4" data-id="_248QtmL4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RrBPS0Rg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RrBPS0Rg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EpQaTYbz" data-id="_EpQaTYbz"><div class="_NYd6gvae _VJlxfbrW" data-id="_VJlxfbrW"></div></div></div></div><div class="_pDNE0kYl _5Na6Sykg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_5Na6Sykg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2na6T71r" data-id="_2na6T71r"><div class="_NYd6gvae __277fK12" data-id="__277fK12"><h3 class="_qaQP6rvk _A8n5hvkY" data-id="_A8n5hvkY" ><span class="_VWvqNvR9 _PoLwHzWY _3JdPm85O" data-id="_PoLwHzWY">THANK YOU FOR BEING YOU!</span></h3><p class="_7XqAY8_A _qAJ7hLZ8" data-id="_qAJ7hLZ8"><span hidden="" class="_VWvqNvR9 _x_Akh4E3 _2dknaNM0" data-id="_x_Akh4E3"></span><span class="_VWvqNvR9 _x_Akh4E3 _ZGwmb_O6" data-id="_x_Akh4E3">Let Us Fuel You</span></p></div></div></div></div><section class="_DblQBlAM _d4natLyN" data-id="_d4natLyN"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _83nvSOBg pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_83nvSOBg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _PjWPT0Bz" data-id="_PjWPT0Bz"><div class="_NYd6gvae _BJVgfq8W" data-id="_BJVgfq8W"><picture class="_epNwrNGv _LEaDf9Wn image--circle" data-id="_LEaDf9Wn" ><img src="https://media.pagefly.io/file/get/artstudio_pour_sqjpg-1525196010946.jpg"></picture><div class="_NYd6gvae _ZDXjfnAW" data-id="_ZDXjfnAW"><h3 class="_qaQP6rvk _xmJBhqdV" data-id="_xmJBhqdV" ><span class="_VWvqNvR9 _G9JaHrkV _3JdPm85O" data-id="_G9JaHrkV">Pour Over Craft</span></h3><p class="_7XqAY8_A __blxh3qw" data-id="__blxh3qw"><span hidden="" class="_VWvqNvR9 _xGlKh2mD _2dknaNM0" data-id="_xGlKh2mD"></span><span class="_VWvqNvR9 _xGlKh2mD _ZGwmb_O6" data-id="_xGlKh2mD">All you need is a cup and hot water to brew our delicious, sustainably-sourced craft Vietnamese coffee.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Zpl2TwGn" data-id="_Zpl2TwGn"><div class="_NYd6gvae _Ne8bf9j2" data-id="_Ne8bf9j2"><picture class="_epNwrNGv _J70Mf28n image--circle" data-id="_J70Mf28n" ><img src="https://media.pagefly.io/file/get/wholebean_squarejpg-1525195194199.jpg"></picture><div class="_NYd6gvae _wWPvf0EJ" data-id="_wWPvf0EJ"><h3 class="_qaQP6rvk _GV23hag8" data-id="_GV23hag8" ><span class="_VWvqNvR9 _3Y2RHneo _3JdPm85O" data-id="_3Y2RHneo">Dark Roast Whole Bean</span></h3><p class="_7XqAY8_A _WAxkh60b" data-id="_WAxkh60b"><span hidden="" class="_VWvqNvR9 _AnxzhBQG _2dknaNM0" data-id="_AnxzhBQG"></span><span class="_VWvqNvR9 _AnxzhBQG _ZGwmb_O6" data-id="_AnxzhBQG">We sampled over forty different suppliers in Vietnam to bring you a bold and authentic flavor that reflects the depths of our travels.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTldp" data-id="_ErQaTldp"><div class="_NYd6gvae _VDlxfv9e" data-id="_VDlxfv9e"><picture class="_epNwrNGv _9njXfg41 image--circle" data-id="_9njXfg41" ><img src="https://media.pagefly.io/file/get/creamerncookies_squarejpg-1525195208397.jpg"></picture><div class="_NYd6gvae _YDGgfKKe" data-id="_YDGgfKKe"><h3 class="_qaQP6rvk _zmRRhgbm" data-id="_zmRRhgbm" ><span class="_VWvqNvR9 _v8g5HdA8 _3JdPm85O" data-id="_v8g5HdA8">Sweetened Condensed Milk</span></h3><p class="_7XqAY8_A _Pbyeh10b" data-id="_Pbyeh10b"><span hidden="" class="_VWvqNvR9 _839khOX3 _2dknaNM0" data-id="_839khOX3"></span><span class="_VWvqNvR9 _839khOX3 _ZGwmb_O6" data-id="_839khOX3">Made from real California milk and sugar, the creamy and smooth taste are perfect for all kinds of desserts and drinks.</span></p></div></div></div></div></div></div></section><div class="_pDNE0kYl _WNXKSVAg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WNXKSVAg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MjmRTvxz" data-id="_MjmRTvxz"><div class="_NYd6gvae _VDlxf1ge" data-id="_VDlxf1ge"></div></div></div></div><div class="_pDNE0kYl __DZASxRD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="__DZASxRD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mnOWT5Ep" data-id="_mnOWT5Ep"><div class="_NYd6gvae _1Dyrf1dW" data-id="_1Dyrf1dW"></div></div></div></div></div></section><section class="_DblQBlAM _P4gltw64" data-id="_P4gltw64"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPS7dD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPS7dD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTdkp" data-id="_ErQaTdkp"><div class="_NYd6gvae _A2wofqkJ" data-id="_A2wofqkJ"></div></div></div></div><div class="_pDNE0kYl _eDbaSeqN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_eDbaSeqN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Xp_gT5_j" data-id="_Xp_gT5_j"><div class="_NYd6gvae _QWrxf0N2" data-id="_QWrxf0N2"><h3 class="_qaQP6rvk _ZVEGhjzM" data-id="_ZVEGhjzM" ><span class="_VWvqNvR9 _nYmGHJdo _3JdPm85O" data-id="_nYmGHJdo">Sit Back and Relax</span></h3><p class="_7XqAY8_A _NgpLhkPb" data-id="_NgpLhkPb"><span hidden="" class="_VWvqNvR9 _rDNBhePG _2dknaNM0" data-id="_rDNBhePG"></span><span class="_VWvqNvR9 _rDNBhePG _ZGwmb_O6" data-id="_rDNBhePG">Because You Deserve It</span></p></div></div></div></div></div></section><section class="_DblQBlAM _E1XZt6nW" data-id="_E1XZt6nW"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _R3wRSwOg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_R3wRSwOg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _QjLNTxGp" data-id="_QjLNTxGp"><div class="_NYd6gvae _g2N5fGN2" data-id="_g2N5fGN2"><div class="_9ADbNDlp _XLW8iMgw pb-custom-html" data-id="_XLW8iMgw"><div id="product-component-15954544b4d"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [660645019712],
        variantId: 7435279368256,
        node: document.getElementById('product-component-15954544b4d'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "layout": "horizontal",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "options": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Get 25% Off"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#eb767c",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#d46a70"
        },
        ":focus": {
          "background-color": "#d46a70"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#eb767c",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#d46a70"
        },
        ":focus": {
          "background-color": "#d46a70"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#eb767c",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#d46a70"
        },
        ":focus": {
          "background-color": "#d46a70"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#eb767c",
        ":hover": {
          "background-color": "#d46a70"
        },
        ":focus": {
          "background-color": "#d46a70"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"117381"});
</script>