<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500|Rubik:400,300,400"><style type="text/css">._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._KzlwM38p { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._NYd6gvae { position: relative; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._OzY9TZqr[data-id="_OzY9TZqr"] { text-align: center; } .__pf ._ONLgtRz1[data-id="_ONLgtRz1"] { background-color: rgb(5, 117, 86); } .__pf ._AYzZhPoM[data-id="_AYzZhPoM"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: black; text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; margin-bottom: 30px; } .__pf ._N1gZfKxE[data-id="_N1gZfKxE"] { width: 300px; } .__pf ._E8r_hQ9b[data-id="_E8r_hQ9b"] { margin-top: 20px; font-family: Rubik; font-size: 18px; font-weight: 400; color: black; margin-bottom: 20px; } .__pf ._LeaxfR1D[data-id="_LeaxfR1D"] { text-align: center; } .__pf ._GzxdTLKz[data-id="_GzxdTLKz"] { margin-right: 1px; border-style: none; background-color: rgb(0, 155, 109); } .__pf ._WMNrhD1m[data-id="_WMNrhD1m"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; margin-bottom: 30px; } .__pf ._k73ZfQ4n[data-id="_k73ZfQ4n"] { width: 300px; } .__pf ._dgmVh6ZA[data-id="_dgmVh6ZA"] { margin-top: 20px; font-size: 18px; font-family: Rubik; font-weight: 400; color: rgb(255, 255, 255); margin-bottom: 20px; } .__pf ._5WQQfl7W[data-id="_5WQQfl7W"] { text-align: center; } .__pf ._2ra6TDNz[data-id="_2ra6TDNz"] { border-style: none; border-width: 0px 0px 0px 1px; background-color: rgb(0, 155, 109); } .__pf ._L4rmtYG4[data-id="_L4rmtYG4"] { background-color: rgb(5, 117, 86); } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 28px; font-weight: 500; color: rgb(5, 117, 86); text-transform: uppercase; letter-spacing: 2px; } .__pf .__pdyT8vz[data-id="__pdyT8vz"] { text-align: center; } .__pf ._k8Qyh7Z8[data-id="_k8Qyh7Z8"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: rgb(0, 0, 0); text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; } .__pf ._V9gaFln1[data-id="_V9gaFln1"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; color: rgb(0, 0, 0); } .__pf ._Vz6YFRmz[data-id="_Vz6YFRmz"] { font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; padding-top: 0px; color: rgb(0, 0, 0); } .__pf ._7z2RFGj9[data-id="_7z2RFGj9"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; color: rgb(0, 0, 0); } .__pf ._2beQFq0b[data-id="_2beQFq0b"] { padding-top: 0px; font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; color: rgb(0, 0, 0); } .__pf ._wzBVF7Nz[data-id="_wzBVF7Nz"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; color: rgb(0, 0, 0); } .__pf ._dzqVFQBE[data-id="_dzqVFQBE"] { padding-top: 0px; font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; color: rgb(0, 0, 0); } .__pf ._g3zdCGK2[data-id="_g3zdCGK2"] { font-family: Rubik; font-size: 18px; font-weight: 400; color: white; margin: 20px; list-style-position: inside; list-style-type: none; text-align: left; padding-left: 20px; } .__pf ._2ja6TmNp[data-id="_2ja6TmNp"] { background-color: rgb(0, 155, 109); text-align: center; } .__pf ._vmAOhPbM[data-id="_vmAOhPbM"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; } .__pf ._ZzwvFm_b[data-id="_ZzwvFm_b"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; } .__pf ._K9v8FpQz[data-id="_K9v8FpQz"] { font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; padding-top: 0px; } .__pf ._obynFl_E[data-id="_obynFl_E"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; } .__pf ._azlBFmaE[data-id="_azlBFmaE"] { font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; padding-top: 0px; } .__pf ._y1ayF5mz[data-id="_y1ayF5mz"] { font-family: Rubik; font-size: 20px; font-weight: 400; text-transform: uppercase; } .__pf ._m18gFaeE[data-id="_m18gFaeE"] { font-family: Rubik; font-size: 20px; font-weight: 300; margin-left: 24px; padding-bottom: 20px; padding-top: 0px; } .__pf ._83nGC9lL[data-id="_83nGC9lL"] { font-family: Rubik; font-size: 18px; font-weight: 400; color: white; margin: 20px; list-style-position: inside; list-style-type: none; text-align: left; padding-left: 20px; } .__pf ._Bp9NTZLz[data-id="_Bp9NTZLz"] { background-color: rgb(0, 155, 109); text-align: center; } .__pf ._mWVZtlx4[data-id="_mWVZtlx4"] { border-style: none; border-width: 2px 0px; background-color: rgb(5, 117, 86); } .__pf ._nm_nhD9m[data-id="_nm_nhD9m"] { font-family: Raleway; font-size: 28px; font-weight: 500; color: rgb(5, 117, 86); text-transform: uppercase; letter-spacing: 2px; } .__pf ._xrBLTYdr[data-id="_xrBLTYdr"] { text-align: center; } .__pf ._W8Nrh4LM[data-id="_W8Nrh4LM"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; margin-bottom: 30px; } .__pf ._vEZRfpl7[data-id="_vEZRfpl7"] { width: 300px; } .__pf ._XbqjhEvA[data-id="_XbqjhEvA"] { text-align: center; padding-right: 80px; padding-left: 80px; margin-top: 20px; font-size: 18px; font-family: Rubik; font-weight: 400; color: rgb(255, 255, 255); margin-bottom: 20px; } .__pf ._5eQQfAle[data-id="_5eQQfAle"] { text-align: center; } .__pf ._an2GTdBj[data-id="_an2GTdBj"] { border-style: none; border-width: 0px 0px 0px 1px; background-color: rgb(0, 155, 109); } .__pf ._Q8vjhaOY[data-id="_Q8vjhaOY"] { font-family: Raleway; font-size: 24px; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 2px; margin-top: 30px; margin-bottom: 30px; } .__pf ._01vbfQ81[data-id="_01vbfQ81"] { width: 300px; } .__pf .__84DhY0b[data-id="__84DhY0b"] { margin-top: 20px; font-size: 18px; font-family: Rubik; font-weight: 400; color: rgb(255, 255, 255); margin-bottom: 20px; text-align: center; padding-right: 80px; padding-left: 80px; } .__pf ._QD6rfZYD[data-id="_QD6rfZYD"] { text-align: center; } .__pf ._wj3GTqqj[data-id="_wj3GTqqj"] { border-style: none; border-width: 0px 0px 0px 1px; background-color: rgb(0, 155, 109); } .__pf ._nW7ztdz_[data-id="_nW7ztdz_"] { background-color: rgb(5, 117, 86); } .__pf ._vYAOhxWm[data-id="_vYAOhxWm"] { font-family: Raleway; font-size: 28px; font-weight: 500; color: rgb(5, 117, 86); text-transform: uppercase; letter-spacing: 2px; } .__pf ._jg3ahOqw[data-id="_jg3ahOqw"] { margin-top: 20px; font-size: 20px; font-family: Rubik; font-weight: 400; color: rgb(5, 117, 86); margin-bottom: 20px; } .__pf ._3pAvTlkj[data-id="_3pAvTlkj"] { text-align: center; } } @media only screen and (max-width: 767px) { } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _ONLgtRz1" data-id="_ONLgtRz1"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _zgM5SL8r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_zgM5SL8r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _OzY9TZqr" data-id="_OzY9TZqr"><picture class="_epNwrNGv _61_MfAYE" data-id="_61_MfAYE" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture></div></div></div></div></section><section class="_DblQBlAM _L4rmtYG4" data-id="_L4rmtYG4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _Pgq6S7Or pb-grid pb-grid--doubling pb-grid--two-columns pb-grid--equal-height" data-id="_Pgq6S7Or"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GzxdTLKz" data-id="_GzxdTLKz"><div class="_NYd6gvae _LeaxfR1D" data-id="_LeaxfR1D"><h3 class="_qaQP6rvk _AYzZhPoM" data-id="_AYzZhPoM" ><span class="_VWvqNvR9 _JYNRH_w8 _3JdPm85O" data-id="_JYNRH_w8">K-Cup</span></h3><picture class="_epNwrNGv _N1gZfKxE" data-id="_N1gZfKxE" ><img src="https://media.pagefly.io/file/get/icontoolkcuppods_grey_invertedpng-1524246125785.png"></picture><p class="_7XqAY8_A _E8r_hQ9b" data-id="_E8r_hQ9b"><span hidden="" class="_VWvqNvR9 _MnvzhjLD _2dknaNM0" data-id="_MnvzhjLD"></span><span class="_VWvqNvR9 _MnvzhjLD _ZGwmb_O6" data-id="_MnvzhjLD">10.5 Times Around the Globe</span></p></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2ra6TDNz" data-id="_2ra6TDNz"><div class="_NYd6gvae _5WQQfl7W" data-id="_5WQQfl7W"><h3 class="_qaQP6rvk _WMNrhD1m" data-id="_WMNrhD1m" ><span class="_VWvqNvR9 _zVMOHd49 _3JdPm85O" data-id="_zVMOHd49">Portable Pour Over</span></h3><picture class="_epNwrNGv _k73ZfQ4n" data-id="_k73ZfQ4n" ><img src="https://media.pagefly.io/file/get/pouroverpng-1524162751703.png"></picture><p class="_7XqAY8_A _dgmVh6ZA" data-id="_dgmVh6ZA"><span hidden="" class="_VWvqNvR9 _xGqlh4JG _2dknaNM0" data-id="_xGqlh4JG"></span><span class="_VWvqNvR9 _xGqlh4JG _ZGwmb_O6" data-id="_xGqlh4JG">Every Filter is Biodegradable</span></p></div></div></div></div></div></section><section class="_DblQBlAM _BWJQt5A_" data-id="_BWJQt5A_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VgOZS1Lr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VgOZS1Lr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __pdyT8vz" data-id="__pdyT8vz"><h1 class="_qaQP6rvk _9Vqbh7zV" data-id="_9Vqbh7zV" ><span class="_VWvqNvR9 _QYqDHdyY _3JdPm85O" data-id="_QYqDHdyY">Quick Facts</span></h1></div></div></div></div></section><section class="_DblQBlAM _mWVZtlx4" data-id="_mWVZtlx4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _5Da6S7Ar pb-grid pb-grid--doubling pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_5Da6S7Ar"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2ja6TmNp" data-id="_2ja6TmNp"><h3 class="_qaQP6rvk _k8Qyh7Z8" data-id="_k8Qyh7Z8" ><span class="_VWvqNvR9 _vVj3HwJV _3JdPm85O" data-id="_vVj3HwJV">K-Cup</span></h3><ul class="_1rloNvJ_ _g3zdCGK2 pb-list" data-id="_g3zdCGK2"><li class="_XQwxL5Bl _V9gaFln1" data-id="_V9gaFln1"><i class="_GwlbZrJE _B6krFlEw _6pVxb12e fa _GwlbZrJE--none fa-thumbs-down" data-id="_B6krFlEw"></i><span class="_VWvqNvR9 _vVgRFRmx _3JdPm85O" data-id="_vVgRFRmx">Coffee tastes like tea?<br></span></li><li class="_XQwxL5Bl _Vz6YFRmz" data-id="_Vz6YFRmz"><span class="_VWvqNvR9 _MxnwF8R5 _3JdPm85O" data-id="_MxnwF8R5">Same machine is used for coffee, tea and who knows what. More often than not, your coffee ends up tasting like a Frankenstein!<br></span></li><li class="_XQwxL5Bl _7z2RFGj9" data-id="_7z2RFGj9"><i class="_GwlbZrJE _Q5OmFVA5 _6pVxb12e fa _GwlbZrJE--none fa-thumbs-down" data-id="_Q5OmFVA5"></i><span class="_VWvqNvR9 _q5KaFNeV _3JdPm85O" data-id="_q5KaFNeV">Keurig Breaking Down again?<br></span></li><li class="_XQwxL5Bl _2beQFq0b" data-id="_2beQFq0b"><span class="_VWvqNvR9 _LDeqFqzx _3JdPm85O" data-id="_LDeqFqzx">Error #401... Remember those error codes that only machines can read?<br></span></li><li class="_XQwxL5Bl _wzBVF7Nz" data-id="_wzBVF7Nz"><i class="_GwlbZrJE _MLg2Fa85 _6pVxb12e fa _GwlbZrJE--none fa-thumbs-down" data-id="_MLg2Fa85"></i><span class="_VWvqNvR9 _LDdwFyEZ _3JdPm85O" data-id="_LDdwFyEZ">Mold and bacteria!<br></span></li><li class="_XQwxL5Bl _dzqVFQBE" data-id="_dzqVFQBE"><span class="_VWvqNvR9 _E5qrFaGx _3JdPm85O" data-id="_E5qrFaGx">Did you know that it's common to find MILLIONS of bacteria in a Keurig machine?<br></span></li></ul></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Bp9NTZLz" data-id="_Bp9NTZLz"><h3 class="_qaQP6rvk _vmAOhPbM" data-id="_vmAOhPbM" ><span class="_VWvqNvR9 _rY4jHKy8 _3JdPm85O" data-id="_rY4jHKy8">Portable Pour Over</span></h3><ul class="_1rloNvJ_ _83nGC9lL pb-list" data-id="_83nGC9lL"><li class="_XQwxL5Bl _ZzwvFm_b" data-id="_ZzwvFm_b"><i class="_GwlbZrJE __502FgN6 _6pVxb12e fa _GwlbZrJE--none fa-thumbs-up" data-id="__502FgN6"></i><span class="_VWvqNvR9 _GV3gFYlD _3JdPm85O" data-id="_GV3gFYlD">Premium Vietnamese Coffee<br></span></li><li class="_XQwxL5Bl _K9v8FpQz" data-id="_K9v8FpQz"><span class="_VWvqNvR9 _yVvqFKlV _3JdPm85O" data-id="_yVvqFKlV">Copper Cow Coffee sources the highest quality coffee beans straight from the central highlands of Vietnam.<br></span></li><li class="_XQwxL5Bl _obynFl_E" data-id="_obynFl_E"><i class="_GwlbZrJE _Voa_F4Xw _6pVxb12e fa _GwlbZrJE--none fa-thumbs-up" data-id="_Voa_F4Xw"></i><span class="_VWvqNvR9 _P5ajFL6D _3JdPm85O" data-id="_P5ajFL6D">No Equipment Needed<br></span></li><li class="_XQwxL5Bl _azlBFmaE" data-id="_azlBFmaE"><span class="_VWvqNvR9 _z5lmF8Yx _3JdPm85O" data-id="_z5lmF8Yx">Just add hot water at the optimal temperature of 205°F for a delicious cup of Vietnamese coffee.&nbsp;&nbsp;<br></span></li><li class="_XQwxL5Bl _y1ayF5mz" data-id="_y1ayF5mz"><i class="_GwlbZrJE _d5A0FZRL _6pVxb12e fa _GwlbZrJE--none fa-thumbs-up" data-id="_d5A0FZRL"></i><span class="_VWvqNvR9 _eZwEFWpZ _3JdPm85O" data-id="_eZwEFWpZ">Eco-friendly Packaging<br></span></li><li class="_XQwxL5Bl _m18gFaeE" data-id="_m18gFaeE"><span class="_VWvqNvR9 _yx8mFLgD _3JdPm85O" data-id="_yx8mFLgD">Copper Cow Coffee filter is completely biodegradable, easy to clean, no fuss, no mess.<br></span></li></ul></div></div></div></div></section><section class="_DblQBlAM _5Nx0tqg4" data-id="_5Nx0tqg4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _vgGQSKeg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_vgGQSKeg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTYdr" data-id="_xrBLTYdr"><h1 class="_qaQP6rvk _nm_nhD9m" data-id="_nm_nhD9m" ><span class="_VWvqNvR9 _79xGHZW8 _3JdPm85O" data-id="_79xGHZW8">Copper Cow Coffee</span></h1></div></div></div></div></section><section class="_DblQBlAM _nW7ztdz_" data-id="_nW7ztdz_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _kDeeS2KD pb-grid pb-grid--doubling pb-grid--two-columns pb-grid--equal-height" data-id="_kDeeS2KD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _an2GTdBj" data-id="_an2GTdBj"><div class="_NYd6gvae _5eQQfAle" data-id="_5eQQfAle"><h3 class="_qaQP6rvk _W8Nrh4LM" data-id="_W8Nrh4LM" ><span class="_VWvqNvR9 _zYMOHaxo _3JdPm85O" data-id="_zYMOHaxo">Our Most Popular Product</span></h3><picture class="_epNwrNGv _vEZRfpl7" data-id="_vEZRfpl7" ><img src="https://media.pagefly.io/file/get/5scatter_optimizedjpg-1522953017475.jpg"></picture><p class="_7XqAY8_A _XbqjhEvA" data-id="_XbqjhEvA"><span hidden="" class="_VWvqNvR9 _a3mLhxdn _2dknaNM0" data-id="_a3mLhxdn"></span><span class="_VWvqNvR9 _a3mLhxdn _ZGwmb_O6" data-id="_a3mLhxdn">Each box contains five packs of pour over Vietnamese coffee and Copper Cow Creamer.&nbsp;<br></span></p></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _wj3GTqqj" data-id="_wj3GTqqj"><div class="_NYd6gvae _QD6rfZYD" data-id="_QD6rfZYD"><h3 class="_qaQP6rvk _Q8vjhaOY" data-id="_Q8vjhaOY" ><span class="_VWvqNvR9 _NVX6Hado _3JdPm85O" data-id="_NVX6Hado">Copper Cow Creamer</span></h3><picture class="_epNwrNGv _01vbfQ81" data-id="_01vbfQ81" ><img src="https://media.pagefly.io/file/get/milkdown_cropped_optimizedjpg-1524181427715.jpg"></picture><p class="_7XqAY8_A __84DhY0b" data-id="__84DhY0b"><span hidden="" class="_VWvqNvR9 _0n8yh9yn _2dknaNM0" data-id="_0n8yh9yn"></span><span class="_VWvqNvR9 _0n8yh9yn _ZGwmb_O6" data-id="_0n8yh9yn">Each packet contains sweetened condensed milk made from real California&nbsp;milk and sugar. No artificial flavors or preservatives.<br></span></p></div></div></div></div></div></section><section class="_DblQBlAM _m1VZtqx_" data-id="_m1VZtqx_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _P3oYSZng pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_P3oYSZng"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _3pAvTlkj" data-id="_3pAvTlkj"><h3 class="_qaQP6rvk _vYAOhxWm" data-id="_vYAOhxWm" ><span class="_VWvqNvR9 _rV4jH6XY _3JdPm85O" data-id="_rV4jH6XY">Better Taste without the Waste</span></h3><p class="_7XqAY8_A _jg3ahOqw" data-id="_jg3ahOqw"><span hidden="" class="_VWvqNvR9 _6_wMhmND _2dknaNM0" data-id="_6_wMhmND"></span><span class="_VWvqNvR9 _6_wMhmND _ZGwmb_O6" data-id="_6_wMhmND">Ditch the K-Cup and Enjoy <strong>25% Off</strong></span></p><div class="_9ADbNDlp _AeY4iJNw pb-custom-html" data-id="_AeY4iJNw"><div id="product-component-b51400a6c2b"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [652638191680],
        variantId: 7435279368256,
        node: document.getElementById('product-component-b51400a6c2b'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#009b6d",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#009b6d",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#009b6d",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#009b6d",
        ":hover": {
          "background-color": "#008c62"
        },
        ":focus": {
          "background-color": "#008c62"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"115098"});
</script>