<link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400|Rubik:400,300,300i"><style type="text/css">._ERbj1g7D { position: relative; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; max-width: 100%; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK > * { color: inherit; text-decoration: inherit; vertical-align: middle !important; } ._43klRgVK__icon--none i, ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; display: block; text-align: inherit; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; max-width: 100%; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._NYd6gvae { position: relative; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; background: none !important; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._2_kEmkq1 { display: inline-block; } ._2_kEmkq1--fitted { display: block; } ._2_kEmkq1 .pb-countdown__inner { display: flex; display: -ms-flexbox; display: -webkit-flex; } ._2_kEmkq1 > div > div { text-align: center; padding: 0 15px; display: flex; display: -webkit-flex; flex-direction: column; min-width: 70px; } ._2_kEmkq1--reverse > div > div { flex-direction: column-reverse; } ._2_kEmkq1 > div > div > * { display: block; // color: #000; line-height: 1; } ._2_kEmkq1 span { font-size: 30px; } ._2_kEmkq1 label { font-weight: normal; margin-top: 5px; font-size: 14px; margin-bottom: 0; } ._2_kEmkq1--fitted .pb-countdown__inner { justify-content: space-between; } ._2_kEmkq1--fitted .pb-countdown__inner > div { flex: 1; } ._2_kEmkq1--basic { border: none } ._2_kEmkq1--bordered { border: 1px solid #e5e5e5; } ._2_kEmkq1--bordered > div { padding: 10px 0; border-color: inherit; } ._2_kEmkq1--bordered > div > div { border-right: 1px solid #e5e5e5; border-color: inherit; border-radius: 0; } ._2_kEmkq1--bordered > div > div:last-child { border-right: none } ._XW6pwv9w { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; max-width: 100%; } ._XW6pwv9w:hover, ._XW6pwv9w:active, ._XW6pwv9w:focus { color: inherit; text-decoration: none; } ._XW6pwv9w > * { color: inherit; text-decoration: inherit; vertical-align: middle !important; } ._XW6pwv9w__icon--none i, ._XW6pwv9w__icon--left i { margin-right: 0.3em; } ._XW6pwv9w__icon--right i { margin-left: 0.3em; } ._XW6pwv9w__icon--top i { margin-bottom: 0.5em; display: block; text-align: inherit; } ._XW6pwv9w__icon--top > span, ._XW6pwv9w__icon--top > span[data-empty][contenteditable] { display: block; } ._XW6pwv9w > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; max-width: 100%; } ._XW6pwv9w[data-active=true] { background: black; color: white; } ._XW6pwv9w__btn--plain { border: none; background: none; } ._XW6pwv9w__btn--outline { background: none; border: 2px solid; } ._XW6pwv9w__btn--rounded { border-radius: 20px; } ._XW6pwv9w [class*="--diamond"] { margin-right: 1em; } ._XW6pwv9w button[type="submit"] { background: none; padding: 0; margin: 0; border: none; box-shadow: none; font-size: inherit; line-height: inherit; color: inherit; font-family: inherit; border: none; height: auto; white-space: nowrap; } ._XW6pwv9w button:after { content: ''; width: 100%; height: 100%; top: 0; left: 0; position: absolute; } ._XW6pwv9w button:focus, ._XW6pwv9w button:active { outline: none; box-shadow: none; } ._XW6pwv9w { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; background-color: #ebebeb; text-decoration: none; position: relative; } .product__button[disabled] { pointer-events: none; opacity: .7; } ._9ADbNDlp { padding: 1rem 0; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._WMNrhD1m[data-id="_WMNrhD1m"] { font-size: 36px; text-align: right; } .__pf ._dblwHPg4[data-id="_dblwHPg4"] { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); border-style: none; border-radius: 3px; font-size: 16px; padding: 15px 30px; text-align: right; } .__pf ._dblwHPg4[data-id="_dblwHPg4"]:hover { background-color: rgb(0, 0, 0); } .__pf ._2roMT50p[data-id="_2roMT50p"] { text-align: right; } .__pf ._5gDjhMG8[data-id="_5gDjhMG8"] { font-size: 18px; line-height: 26px; } .__pf ._Wb6JhJPb[data-id="_Wb6JhJPb"] { font-size: 18px; line-height: 26px; } .__pf ._mgPkhKVA[data-id="_mgPkhKVA"] { font-size: 18px; line-height: 26px; } .__pf ._2bK2hzYb[data-id="_2bK2hzYb"] { font-size: 18px; line-height: 26px; } .__pf ._lgoohNLg[data-id="_lgoohNLg"] { font-size: 18px; line-height: 26px; } .__pf ._r8WWh478[data-id="_r8WWh478"] { font-size: 18px; line-height: 26px; } .__pf ._5WQQfl7W[data-id="_5WQQfl7W"] { text-align: center; } .__pf ._6NKMtMe1[data-id="_6NKMtMe1"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/_dsc0585jpg-1542341428872.JPG"); background-position: 100% 50%; } .__pf ._0yvbfKay[data-id="_0yvbfKay"] { width: 100%; } .__pf ._AYzZhPoM[data-id="_AYzZhPoM"] { margin-top: 0px; margin-bottom: 20px; } .__pf ._JOEmfW3O[data-id="_JOEmfW3O"] { border-style: solid; border-width: 1px; } .__pf ._32Brfy4e[data-id="_32Brfy4e"] { margin-bottom: 30px; } .__pf ._KMDJhz6m[data-id="_KMDJhz6m"] { font-family: Raleway; text-align: center; font-size: 22px; font-weight: 400; } .__pf ._v869hgdY[data-id="_v869hgdY"] { text-align: center; font-family: Raleway; font-weight: 400; font-size: 20px; } .__pf ._bmbeheO8[data-id="_bmbeheO8"] { text-align: center; font-family: Raleway; font-weight: 400; font-size: 20px; } .__pf ._nm_nhaNm[data-id="_nm_nhaNm"] { text-align: center; font-family: Raleway; font-weight: 400; font-size: 20px; } .__pf ._WMykheKm[data-id="_WMykheKm"] { text-align: center; font-family: Raleway; font-weight: 400; font-size: 20px; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/5pack_cropped_optimizedjpg-1522791759595.jpg"); height: 510px; } .__pf ._6Mezhk1m[data-id="_6Mezhk1m"] { font-family: Raleway; text-align: left; font-size: 22px; font-weight: 400; margin-top: 0px; } .__pf ._d8mVh4xg[data-id="_d8mVh4xg"] { margin-top: 0px; font-family: Rubik; font-weight: 300; font-style: italic; font-size: 20px; } } @media only screen and (max-width: 767px) { .__pf ._WMNrhD1m[data-id="_WMNrhD1m"] { font-size: 24px; } .__pf ._5gDjhMG8[data-id="_5gDjhMG8"] { font-size: 14px; line-height: 22px; } .__pf ._Wb6JhJPb[data-id="_Wb6JhJPb"] { font-size: 14px; line-height: 22px; } .__pf ._mgPkhKVA[data-id="_mgPkhKVA"] { font-size: 14px; line-height: 22px; } .__pf ._2bK2hzYb[data-id="_2bK2hzYb"] { font-size: 14px; line-height: 22px; } .__pf ._lgoohNLg[data-id="_lgoohNLg"] { font-size: 14px; line-height: 22px; } .__pf ._r8WWh478[data-id="_r8WWh478"] { font-size: 14px; line-height: 22px; } .__pf ._6NKMtMe1[data-id="_6NKMtMe1"] { text-align: center; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="230"><section data-container="true" class="_DblQBlAM _6NKMtMe1 _hero" data-id="_6NKMtMe1" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _jg8GSwdg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_jg8GSwdg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2roMT50p" data-id="_2roMT50p"><h2 class="_qaQP6rvk _WMNrhD1m" data-id="_WMNrhD1m" ><span class="_VWvqNvR9 _zVMOHd49 _title _3JdPm85O" data-id="_zVMOHd49">The Subscription</span></h2><a class="_43klRgVK _dblwHPg4 _43klRgVK__btn--rect" target="_self"  data-id="_dblwHPg4"  data-flag="false"><span class="_VWvqNvR9 _ZV7EiE1x _text _ZGwmb_O6" data-id="_ZV7EiE1x">View more</span></a></div></div></div><div class="_pDNE0kYl _pD_nSpZD pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_pD_nSpZD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _aj2GTe0r" data-id="_aj2GTe0r"><div class="_NYd6gvae _5WQQfl7W" data-id="_5WQQfl7W"><p class="_7XqAY8_A _5gDjhMG8" data-id="_5gDjhMG8"><span hidden="" class="_VWvqNvR9 _Qn78hg7_ _dropcap _2dknaNM0" data-id="_Qn78hg7_"></span><span class="_VWvqNvR9 _Qn78hg7_ _text _ZGwmb_O6" data-id="_Qn78hg7_"></span></p><p class="_7XqAY8_A _Wb6JhJPb" data-id="_Wb6JhJPb"><span hidden="" class="_VWvqNvR9 _Rnk5hBw_ _dropcap _2dknaNM0" data-id="_Rnk5hBw_"></span><span class="_VWvqNvR9 _Rnk5hBw_ _text _ZGwmb_O6" data-id="_Rnk5hBw_"></span></p><p class="_7XqAY8_A _mgPkhKVA" data-id="_mgPkhKVA"><span hidden="" class="_VWvqNvR9 _b3P7hRo3 _dropcap _2dknaNM0" data-id="_b3P7hRo3"></span><span class="_VWvqNvR9 _b3P7hRo3 _text _ZGwmb_O6" data-id="_b3P7hRo3"></span></p><p class="_7XqAY8_A _2bK2hzYb" data-id="_2bK2hzYb"><span hidden="" class="_VWvqNvR9 _VGKBhL83 _dropcap _2dknaNM0" data-id="_VGKBhL83"></span><span class="_VWvqNvR9 _VGKBhL83 _text _ZGwmb_O6" data-id="_VGKBhL83"></span></p><p class="_7XqAY8_A _lgoohNLg" data-id="_lgoohNLg"><span hidden="" class="_VWvqNvR9 _VDMNhQ5n _dropcap _2dknaNM0" data-id="_VDMNhQ5n"></span><span class="_VWvqNvR9 _VDMNhQ5n _text _ZGwmb_O6" data-id="_VDMNhQ5n"></span></p><p class="_7XqAY8_A _r8WWh478" data-id="_r8WWh478"><span hidden="" class="_VWvqNvR9 _236zhNX_ _dropcap _2dknaNM0" data-id="_236zhNX_"></span><span class="_VWvqNvR9 _236zhNX_ _text _ZGwmb_O6" data-id="_236zhNX_"></span></p></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _ANvJtwd_" data-id="_ANvJtwd_" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _dg1wSLyg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_dg1wSLyg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxTVep" data-id="_GpPxTVep"><picture class="_epNwrNGv _0yvbfKay" data-id="_0yvbfKay" ><img src="https://media.pagefly.io/file/get/subscription-coffee-monthly-dark-roast-copper-cow-coffee-and-natural-creamerjpg-1542344618549.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8zJWTeAr" data-id="_8zJWTeAr"><h3 class="_qaQP6rvk _AYzZhPoM" data-id="_AYzZhPoM" ><span class="_VWvqNvR9 _JYNRH_w8 _title _3JdPm85O" data-id="_JYNRH_w8">Copper Cow Coffee Subscription</span></h3><p class="_7XqAY8_A _E8r_hQ9b" data-id="_E8r_hQ9b"><span hidden="" class="_VWvqNvR9 _MnvzhjLD _dropcap _2dknaNM0" data-id="_MnvzhjLD"></span><span class="_VWvqNvR9 _MnvzhjLD _text _ZGwmb_O6" data-id="_MnvzhjLD">Subscribe & Save. Our subscription service is the best deal on your coffee fix.&nbsp; Sign up and get Copper Cow Coffee sent fresh to your home or office every month. It’s the simplest way to save and we’ll also send you free gifts & gear in every box. The countdown begins now (and yes, we really meant it about the free gifts). 
<br>
<br>Starts at just $27/month.&nbsp; Pre-order starts Black Friday.</span></p><div class="_NYd6gvae _32Brfy4e" data-id="_32Brfy4e"><div class="_2_kEmkq1 _JOEmfW3O pb-countdown _2_kEmkq1--bordered" data-day="true" data-id="_JOEmfW3O" data-expired="2018-11-23T00:01" data-translation="{&quot;day&quot;:&quot;Days&quot;,&quot;hour&quot;:&quot;Hours&quot;,&quot;min&quot;:&quot;Mins&quot;,&quot;sec&quot;:&quot;Secs&quot;}"><div class="pb-countdown__inner"><div class="pb-countdown__day"><span>00</span><label>Days</label></div><div class="pb-countdown__hours"><span>00</span><label>Hours</label></div><div class="pb-countdown__mins"><span>00</span><label>Mins</label></div><div class="pb-countdown__secs"><span>00</span><label>Secs</label></div></div></div></div><a href="#" class="_XW6pwv9w _OBzwuG84 product__button" data-id="_OBzwuG84" data-action="AddToCart" data-text="Add to Cart" disabled="" ><span data-variant="">Add to Cart</span></a></div></div></div></div></section><section data-container="true" class="_DblQBlAM _2W8QtZpW" data-id="_2W8QtZpW" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _WrLlSBnN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WrLlSBnN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YzM1Tg4j" data-id="_YzM1Tg4j"><div class="_NYd6gvae _AWwofxGD" data-id="_AWwofxGD"></div></div></div></div><div class="_pDNE0kYl _L3p2SLvg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_L3p2SLvg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ez4GTWWp" data-id="_ez4GTWWp"><h3 class="_qaQP6rvk _KMDJhz6m" data-id="_KMDJhz6m" ><span class="_VWvqNvR9 _7oD4H4ZV _title _3JdPm85O" data-id="_7oD4H4ZV">IT'S AS EASY AS</span></h3></div></div></div><div class="_pDNE0kYl _MDy9SPag pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MDy9SPag"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _en7eTdLj" data-id="_en7eTdLj"><h3 class="_qaQP6rvk _v869hgdY" data-id="_v869hgdY" ><span class="_VWvqNvR9 _OV6QHaG9 _title _3JdPm85O" data-id="_OV6QHaG9">TEAR</span></h3><picture class="_epNwrNGv _NyxrfAg1" data-id="_NyxrfAg1" ><img src="https://media.pagefly.io/file/get/tear_800x1200jpg-1522791297606.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __pdyTl7z" data-id="__pdyTl7z"><h3 class="_qaQP6rvk _bmbeheO8" data-id="_bmbeheO8" ><span class="_VWvqNvR9 _Q9bwHxE8 _title _3JdPm85O" data-id="_Q9bwHxE8">HANG</span></h3><picture class="_epNwrNGv _41oYf4Jn" data-id="_41oYf4Jn" ><img src="https://media.pagefly.io/file/get/hang_800x1200jpg-1522791013787.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTwXr" data-id="_xrBLTwXr"><h3 class="_qaQP6rvk _nm_nhaNm" data-id="_nm_nhaNm" ><span class="_VWvqNvR9 _79xGHgM8 _title _3JdPm85O" data-id="_79xGHgM8">POUR</span></h3><picture class="_epNwrNGv _Z15Xf6b1" data-id="_Z15Xf6b1" ><img src="https://media.pagefly.io/file/get/pour_800x1200jpg-1522791374959.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _OpY9T7Rj" data-id="_OpY9T7Rj"><h3 class="_qaQP6rvk _WMykheKm" data-id="_WMykheKm" ><span class="_VWvqNvR9 _0YOLH54o _title _3JdPm85O" data-id="_0YOLH54o">SQUEEZE</span></h3><picture class="_epNwrNGv _Mnlqfb4n" data-id="_Mnlqfb4n" ><img src="https://media.pagefly.io/file/get/squeeze_800x1200jpg-1522791383363.jpg"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _E_A5taJW _image_with_text" data-id="_E_A5taJW" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _e3baS4Ar pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_e3baS4Ar"></div></div></section><section data-container="true" class="_DblQBlAM _P4gltd74" data-id="_P4gltd74" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPSvmD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPSvmD"></div></div></section><section data-container="true" class="_DblQBlAM _E_A5tV0W _image_with_text_overlay" data-id="_E_A5tV0W" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yNvBSG1r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_yNvBSG1r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _WpV7T03r" data-id="_WpV7T03r"><div class="_NYd6gvae _3DkOfKbe" data-id="_3DkOfKbe"></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _eN5EtOm_" data-id="_eN5EtOm_" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VD9RSXdD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VD9RSXdD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzQaTa4n" data-id="_EzQaTa4n"><div class="_NYd6gvae _VelxfqX2" data-id="_VelxfqX2"></div></div></div></div><div class="_pDNE0kYl _5Na6Szxg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_5Na6Szxg"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _2na6TwKr" data-id="_2na6TwKr"><picture class="_epNwrNGv _b1L3fBJ1" data-id="_b1L3fBJ1" ><img src="https://media.pagefly.io/file/get/awareness_croppedjpg-1522792900667.jpg"></picture></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _az2GTVdn" data-id="_az2GTVdn"><h3 class="_qaQP6rvk _6Mezhk1m" data-id="_6Mezhk1m" ><span class="_VWvqNvR9 _0oBRHrP9 _title _3JdPm85O" data-id="_0oBRHrP9">ENJOY WITH YOUR FRIENDS</span></h3><p class="_7XqAY8_A _d8mVh4xg" data-id="_d8mVh4xg"><span hidden="" class="_VWvqNvR9 _xnqlhWYn _dropcap _2dknaNM0" data-id="_xnqlhWYn"></span><span class="_VWvqNvR9 _xnqlhWYn _text _ZGwmb_O6" data-id="_xnqlhWYn"><br>"The origami design that allows you to brew coffee instantly, is simply genius! You can immediately smell the fresh roasted coffee as you start to pour the hot water. Stir in as little or as much as you want of the silky condensed milk to liken your taste for sweetness. Copper Cow's quality beats office blends and certainly the coffee chain brews. I keep CCC in the office and gift to office staff who love it as well!" <br><br>- Lolo</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _mWVZtl47" data-id="_mWVZtl47" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _JD2WSXvr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_JD2WSXvr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _En6vTAKz" data-id="_En6vTAKz"><div class="_NYd6gvae _NeAaf5y2" data-id="_NeAaf5y2"></div></div></div></div><div class="_pDNE0kYl _Pgq6SYrl pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Pgq6SYrl"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GzxdTbzA" data-id="_GzxdTbzA"><div class="_9ADbNDlp _WwQ_i4yN pb-custom-html" data-id="_WwQ_i4yN"><div id="product-component-414deeafaf5"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-414deeafaf5'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "all",
    "width": "380px",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "BUY NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "color": "#e56868",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal",
        "color": "#e56868"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      },
      "compareAt": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        }
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Raleway, sans-serif"
      },
      "select": {
        "font-family": "Raleway, sans-serif"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm","Slider2"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"plan":"pro","shop_domain":"coppercowcoffee.myshopify.com","page_id":"112629"});(function(a){var d=a.createElement("script");d.src="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>