<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,300,400,500|Raleway:400,400,500"><style type="text/css">._9ADbNDlp { padding: 1rem 0; } ._KzlwM38p { position: relative; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._NYd6gvae { position: relative; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._VWvqNvR9 { vertical-align: middle; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._43klRgVK { color: inherit; display: inline-block; line-height: 1; padding: 0.7em 1.2em; box-sizing: border-box; cursor: pointer; text-align: center; border: 1px solid #ebebeb; background-color: #ebebeb; text-decoration: none; position: relative; white-space: nowrap; } ._43klRgVK:hover, ._43klRgVK:active, ._43klRgVK:focus { color: inherit; text-decoration: none; } ._43klRgVK__icon--left i { margin-right: 0.3em; } ._43klRgVK__icon--right i { margin-left: 0.3em; } ._43klRgVK__icon--top i { margin-bottom: 0.5em; } ._43klRgVK__icon--top > span, ._43klRgVK__icon--top > span[data-empty][contenteditable] { display: block; } ._43klRgVK > * { color: inherit; text-decoration: inherit; line-height: inherit; vertical-align: middle !important; } ._43klRgVK > span { color: inherit !important; text-decoration: inherit !important; line-height: inherit !important; display: inline-block; } ._43klRgVK[data-active=true] { background: black; color: white; } ._43klRgVK__btn--plain { border: none; background: none; } ._43klRgVK__btn--outline { background: none; border: 2px solid; } ._43klRgVK__btn--rounded { border-radius: 20px; } ._43klRgVK [class*="--diamond"] { margin-right: 1em; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._nDOwf0ZD[data-id="_nDOwf0ZD"] { height: 50px; } .__pf ._1nbJTyYj[data-id="_1nbJTyYj"] { text-align: center; } .__pf .__rZASVrj[data-id="__rZASVrj"] { background-color: rgba(0, 0, 0, 0.5); } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/morning_croppedjpg-1524115171297.jpg"); background-position: center top; } .__pf ._NpEWT8bj[data-id="_NpEWT8bj"] { text-align: center; } .__pf ._JnK4T1ar[data-id="_JnK4T1ar"] { text-align: center; } .__pf ._EzgoT2Wr[data-id="_EzgoT2Wr"] { text-align: center; } .__pf ._ZpeZT7Xr[data-id="_ZpeZT7Xr"] { text-align: center; } .__pf ._RW_Rf5aD[data-id="_RW_Rf5aD"] { margin-bottom: 40px; } .__pf ._6NY7t8A_[data-id="_6NY7t8A_"] { background-color: rgb(74, 74, 74); } .__pf ._6wZ9h3O8[data-id="_6wZ9h3O8"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._9JEjfY4W[data-id="_9JEjfY4W"] { padding-left: 15px; } .__pf ._LeaxfqnD[data-id="_LeaxfqnD"] { text-align: center; } .__pf ._5gDjhdR8[data-id="_5gDjhdR8"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._aDpbfP8J[data-id="_aDpbfP8J"] { padding-left: 15px; } .__pf ._q2qOfgoD[data-id="_q2qOfgoD"] { text-align: center; } .__pf ._ewXPhJ38[data-id="_ewXPhJ38"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._3JkOfQLW[data-id="_3JkOfQLW"] { padding-left: 15px; } .__pf ._p2R8fXgW[data-id="_p2R8fXgW"] { text-align: center; } .__pf ._n2Owfnr2[data-id="_n2Owfnr2"] { margin-bottom: 40px; } .__pf ._agLxhGab[data-id="_agLxhGab"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._9JL1f_j2[data-id="_9JL1f_j2"] { padding-left: 15px; } .__pf ._ZJXjfLA2[data-id="_ZJXjfLA2"] { text-align: center; } .__pf ._jw3ah7BA[data-id="_jw3ah7BA"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._xDYxfK9J[data-id="_xDYxfK9J"] { padding-left: 15px; } .__pf ._w2PvfoEe[data-id="_w2PvfoEe"] { text-align: center; } .__pf ._aw_4ho78[data-id="_aw_4ho78"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._6eZqf9LD[data-id="_6eZqf9LD"] { padding-left: 15px; } .__pf ._YJGgf1KW[data-id="_YJGgf1KW"] { text-align: center; } .__pf ._6DvmfrwJ[data-id="_6DvmfrwJ"] { margin-bottom: 40px; } .__pf .__W77f_xW[data-id="__W77f_xW"] { margin-top: 30px; } .__pf ._Pgyeh2ag[data-id="_Pgyeh2ag"] { font-family: Rubik; font-weight: 300; font-size: 20px; color: white; } .__pf ._4LQYC_wV[data-id="_4LQYC_wV"] { list-style-position: inside; list-style-type: none; } .__pf ._EpQaT1kz[data-id="_EpQaT1kz"] { background-size: cover; text-align: right; } .__pf ._NJAafXrW[data-id="_NJAafXrW"] { margin-bottom: 30px; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { background-color: rgb(74, 74, 74); } .__pf ._QDjgf73e[data-id="_QDjgf73e"] { margin-top: 30px; } .__pf ._1zbJTXmn[data-id="_1zbJTXmn"] { background-size: cover; text-align: left; } .__pf ._Obk4hOOb[data-id="_Obk4hOOb"] { font-family: Rubik; font-weight: 300; font-size: 20px; color: black; } .__pf ._Velxf992[data-id="_Velxf992"] { margin-bottom: 30px; } .__pf ._a1eZtVZ_[data-id="_a1eZtVZ_"] { background-color: white; } .__pf ._NgpLhkPb[data-id="_NgpLhkPb"] { text-align: center; color: white; font-family: Rubik; font-weight: 300; font-size: 20px; } .__pf ._QWrxf0N2[data-id="_QWrxf0N2"] { text-align: center; } .__pf ._Xp_gT5_j[data-id="_Xp_gT5_j"] { text-align: center; } .__pf ._P4gltw64[data-id="_P4gltw64"] { background-color: rgb(74, 74, 74); } .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 500; color: white; font-size: 42px; text-align: center; } .__pf ._NQYWH6ab[data-id="_NQYWH6ab"] { width: 250px; height: 50px; background-color: rgb(11, 189, 158); font-family: Rubik; font-weight: 500; color: white; font-size: 18px; border-style: none; border-radius: 3px; } .__pf ._bmKZhRjm[data-id="_bmKZhRjm"] { text-transform: uppercase; letter-spacing: 2px; color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; margin-top: 20px; } .__pf ._6VezhWX8[data-id="_6VezhWX8"] { font-family: Rubik; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._DYgLhGoM[data-id="_DYgLhGoM"] { font-family: Rubik; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._DMxJhNd8[data-id="_DMxJhNd8"] { font-family: Rubik; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._o8lZhZKm[data-id="_o8lZhZKm"] { font-family: Rubik; font-weight: 500; font-size: 20px; text-align: center; color: white; } .__pf ._KV7whKxY[data-id="_KV7whKxY"] { text-transform: uppercase; letter-spacing: 2px; color: black; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; margin-top: 20px; } .__pf ._0yeefJOy[data-id="_0yeefJOy"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._vYAOhxWm[data-id="_vYAOhxWm"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf .__EBjfJYE[data-id="__EBjfJYE"] { width: 300px; height: 300px; justify-content: center; align-items: center; } .__pf ._jVZNhP2m[data-id="_jVZNhP2m"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf ._xEAdfLXE[data-id="_xEAdfLXE"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._DYgLhLDM[data-id="_DYgLhLDM"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf ._DYgLhovM[data-id="_DYgLhovM"] { text-transform: uppercase; letter-spacing: 2px; color: black; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; margin-top: 20px; } .__pf ._57QAfQMn[data-id="_57QAfQMn"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._v869hovY[data-id="_v869hovY"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf ._41oYfdLn[data-id="_41oYfdLn"] { width: 300px; height: 300px; justify-content: center; align-items: center; } .__pf ._nm_nhXAm[data-id="_nm_nhXAm"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf ._Mnlqf0_n[data-id="_Mnlqf0_n"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._xYd7h0kY[data-id="_xYd7h0kY"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 0px; margin-bottom: 20px; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { text-transform: uppercase; color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: left; } .__pf ._l1KRFlME[data-id="_l1KRFlME"] ._6pVxb12e { font-size: 1.5em; margin-right: 10px; } .__pf ._l1KRFlME[data-id="_l1KRFlME"] { color: white; font-family: Rubik; font-size: 20px; font-weight: 300; } .__pf ._yzQZFqVb[data-id="_yzQZFqVb"] ._6pVxb12e { font-size: 1.5em; margin-right: 10px; } .__pf ._yzQZFqVb[data-id="_yzQZFqVb"] { color: white; font-family: Rubik; font-size: 20px; font-weight: 300; } .__pf ._w1BVFke1[data-id="_w1BVFke1"] ._6pVxb12e { font-size: 1.5em; margin-right: 10px; } .__pf ._w1BVFke1[data-id="_w1BVFke1"] { color: white; font-family: Rubik; font-size: 20px; font-weight: 300; } .__pf ._7z2RFLW9[data-id="_7z2RFLW9"] ._6pVxb12e { font-size: 1.5em; margin-right: 10px; } .__pf ._7z2RFLW9[data-id="_7z2RFLW9"] { color: white; font-family: Rubik; font-size: 20px; font-weight: 300; } .__pf ._3EPAfa9E[data-id="_3EPAfa9E"] { justify-content: center; align-items: center; width: 700px; } .__pf ._rE8afjNn[data-id="_rE8afjNn"] { justify-content: center; align-items: center; width: 700px; } .__pf ._3M46hexY[data-id="_3M46hexY"] { text-transform: uppercase; color: black; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: left; } .__pf ._ZVEGhjzM[data-id="_ZVEGhjzM"] { text-transform: uppercase; letter-spacing: 2px; color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; } } @media only screen and (max-width: 767px) { .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { background-image: url("https://media.pagefly.io/file/get/morning_cropped_optimizedjpg-1522949761367.jpg"); } .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 500; } .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-size: 22px; font-weight: 500; } } @media only screen and (min-width: 768px) and (max-width: 991px) { .__pf ._NpEWT8bj[data-id="_NpEWT8bj"] { text-align: center; } .__pf ._JnK4T1ar[data-id="_JnK4T1ar"] { text-align: center; } .__pf ._EzgoT2Wr[data-id="_EzgoT2Wr"] { text-align: center; } .__pf ._ZpeZT7Xr[data-id="_ZpeZT7Xr"] { text-align: center; } .__pf ._agLxhGab[data-id="_agLxhGab"] { text-align: center; } .__pf ._9JL1f_j2[data-id="_9JL1f_j2"] { text-align: center; } .__pf ._jw3ah7BA[data-id="_jw3ah7BA"] { text-align: center; } .__pf ._aw_4ho78[data-id="_aw_4ho78"] { text-align: center; } } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _a4eZtV1V" data-id="_a4eZtV1V"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl __rZASVrj pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVrj"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTGn2" data-id="_mrOWTGn2"><div class="_pDNE0kYl _WNXKSlng pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_WNXKSlng"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _MjmRTJ4z pb-mobile--hidden" data-id="_MjmRTJ4z"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTgVn" data-id="_mrOWTgVn"><picture class="_epNwrNGv _0yvbfKay" data-id="_0yvbfKay" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture></div></div><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TgOp pb-mobile--hidden" data-id="_YjM1TgOp"></div></div></div><div class="_NYd6gvae _nDOwf0ZD" data-id="_nDOwf0ZD"></div><h1 id="requestButtonTop" class="_qaQP6rvk _kMQyhQZM" data-id="_kMQyhQZM" ><span class="_VWvqNvR9 _voj3HeJo _3JdPm85O" data-id="_voj3HeJo">Craft Vietnamese Coffee. Zero Effort.</span></h1><div class="_pDNE0kYl _Vr9RSL2r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_Vr9RSL2r"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTN2r" data-id="_wr3GTN2r"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1nbJTyYj" data-id="_1nbJTyYj"><a id="ctaOfficeSubTop" class="_43klRgVK _NQYWH6ab _43klRgVK__btn--rect" target="_self"  data-id="_NQYWH6ab" href="#requestSection"  data-flag="false"><span class="_VWvqNvR9 __VYwiJmV _ZGwmb_O6" data-id="__VYwiJmV">Request Free Sample</span></a></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxTVep" data-id="_GpPxTVep"></div></div></div></div></div></div></div></section><section class="_DblQBlAM _6NY7t8A_" data-id="_6NY7t8A_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _qrQoSBXr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_qrQoSBXr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _dnq3T3Ap" data-id="_dnq3T3Ap"><div class="_NYd6gvae _9JEjfvaW" data-id="_9JEjfvaW"></div></div></div></div><div class="_pDNE0kYl _Mg7yS2Er pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Mg7yS2Er"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzReTPNp" data-id="_EzReTPNp"><h3 class="_qaQP6rvk _bmKZhRjm" data-id="_bmKZhRjm" ><span class="_VWvqNvR9 _norbHbWV _3JdPm85O" data-id="_norbHbWV">Office Coffee Just Got Fancy</span></h3></div></div></div><div class="_pDNE0kYl _prJPS4n3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_prJPS4n3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _NpEWT8bj" data-id="_NpEWT8bj"><h3 class="_qaQP6rvk _6VezhWX8" data-id="_6VezhWX8" ><span class="_VWvqNvR9 _0YBRH_dV _3JdPm85O" data-id="_0YBRH_dV">Tear</span></h3><picture class="_epNwrNGv _OEpNfJRn" data-id="_OEpNfJRn" ><img src="https://media.pagefly.io/file/get/tear_optimizedjpg-1525200181766.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _JnK4T1ar" data-id="_JnK4T1ar"><h3 class="_qaQP6rvk _DYgLhGoM" data-id="_DYgLhGoM" ><span class="_VWvqNvR9 _bVAbHd48 _3JdPm85O" data-id="_bVAbHd48">Hang</span></h3><picture class="_epNwrNGv _3yPAf8oy" data-id="_3yPAf8oy" ><img src="https://media.pagefly.io/file/get/hang_optimizedjpg-1525200174677.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzgoT2Wr" data-id="_EzgoT2Wr"><h3 class="_qaQP6rvk _DMxJhNd8" data-id="_DMxJhNd8" ><span class="_VWvqNvR9 _38WrHjMV _3JdPm85O" data-id="_38WrHjMV">Pour</span></h3><picture class="_epNwrNGv _ME2VfoXn" data-id="_ME2VfoXn" ><img src="https://media.pagefly.io/file/get/pour_optimizedjpg-1525200195736.jpg"></picture></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ZpeZT7Xr" data-id="_ZpeZT7Xr"><h3 class="_qaQP6rvk _o8lZhZKm" data-id="_o8lZhZKm" ><span class="_VWvqNvR9 _O9dAHW49 _3JdPm85O" data-id="_O9dAHW49">Squeeze</span></h3><picture class="_epNwrNGv _D7D_fApy" data-id="_D7D_fApy" ><img src="https://media.pagefly.io/file/get/squeeze_optimizedjpg-1525200204997.jpg"></picture></div></div></div><div class="_pDNE0kYl _MNAOSJA3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MNAOSJA3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2jGKT5Jn" data-id="_2jGKT5Jn"><div class="_NYd6gvae _RW_Rf5aD" data-id="_RW_Rf5aD"></div></div></div></div></div></section><section class="_DblQBlAM _rNpvtOV_ pb-tablet--hidden pb-mobile--hidden" data-id="_rNpvtOV_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _erkpSJ4r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_erkpSJ4r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YzX5TgYz" data-id="_YzX5TgYz"><div class="_NYd6gvae _ZJXjfrr2" data-id="_ZJXjfrr2"></div></div></div></div><div class="_pDNE0kYl _dg1wSmbg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_dg1wSmbg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxT_xp" data-id="_GpPxT_xp"><h3 class="_qaQP6rvk _KV7whKxY" data-id="_KV7whKxY" ><span class="_VWvqNvR9 _jYPRHk4o _3JdPm85O" data-id="_jYPRHk4o">The easiest office coffee</span></h3></div></div></div><div class="_pDNE0kYl _1D4QSVBN pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_1D4QSVBN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _orv5ToGr" data-id="_orv5ToGr"><div class="_NYd6gvae _LeaxfqnD" data-id="_LeaxfqnD"><picture class="_epNwrNGv _0yeefJOy" data-id="_0yeefJOy" ><img src="https://media.pagefly.io/file/get/deliveryjpg-1524788609948.jpg"></picture><div class="_NYd6gvae _9JEjfY4W" data-id="_9JEjfY4W"><h3 class="_qaQP6rvk _vYAOhxWm" data-id="_vYAOhxWm" ><span class="_VWvqNvR9 _rV4jH6XY _3JdPm85O" data-id="_rV4jH6XY">No Hassle</span></h3><p class="_7XqAY8_A _6wZ9h3O8" data-id="_6wZ9h3O8"><span hidden="" class="_VWvqNvR9 _x3J9hvK_ _2dknaNM0" data-id="_x3J9hvK_"></span><span class="_VWvqNvR9 _x3J9hvK_ _ZGwmb_O6" data-id="_x3J9hvK_">Get coffee delivered right to your office. Don’t worry about remembering to reorder every month—choose your subscription, and we’ll do the rest.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1z19TY9r" data-id="_1z19TY9r"><div class="_NYd6gvae _q2qOfgoD" data-id="_q2qOfgoD"><picture class="_epNwrNGv __EBjfJYE" data-id="__EBjfJYE" ><img src="https://media.pagefly.io/file/get/filter_with_coffeejpg-1524788809971.jpg"></picture><div class="_NYd6gvae _aDpbfP8J" data-id="_aDpbfP8J"><h3 class="_qaQP6rvk _jVZNhP2m" data-id="_jVZNhP2m" ><span class="_VWvqNvR9 _KYKDH5E9 _3JdPm85O" data-id="_KYKDH5E9">No Maintenance</span></h3><p class="_7XqAY8_A _5gDjhdR8" data-id="_5gDjhdR8"><span hidden="" class="_VWvqNvR9 _Qn78h2p_ _2dknaNM0" data-id="_Qn78h2p_"></span><span class="_VWvqNvR9 _Qn78h2p_ _ZGwmb_O6" data-id="_Qn78h2p_">No more repairing and cleaning coffee machines. Let employees brew their own single-serve craft coffee in 60 seconds flat, without any equipment.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzgoT_Or" data-id="_EzgoT_Or"><div class="_NYd6gvae _p2R8fXgW" data-id="_p2R8fXgW"><picture class="_epNwrNGv _xEAdfLXE" data-id="_xEAdfLXE" ><img src="https://media.pagefly.io/file/get/happy_3by2jpg-1524699039761.jpg"></picture><div class="_NYd6gvae _3JkOfQLW" data-id="_3JkOfQLW"><h3 class="_qaQP6rvk _DYgLhLDM" data-id="_DYgLhLDM" ><span class="_VWvqNvR9 _bVAbHWx8 _3JdPm85O" data-id="_bVAbHWx8">No Complaints</span></h3><p class="_7XqAY8_A _ewXPhJ38" data-id="_ewXPhJ38"><span hidden="" class="_VWvqNvR9 _aDXwho2n _2dknaNM0" data-id="_aDXwho2n"></span><span class="_VWvqNvR9 _aDXwho2n _ZGwmb_O6" data-id="_aDXwho2n">Our filters contain real coffee grounds, with bold flavor and plenty of caffeine. Elevate your office coffee with crowd-pleasing Vietnamese craft coffee.</span></p></div></div></div></div></div><div class="_pDNE0kYl _pNjPS1p3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pNjPS1p3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8pJWT0kj" data-id="_8pJWT0kj"><div class="_NYd6gvae _n2Owfnr2" data-id="_n2Owfnr2"></div></div></div></div></div></section><section class="_DblQBlAM _O1Ryt0Y_ pb-large--hidden pb-desk--hidden" data-id="_O1Ryt0Y_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _jNmLSYKg pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_jNmLSYKg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzgoTq4r" data-id="_EzgoTq4r"><div class="_NYd6gvae _p2R8fpBW" data-id="_p2R8fpBW"></div></div></div></div><div class="_pDNE0kYl _d3dMSdVD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_d3dMSdVD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mzZ_Txlz" data-id="_mzZ_Txlz"><h3 class="_qaQP6rvk _DYgLhovM" data-id="_DYgLhovM" ><span class="_VWvqNvR9 _bVAbH4Q8 _3JdPm85O" data-id="_bVAbH4Q8">The easiest office coffee</span></h3></div></div></div><div class="_pDNE0kYl _L3p2SzKg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_L3p2SzKg"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ez4GT15p" data-id="_ez4GT15p"><div class="_NYd6gvae _ZJXjfLA2" data-id="_ZJXjfLA2"><picture class="_epNwrNGv _57QAfQMn" data-id="_57QAfQMn" ><img src="https://media.pagefly.io/file/get/deliveryjpg-1524788609948.jpg"></picture><div class="_NYd6gvae _9JL1f_j2" data-id="_9JL1f_j2"><h3 class="_qaQP6rvk _v869hovY" data-id="_v869hovY" ><span class="_VWvqNvR9 _OV6QH3R9 _3JdPm85O" data-id="_OV6QH3R9">No Hassle</span></h3><p class="_7XqAY8_A _agLxhGab" data-id="_agLxhGab"><span hidden="" class="_VWvqNvR9 _r3LEhYk_ _2dknaNM0" data-id="_r3LEhYk_"></span><span class="_VWvqNvR9 _r3LEhYk_ _ZGwmb_O6" data-id="_r3LEhYk_">Get coffee delivered right to your office. Don’t worry about remembering to reorder every month—choose your subscription, and we’ll do the rest.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __pdyTmqz" data-id="__pdyTmqz"><div class="_NYd6gvae _w2PvfoEe" data-id="_w2PvfoEe"><picture class="_epNwrNGv _41oYfdLn" data-id="_41oYfdLn" ><img src="https://media.pagefly.io/file/get/filter_with_coffeejpg-1524788809971.jpg"></picture><div class="_NYd6gvae _xDYxfK9J" data-id="_xDYxfK9J"><h3 class="_qaQP6rvk _nm_nhXAm" data-id="_nm_nhXAm" ><span class="_VWvqNvR9 _79xGHdL8 _3JdPm85O" data-id="_79xGHdL8">No Maintenance</span></h3><p class="_7XqAY8_A _jw3ah7BA" data-id="_jw3ah7BA"><span hidden="" class="_VWvqNvR9 _6GwMhyln _2dknaNM0" data-id="_6GwMhyln"></span><span class="_VWvqNvR9 _6GwMhyln _ZGwmb_O6" data-id="_6GwMhyln">No more repairing and cleaning coffee machines. Let employees brew their own single-serve craft coffee in 60 seconds flat, without any equipment.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _OpY9TAAj" data-id="_OpY9TAAj"><div class="_NYd6gvae _YJGgf1KW" data-id="_YJGgf1KW"><picture class="_epNwrNGv _Mnlqf0_n" data-id="_Mnlqf0_n" ><img src="https://media.pagefly.io/file/get/happy_3by2jpg-1524699039761.jpg"></picture><div class="_NYd6gvae _6eZqf9LD" data-id="_6eZqf9LD"><h3 class="_qaQP6rvk _xYd7h0kY" data-id="_xYd7h0kY" ><span class="_VWvqNvR9 _1YQmH409 _3JdPm85O" data-id="_1YQmH409">No Complaints</span></h3><p class="_7XqAY8_A _aw_4ho78" data-id="_aw_4ho78"><span hidden="" class="_VWvqNvR9 _B3Ekhga_ _2dknaNM0" data-id="_B3Ekhga_"></span><span class="_VWvqNvR9 _B3Ekhga_ _ZGwmb_O6" data-id="_B3Ekhga_">Our filters contain real coffee grounds, with bold flavor and plenty of caffeine. Elevate your office coffee with crowd-pleasing Vietnamese craft coffee.</span></p></div></div></div></div></div><div class="_pDNE0kYl _W3XKSW4D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_W3XKSW4D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MnmRTyYp" data-id="_MnmRTyYp"><div class="_NYd6gvae _6DvmfrwJ" data-id="_6DvmfrwJ"></div></div></div></div></div></section><section class="_DblQBlAM _5Nx0tqg4" data-id="_5Nx0tqg4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ngKlSEeN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ngKlSEeN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _knNbTANn" data-id="_knNbTANn"><div class="_NYd6gvae __W77f_xW" data-id="__W77f_xW"></div></div></div></div><div class="_pDNE0kYl _vgGQSKeg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_vgGQSKeg"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTYdr" data-id="_xrBLTYdr"><h3 class="_qaQP6rvk _9Vqbh7zV" data-id="_9Vqbh7zV" ><span class="_VWvqNvR9 _QYqDHdyY _3JdPm85O" data-id="_QYqDHdyY">Brew Station</span></h3><p class="_7XqAY8_A _Pgyeh2ag" data-id="_Pgyeh2ag"><span hidden="" class="_VWvqNvR9 _8D9khz6D _2dknaNM0" data-id="_8D9khz6D"></span><span class="_VWvqNvR9 _8D9khz6D _ZGwmb_O6" data-id="_8D9khz6D">We pack our coffee in a beautiful office display that ships right to your office. You just put it on the counter. Simple, easy, effortless.<br>
<br>Each Copper Cow Brew Station provides:<br></span></p><ul class="_1rloNvJ_ _4LQYC_wV pb-list" data-id="_4LQYC_wV"><li class="_XQwxL5Bl _l1KRFlME" data-id="_l1KRFlME"><i class="_GwlbZrJE _zwRyFGyL _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_zwRyFGyL"></i><span class="_VWvqNvR9 _rDX8F9rV _3JdPm85O" data-id="_rDX8F9rV">50 Vietnamese coffee filters</span></li><li class="_XQwxL5Bl _yzQZFqVb" data-id="_yzQZFqVb"><i class="_GwlbZrJE _1o3kFpQ6 _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_1o3kFpQ6"></i><span class="_VWvqNvR9 _bVNBFv45 _3JdPm85O" data-id="_bVNBFv45">50 sweetened condensed milk</span></li><li class="_XQwxL5Bl _w1BVFke1" data-id="_w1BVFke1"><i class="_GwlbZrJE _Mwg2Fgpo _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_Mwg2Fgpo"></i><span class="_VWvqNvR9 _L5dwFAMD _3JdPm85O" data-id="_L5dwFAMD">The premium display tray</span></li><li class="_XQwxL5Bl _7z2RFLW9" data-id="_7z2RFLW9"><i class="_GwlbZrJE _Q5OmFB05 _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_Q5OmFB05"></i><span class="_VWvqNvR9 _q5KaFOwV _3JdPm85O" data-id="_q5KaFOwV">Love & adoration of your staff</span></li></ul></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _EpQaT1kz" data-id="_EpQaT1kz"><picture class="_epNwrNGv _3EPAfa9E" data-id="_3EPAfa9E" ><img src="https://media.pagefly.io/file/get/office_cady_icarusjpg-1524698512423.jpg"></picture></div></div></div><div class="_pDNE0kYl _JN2WSm4g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_JN2WSm4g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Ez6vTewp" data-id="_Ez6vTewp"><div class="_NYd6gvae _NJAafXrW" data-id="_NJAafXrW"></div></div></div></div></div></section><section class="_DblQBlAM _a1eZtVZ_" data-id="_a1eZtVZ_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pgJPSj2r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pgJPSj2r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _NrEWTXVn" data-id="_NrEWTXVn"><div class="_NYd6gvae _QDjgf73e" data-id="_QDjgf73e"></div></div></div></div><div class="_pDNE0kYl __gZAS0Kg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__gZAS0Kg"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1zbJTXmn" data-id="_1zbJTXmn"><picture class="_epNwrNGv _rE8afjNn" data-id="_rE8afjNn" ><img src="https://media.pagefly.io/file/get/pour_2800wjpg-1524164433669.jpg"></picture></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mjOWTNLz" data-id="_mjOWTNLz"><h3 class="_qaQP6rvk _3M46hexY" data-id="_3M46hexY" ><span class="_VWvqNvR9 _mopXH3W9 _3JdPm85O" data-id="_mopXH3W9">Pour Over Craft</span></h3><p class="_7XqAY8_A _Obk4hOOb" data-id="_Obk4hOOb"><span hidden="" class="_VWvqNvR9 _gGRKh66n _2dknaNM0" data-id="_gGRKh66n"></span><span class="_VWvqNvR9 _gGRKh66n _ZGwmb_O6" data-id="_gGRKh66n">Pour over is an easy and elegant way to brew coffee. Unpackage our compostable filter, place it over a cup, and add hot water to enjoy speciality Vietnamese coffee.</span></p></div></div></div><div class="_pDNE0kYl _VD9RSW6D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VD9RSW6D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzQaTqdn" data-id="_EzQaTqdn"><div class="_NYd6gvae _Velxf992" data-id="_Velxf992"></div></div></div></div></div></section><section id="requestSection" class="_DblQBlAM _P4gltw64" data-id="_P4gltw64"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPS7dD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPS7dD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTdkp" data-id="_ErQaTdkp"><div class="_NYd6gvae _VDlxf1ge" data-id="_VDlxf1ge"></div></div></div></div><div class="_pDNE0kYl _eDbaSeqN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_eDbaSeqN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Xp_gT5_j" data-id="_Xp_gT5_j"><div class="_NYd6gvae _QWrxf0N2" data-id="_QWrxf0N2"><h3 class="_qaQP6rvk _ZVEGhjzM" data-id="_ZVEGhjzM" ><span class="_VWvqNvR9 _nYmGHJdo _3JdPm85O" data-id="_nYmGHJdo">Starting at $75 a month</span></h3><p class="_7XqAY8_A _NgpLhkPb" data-id="_NgpLhkPb"><span hidden="" class="_VWvqNvR9 _rDNBhePG _2dknaNM0" data-id="_rDNBhePG"></span><span class="_VWvqNvR9 _rDNBhePG _ZGwmb_O6" data-id="_rDNBhePG">Just enter in your email & address in the pop-up, no payment info necessary.<br></span></p></div></div></div></div><div class="_pDNE0kYl __rZASVRr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVRr"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTOEn" data-id="_mrOWTOEn"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TR2p" data-id="_YjM1TR2p"><div class="_9ADbNDlp _XLW8iMgw pb-custom-html" data-id="_XLW8iMgw"><div id="product-component-987352d40a1"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [656529915968],
        variantId: 7435279368256,
        node: document.getElementById('product-component-987352d40a1'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Request Free Sample"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GT47r" data-id="_wr3GT47r"></div></div></div></div></section></div><script type="text/javascript">$( '#ctaOfficeSubTop' ).click( function() {
    $( 'html,body' ).stop().animate( {
        scrollTop: $( '#requestSection' ).offset().top
    }, 800 );

    return false;
});</script><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"116842"});
</script>