<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400|Rubik:400,400"><style type="text/css">._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._KzlwM38p { position: relative; } ._O689JW7n { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._NYd6gvae { position: relative; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._VWvqNvR9 { vertical-align: middle; } ._9ADbNDlp { padding: 1rem 0; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._XQwxL5Bl { position: relative; display: list-item; padding: .21428571em 0; line-height: 1.7; } ._1rloNvJ_ { position: relative; } ._1rloNvJ_ { font-size: 1em; padding: 1em 0; list-style-position: inside; } ._1rloNvJ_ li > span { vertical-align: baseline; } ._1rloNvJ_ i { margin-right: 5px; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._nDOwf0ZD[data-id="_nDOwf0ZD"] { height: 50px; } .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 400; color: black; font-size: 44px; text-align: center; } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/premium_adjusted_optimizedjpg-1522949052026.jpg"); background-position: center top; } .__pf ._Zm94hBOm[data-id="_Zm94hBOm"] { font-family: Raleway; text-align: center; font-size: 36px; font-weight: 400; } .__pf ._ozynFk_b[data-id="_ozynFk_b"] ._6pVxb12e { font-size: 1em; } .__pf ._ozynFk_b[data-id="_ozynFk_b"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._y9ayFqm1[data-id="_y9ayFqm1"] ._6pVxb12e { font-size: 1em; } .__pf ._y9ayFqm1[data-id="_y9ayFqm1"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] ._6pVxb12e { font-size: 1em; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { font-family: Rubik; font-weight: 400; font-size: 24px; line-height: 50px; } .__pf ._73RkCDW3[data-id="_73RkCDW3"] { list-style-position: inside; list-style-type: none; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/awareness_cropped_optimizedjpg-1522951036708.jpg"); height: 510px; background-position: center center; } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-weight: 400; font-size: 36px; text-align: center; } .__pf ._NgpLh3Wb[data-id="_NgpLh3Wb"] { font-family: Rubik; font-weight: 400; font-size: 20px; text-align: center; } .__pf ._AVn5h0wm[data-id="_AVn5h0wm"] { font-family: Raleway; font-weight: 400; color: white; font-size: 36px; } .__pf ._d_P6tXQN[data-id="_d_P6tXQN"] { background-position: center center; padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/morning_cropped_optimizedjpg-1522949761367.jpg"); } } @media only screen and (max-width: 767px) { .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { background-image: url("https://media.pagefly.io/file/get/premium_adjusted_mobile_optimizedjpg-1522947868534.jpg"); } .__pf ._Zm94hBOm[data-id="_Zm94hBOm"] { font-family: Raleway; font-weight: 400; font-size: 22px; } .__pf ._ozynFk_b[data-id="_ozynFk_b"] { text-align: left; padding-left: 10px; } .__pf ._y9ayFqm1[data-id="_y9ayFqm1"] { text-align: left; padding-left: 10px; } .__pf ._o9V8Fdy9[data-id="_o9V8Fdy9"] { text-align: left; padding-left: 10px; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._E_A5tV0W[data-id="_E_A5tV0W"] { background-image: url("https://media.pagefly.io/file/get/awareness_optimizedjpg-1522951360966.jpg"); } .__pf ._zmRRhJDm[data-id="_zmRRhJDm"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._vyZRflJn[data-id="_vyZRflJn"] { justify-content: center; } .__pf ._AVn5h0wm[data-id="_AVn5h0wm"] { font-size: 24px; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _a4eZtV1V" data-id="_a4eZtV1V"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl __rZASVrj pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVrj"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTGn2" data-id="_mrOWTGn2"><div class="_pDNE0kYl _WNXKSlng pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_WNXKSlng"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _MjmRTJ4z pb-mobile--hidden" data-id="_MjmRTJ4z"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTgVn" data-id="_mrOWTgVn"><picture class="_epNwrNGv _0yvbfKay" data-id="_0yvbfKay" ><img src="https://media.pagefly.io/file/get/ccc_logopng-1522945480243.png"></picture></div></div><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TgOp pb-mobile--hidden" data-id="_YjM1TgOp"></div></div></div><div class="_NYd6gvae _nDOwf0ZD" data-id="_nDOwf0ZD"></div><h1 class="_qaQP6rvk _kMQyhQZM" data-id="_kMQyhQZM" ><span class="_VWvqNvR9 _voj3HeJo _3JdPm85O" data-id="_voj3HeJo">Premium Vietnamese coffee, delivered to you</span></h1><div class="_pDNE0kYl _Vr9RSL2r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_Vr9RSL2r"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTN2r" data-id="_wr3GTN2r"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1nbJTyYj" data-id="_1nbJTyYj"><div class="_9ADbNDlp _RwaKiZxj pb-custom-html" data-id="_RwaKiZxj"><div id="product-component-1b9e9465291"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-1b9e9465291'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxTVep" data-id="_GpPxTVep"></div></div></div></div></div></div></div></section><section class="_DblQBlAM _E_A5taJW" data-id="_E_A5taJW"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _e3baS4Ar pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_e3baS4Ar"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Xj_gT9yz" data-id="_Xj_gT9yz"><div class="_NYd6gvae _QJrxfLYe" data-id="_QJrxfLYe"></div></div></div></div><div class="_pDNE0kYl _p3_nSpR3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_p3_nSpR3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _az2GTean" data-id="_az2GTean"><h3 class="_qaQP6rvk _Zm94hBOm" data-id="_Zm94hBOm" ><span class="_VWvqNvR9 _koeOHPxY _3JdPm85O" data-id="_koeOHPxY">Why Copper Cow?</span></h3></div></div></div><div class="_pDNE0kYl _nrKlSQRD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_nrKlSQRD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _kjNbTvaj" data-id="_kjNbTvaj"><div class="_pDNE0kYl _prJPSeb3 pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_prJPSeb3"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _NpEWTyXj" data-id="_NpEWTyXj"><ul class="_1rloNvJ_ _73RkCDW3 pb-list" data-id="_73RkCDW3"><li class="_XQwxL5Bl _ozynFk_b" data-id="_ozynFk_b"><i class="_GwlbZrJE _V6a_FbX5 _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_V6a_FbX5"></i><span class="_VWvqNvR9 _PxajFX65 _3JdPm85O" data-id="_PxajFX65">&nbsp;No Equipment Needed</span></li><li class="_XQwxL5Bl _y9ayFqm1" data-id="_y9ayFqm1"><i class="_GwlbZrJE _doA0FkRw _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_doA0FkRw"></i><span class="_VWvqNvR9 _eDwEFapD _3JdPm85O" data-id="_eDwEFapD">&nbsp;Brewed in 90 seconds</span></li><li class="_XQwxL5Bl _o9V8Fdy9" data-id="_o9V8Fdy9"><i class="_GwlbZrJE _0wW4F93w _6pVxb12e fa _GwlbZrJE--none fa-caret-down" data-id="_0wW4F93w"></i><span class="_VWvqNvR9 _gZ49FMpZ _3JdPm85O" data-id="_gZ49FMpZ">&nbsp;Sustainably Sourced</span></li></ul></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _JnK4Tq_r" data-id="_JnK4Tq_r"><picture class="_epNwrNGv _ZnmqfkaE pb-mobile--hidden" data-id="_ZnmqfkaE" ><img src="https://media.pagefly.io/file/get/wooden_table_wide_optimizedjpg-1522949079899.jpg"></picture></div></div></div><picture class="_epNwrNGv _J70MfGmn pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_J70MfGmn" ><img src="https://media.pagefly.io/file/get/milkdown_optimizedjpg-1522952307588.jpg"></picture><div class="_NYd6gvae _ZDXjfY3W" data-id="_ZDXjfY3W"></div></div></div></div></div></section><section class="_DblQBlAM _P4gltd74" data-id="_P4gltd74"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPSvmD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPSvmD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTa9p" data-id="_ErQaTa9p"><h3 class="_qaQP6rvk _9Vqbh7zV" data-id="_9Vqbh7zV" ><span class="_VWvqNvR9 _QYqDHdyY _3JdPm85O" data-id="_QYqDHdyY">Enjoy with your friends, anywhere.</span></h3></div></div></div></div></section><section class="_DblQBlAM _E_A5tV0W" data-id="_E_A5tV0W"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yNvBSG1r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_yNvBSG1r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _WpV7T03r" data-id="_WpV7T03r"><div class="_NYd6gvae _3DkOfKbe" data-id="_3DkOfKbe"></div></div></div></div></div></section><section class="_DblQBlAM _mWVZtl47 pb-mobile--hidden" data-id="_mWVZtl47"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _JD2WSXvr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_JD2WSXvr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _En6vTAKz" data-id="_En6vTAKz"><div class="_NYd6gvae _NeAaf5y2" data-id="_NeAaf5y2"></div></div></div></div><div class="_pDNE0kYl _Pgq6SYrl pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Pgq6SYrl"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _GzxdTbzA" data-id="_GzxdTbzA"><div class="_9ADbNDlp _WwQ_i4yN pb-custom-html" data-id="_WwQ_i4yN"><div id="product-component-c0f7340e0ad"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-c0f7340e0ad'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "layout": "horizontal",
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section><section class="_DblQBlAM _z_wVtqJ4 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_z_wVtqJ4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MgYKSP9r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MgYKSP9r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9zyoTV3z" data-id="_9zyoTV3z"><div class="_NYd6gvae __W14fVkJ" data-id="__W14fVkJ"></div></div></div></div><div class="_pDNE0kYl _ODxKSozD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ODxKSozD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Zzl2TQgj" data-id="_Zzl2TQgj"><div class="_9ADbNDlp _7LK6iBYw pb-custom-html" data-id="_7LK6iBYw"><div id="product-component-791aff20838"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-791aff20838'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "380px",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section><section class="_DblQBlAM _BWJQt5A_" data-id="_BWJQt5A_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VD9RSO2D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VD9RSO2D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzQaTOkn" data-id="_EzQaTOkn"><h3 class="_qaQP6rvk _zmRRhJDm" data-id="_zmRRhJDm" ><span class="_VWvqNvR9 _v8g5HOn8 _3JdPm85O" data-id="_v8g5HOn8">What's in the Box?</span></h3><picture class="_epNwrNGv _vyZRflJn pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_vyZRflJn" ><img src="https://media.pagefly.io/file/get/5scatter_optimizedjpg-1522953017475.jpg"></picture></div></div></div><div class="_pDNE0kYl _Vr9RS66r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_Vr9RS66r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTVqr" data-id="_wr3GTVqr"><picture class="_epNwrNGv _qywXf0A1 pb-mobile--hidden" data-id="_qywXf0A1" ><img src="https://media.pagefly.io/file/get/5scatter_bannerjpg-1522789661755.jpg"></picture></div></div></div><div class="_pDNE0kYl _WNLlSO9g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_WNLlSO9g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1Tymp" data-id="_YjM1Tymp"><p class="_7XqAY8_A _NgpLh3Wb" data-id="_NgpLh3Wb"><span hidden="" class="_VWvqNvR9 _rDNBhzMG _2dknaNM0" data-id="_rDNBhzMG"></span><span class="_VWvqNvR9 _rDNBhzMG _ZGwmb_O6" data-id="_rDNBhzMG">Each box contains five packs of pour over Vietnamese coffee and California sweetened milk.</span></p></div></div></div><div class="_pDNE0kYl _zgM5SQVr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_zgM5SQVr"><div class=" pb-one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _9z5RT3Ep" data-id="_9z5RT3Ep"></div></div></div><div class="_pDNE0kYl _5ga6SZY3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_5ga6SZY3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _2ra6TKwz" data-id="_2ra6TKwz"><div class="_NYd6gvae _5WQQf0lW" data-id="_5WQQf0lW"></div></div></div></div><div class="_pDNE0kYl __DZASzLD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="__DZASzLD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mnOWT_Vp" data-id="_mnOWT_Vp"></div></div></div></div></section><section class="_DblQBlAM _d_P6tXQN" data-id="_d_P6tXQN"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ngKlSYRN pb-grid pb-grid--stackable pb-grid--aligned-topcenter pb-grid--equal-height" data-id="_ngKlSYRN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _knNbTwan" data-id="_knNbTwan"><div class="_NYd6gvae __W77fyRW" data-id="__W77fyRW"><h2 class="_qaQP6rvk _AVn5h0wm" data-id="_AVn5h0wm" ><span class="_VWvqNvR9 _PVLwHyG8 _3JdPm85O" data-id="_PVLwHyG8">Your perfect morning, brewed and ready!</span></h2><div class="_9ADbNDlp _9ybRiW1x pb-custom-html" data-id="_9ybRiW1x"><div id="product-component-06c47b6621b"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-06c47b6621b'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "15px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"112946"});
</script>