<link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/reset.css" /><link rel="stylesheet" href="https://apps.pagefly.io/assets/pagefly/assets/1.2.12/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400,500|Rubik:400,300,400,500"><style type="text/css">._VWvqNvR9 { vertical-align: middle; } ._KzlwM38p { position: relative; } ._O689JW7n { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._NYd6gvae { position: relative; } ._6rmEgn4M { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._6rmEgn4M--diamond, ._6rmEgn4M--circle, ._6rmEgn4M--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._6rmEgn4M--circle { border-radius: 100%; } ._6rmEgn4M--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._6rmEgn4M--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._9ADbNDlp { padding: 1rem 0; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; } ._DblQBlAM[data-parallax="true"] .parallax-bg { position: absolute; left: 50%; bottom: 0; max-width: 100%; min-width: 100%; min-height: 100%; -webkit-transform: translateX(-50%); transform: translateX(-50%); object-fit: cover; will-change: transform; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM__container { width: auto; margin: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } nav { display:none; } header { display:none; } footer { display:none; } 
						    @media all { .__pf ._nDOwf0ZD[data-id="_nDOwf0ZD"] { height: 50px; } .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 500; color: white; font-size: 40px; text-align: center; } .__pf .__rZASVrj[data-id="__rZASVrj"] { background-color: rgba(0, 0, 0, 0.5); } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { padding: 100px 0px; background-size: cover; background-repeat: no-repeat; background-image: url("https://media.pagefly.io/file/get/morning_croppedjpg-1524115171297.jpg"); background-position: center top; } .__pf ._0yeefJOy[data-id="_0yeefJOy"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._vYAOhxWm[data-id="_vYAOhxWm"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 30px; margin-bottom: 20px; } .__pf ._6wZ9h3O8[data-id="_6wZ9h3O8"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._9JEjfY4W[data-id="_9JEjfY4W"] { padding-left: 15px; } .__pf ._LeaxfqnD[data-id="_LeaxfqnD"] { text-align: center; } .__pf .__EBjfJYE[data-id="__EBjfJYE"] { width: 300px; height: 300px; justify-content: center; align-items: center; } .__pf ._jVZNhP2m[data-id="_jVZNhP2m"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 30px; margin-bottom: 20px; } .__pf ._5gDjhdR8[data-id="_5gDjhdR8"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._aDpbfP8J[data-id="_aDpbfP8J"] { padding-left: 15px; } .__pf ._q2qOfgoD[data-id="_q2qOfgoD"] { text-align: center; } .__pf ._xEAdfLXE[data-id="_xEAdfLXE"] { width: 300px; justify-content: center; align-items: center; height: 300px; } .__pf ._DYgLhLDM[data-id="_DYgLhLDM"] { font-family: Rubik; font-weight: 500; font-size: 20px; margin-top: 30px; margin-bottom: 20px; } .__pf ._ewXPhJ38[data-id="_ewXPhJ38"] { text-align: left; font-family: Rubik; font-weight: 400; font-size: 16px; padding-right: 25px; padding-left: 25px; } .__pf ._3JkOfQLW[data-id="_3JkOfQLW"] { padding-left: 15px; } .__pf ._p2R8fXgW[data-id="_p2R8fXgW"] { text-align: center; } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { text-transform: uppercase; color: white; margin-top: 200px; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: left; } .__pf ._Pgyeh2ag[data-id="_Pgyeh2ag"] { font-family: Rubik; font-weight: 300; font-size: 20px; color: white; } .__pf ._3EPAfa9E[data-id="_3EPAfa9E"] { justify-content: center; align-items: center; width: 700px; margin-top: 20px; margin-bottom: 20px; margin-left: 20px; } .__pf ._EpQaT1kz[data-id="_EpQaT1kz"] { background-size: cover; text-align: center; } .__pf ._5Nx0tqg4[data-id="_5Nx0tqg4"] { background-color: rgb(74, 74, 74); } .__pf ._rE8afjNn[data-id="_rE8afjNn"] { justify-content: center; align-items: center; width: 700px; margin-top: 20px; margin-right: 20px; margin-bottom: 20px; } .__pf ._1zbJTXmn[data-id="_1zbJTXmn"] { background-size: cover; text-align: center; } .__pf ._3M46hexY[data-id="_3M46hexY"] { text-transform: uppercase; color: black; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: left; } .__pf ._Obk4hOOb[data-id="_Obk4hOOb"] { font-family: Rubik; font-weight: 300; font-size: 20px; color: black; } .__pf ._mjOWTNLz[data-id="_mjOWTNLz"] { margin-top: 160px; } .__pf ._a1eZtVZ_[data-id="_a1eZtVZ_"] { background-color: white; } .__pf ._ZVEGhjzM[data-id="_ZVEGhjzM"] { text-transform: uppercase; letter-spacing: 2px; color: white; font-family: Raleway; font-weight: 500; font-size: 36px; text-align: center; } .__pf ._NgpLhkPb[data-id="_NgpLhkPb"] { color: white; font-family: Rubik; font-weight: 300; font-size: 20px; } .__pf ._QWrxf0N2[data-id="_QWrxf0N2"] { text-align: center; } .__pf ._P4gltw64[data-id="_P4gltw64"] { background-color: rgb(74, 74, 74); } } @media only screen and (max-width: 767px) { .__pf ._kMQyhQZM[data-id="_kMQyhQZM"] { font-family: Raleway; font-weight: 400; font-size: 28px; } .__pf ._a4eZtV1V[data-id="_a4eZtV1V"] { background-image: url("https://media.pagefly.io/file/get/premium_adjusted_mobile_optimizedjpg-1522947868534.jpg"); } .__pf ._9Vqbh7zV[data-id="_9Vqbh7zV"] { font-family: Raleway; font-size: 22px; font-weight: 400; } .__pf ._3M46hexY[data-id="_3M46hexY"] { font-family: Raleway; font-size: 22px; font-weight: 400; } } @media only screen and (min-width: 768px) and (max-width: 991px) { } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="230" data-pf-initial-ver="230"><section class="_DblQBlAM _a4eZtV1V" data-id="_a4eZtV1V"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl __rZASVrj pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVrj"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTGn2" data-id="_mrOWTGn2"><div class="_pDNE0kYl _WNXKSlng pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_WNXKSlng"><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _MjmRTJ4z pb-mobile--hidden" data-id="_MjmRTJ4z"></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTgVn" data-id="_mrOWTgVn"><picture class="_epNwrNGv _0yvbfKay" data-id="_0yvbfKay" ><img src="https://media.pagefly.io/file/get/ccc_logo_invertedpng-1522943784418.png"></picture></div></div><div class=" pb-two-twelfths pb-mobile--hidden grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TgOp pb-mobile--hidden" data-id="_YjM1TgOp"></div></div></div><div class="_NYd6gvae _nDOwf0ZD" data-id="_nDOwf0ZD"></div><h1 class="_qaQP6rvk _kMQyhQZM" data-id="_kMQyhQZM" ><span class="_VWvqNvR9 _voj3HeJo _3JdPm85O" data-id="_voj3HeJo">Office Luxury Made Easy</span></h1><div class="_pDNE0kYl _Vr9RSL2r pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_Vr9RSL2r"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GTN2r" data-id="_wr3GTN2r"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1nbJTyYj" data-id="_1nbJTyYj"><div class="_9ADbNDlp _RwaKiZxj pb-custom-html" data-id="_RwaKiZxj"><div id="product-component-c002735ab54"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [656529915968],
        variantId: 7435279368256,
        node: document.getElementById('product-component-c002735ab54'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Request Sampler"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Rubik, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _GpPxTVep" data-id="_GpPxTVep"></div></div></div></div></div></div></div></section><section class="_DblQBlAM _7Wjltlj_" data-id="_7Wjltlj_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _qrQoSLRr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_qrQoSLRr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _dnq3TV_p" data-id="_dnq3TV_p"><div class="_NYd6gvae _RW_RfPKD" data-id="_RW_RfPKD"></div></div></div></div></div></section><section class="_DblQBlAM _rNpvtOV_" data-id="_rNpvtOV_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _1D4QSVBN pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_1D4QSVBN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _orv5ToGr" data-id="_orv5ToGr"><div class="_NYd6gvae _LeaxfqnD" data-id="_LeaxfqnD"><picture class="_epNwrNGv _0yeefJOy" data-id="_0yeefJOy" ><img src="https://media.pagefly.io/file/get/7e2cb125567143e98186d28b92be5ff6jpg-1522945496776.jpg"></picture><div class="_NYd6gvae _9JEjfY4W" data-id="_9JEjfY4W"><h3 class="_qaQP6rvk _vYAOhxWm" data-id="_vYAOhxWm" ><span class="_VWvqNvR9 _rV4jH6XY _3JdPm85O" data-id="_rV4jH6XY">Easy Setup, Zero Effort</span></h3><p class="_7XqAY8_A _6wZ9h3O8" data-id="_6wZ9h3O8"><span hidden="" class="_VWvqNvR9 _x3J9hvK_ _2dknaNM0" data-id="_x3J9hvK_"></span><span class="_VWvqNvR9 _x3J9hvK_ _ZGwmb_O6" data-id="_x3J9hvK_">For $75 a month, and your shipping address, luxury office coffee is just a<br>sip away.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1z19TY9r" data-id="_1z19TY9r"><div class="_NYd6gvae _q2qOfgoD" data-id="_q2qOfgoD"><picture class="_epNwrNGv __EBjfJYE" data-id="__EBjfJYE" ><img src="https://media.pagefly.io/file/get/pour_2800wjpg-1524164433669.jpg"></picture><div class="_NYd6gvae _aDpbfP8J" data-id="_aDpbfP8J"><h3 class="_qaQP6rvk _jVZNhP2m" data-id="_jVZNhP2m" ><span class="_VWvqNvR9 _KYKDH5E9 _3JdPm85O" data-id="_KYKDH5E9">No Equipment Needed</span></h3><p class="_7XqAY8_A _5gDjhdR8" data-id="_5gDjhdR8"><span hidden="" class="_VWvqNvR9 _Qn78h2p_ _2dknaNM0" data-id="_Qn78h2p_"></span><span class="_VWvqNvR9 _Qn78h2p_ _ZGwmb_O6" data-id="_Qn78h2p_">All you need is a cup and hot water, yes, it's that effortless.</span></p></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzgoT_Or" data-id="_EzgoT_Or"><div class="_NYd6gvae _p2R8fXgW" data-id="_p2R8fXgW"><picture class="_epNwrNGv _xEAdfLXE" data-id="_xEAdfLXE" ><img src="https://media.pagefly.io/file/get/1_2cecswlxlkfishcwflagtggif-1524685001926.gif"></picture><div class="_NYd6gvae _3JkOfQLW" data-id="_3JkOfQLW"><h3 class="_qaQP6rvk _DYgLhLDM" data-id="_DYgLhLDM" ><span class="_VWvqNvR9 _bVAbHWx8 _3JdPm85O" data-id="_bVAbHWx8">Refills Automatically</span></h3><p class="_7XqAY8_A _ewXPhJ38" data-id="_ewXPhJ38"><span hidden="" class="_VWvqNvR9 _aDXwho2n _2dknaNM0" data-id="_aDXwho2n"></span><span class="_VWvqNvR9 _aDXwho2n _ZGwmb_O6" data-id="_aDXwho2n">We will ship your office subscription at any interval you like.</span></p></div></div></div></div></div><div class="_pDNE0kYl _pNjPS1p3 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pNjPS1p3"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8pJWT0kj" data-id="_8pJWT0kj"><div class="_NYd6gvae _n2Owfnr2" data-id="_n2Owfnr2"></div></div></div></div></div></section><section class="_DblQBlAM _5Nx0tqg4" data-id="_5Nx0tqg4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ngKlSEeN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ngKlSEeN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _knNbTANn" data-id="_knNbTANn"><div class="_NYd6gvae __W77f_xW" data-id="__W77f_xW"></div></div></div></div><div class="_pDNE0kYl _vgGQSKeg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="_vgGQSKeg"><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _xrBLTYdr" data-id="_xrBLTYdr"><h3 class="_qaQP6rvk _9Vqbh7zV" data-id="_9Vqbh7zV" ><span class="_VWvqNvR9 _QYqDHdyY _3JdPm85O" data-id="_QYqDHdyY">Office Caddy</span></h3><p class="_7XqAY8_A _Pgyeh2ag" data-id="_Pgyeh2ag"><span hidden="" class="_VWvqNvR9 _8D9khz6D _2dknaNM0" data-id="_8D9khz6D"></span><span class="_VWvqNvR9 _8D9khz6D _ZGwmb_O6" data-id="_8D9khz6D">Office Caddy description goes here</span></p></div></div><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _EpQaT1kz" data-id="_EpQaT1kz"><picture class="_epNwrNGv _3EPAfa9E" data-id="_3EPAfa9E" ><img src="https://media.pagefly.io/file/get/caddy_topjpg-1524683365881.jpg"></picture></div></div></div><div class="_pDNE0kYl _JN2WSm4g pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_JN2WSm4g"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Ez6vTewp" data-id="_Ez6vTewp"><div class="_NYd6gvae _NJAafXrW" data-id="_NJAafXrW"></div></div></div></div></div></section><section class="_DblQBlAM _a1eZtVZ_" data-id="_a1eZtVZ_"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pgJPSj2r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_pgJPSj2r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _NrEWTXVn" data-id="_NrEWTXVn"><div class="_NYd6gvae _QDjgf73e" data-id="_QDjgf73e"></div></div></div></div><div class="_pDNE0kYl __gZAS0Kg pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__gZAS0Kg"><div class=" pb-eight-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _1zbJTXmn" data-id="_1zbJTXmn"><picture class="_epNwrNGv _rE8afjNn" data-id="_rE8afjNn" ><img src="https://media.pagefly.io/file/get/pour_2800wjpg-1524164433669.jpg"></picture></div></div><div class=" pb-four-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mjOWTNLz" data-id="_mjOWTNLz"><h3 class="_qaQP6rvk _3M46hexY" data-id="_3M46hexY" ><span class="_VWvqNvR9 _mopXH3W9 _3JdPm85O" data-id="_mopXH3W9">Pour Over Craft</span></h3><p class="_7XqAY8_A _Obk4hOOb" data-id="_Obk4hOOb"><span hidden="" class="_VWvqNvR9 _gGRKh66n _2dknaNM0" data-id="_gGRKh66n"></span><span class="_VWvqNvR9 _gGRKh66n _ZGwmb_O6" data-id="_gGRKh66n">Describe what pour over craft/style is.</span></p></div></div></div><div class="_pDNE0kYl _VD9RSW6D pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VD9RSW6D"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _EzQaTqdn" data-id="_EzQaTqdn"><div class="_NYd6gvae _Velxf992" data-id="_Velxf992"></div></div></div></div></div></section><section class="_DblQBlAM _z_wVtqJ4 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_z_wVtqJ4"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MgYKSP9r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MgYKSP9r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _9zyoTV3z" data-id="_9zyoTV3z"><div class="_NYd6gvae __W14fVkJ" data-id="__W14fVkJ"></div></div></div></div><div class="_pDNE0kYl _ODxKSozD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ODxKSozD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Zzl2TQgj" data-id="_Zzl2TQgj"><div class="_9ADbNDlp _7LK6iBYw pb-custom-html" data-id="_7LK6iBYw"><div id="product-component-791aff20838"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [639031607360],
        node: document.getElementById('product-component-791aff20838'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "variantId": "all",
    "width": "380px",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "GET 25% OFF NOW"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div></div></section><section class="_DblQBlAM _P4gltw64" data-id="_P4gltw64"><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _RgBPS7dD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_RgBPS7dD"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ErQaTdkp" data-id="_ErQaTdkp"><div class="_NYd6gvae _VDlxf1ge" data-id="_VDlxf1ge"></div></div></div></div><div class="_pDNE0kYl _eDbaSeqN pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_eDbaSeqN"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Xp_gT5_j" data-id="_Xp_gT5_j"><div class="_NYd6gvae _QWrxf0N2" data-id="_QWrxf0N2"><h3 class="_qaQP6rvk _ZVEGhjzM" data-id="_ZVEGhjzM" ><span class="_VWvqNvR9 _nYmGHJdo _3JdPm85O" data-id="_nYmGHJdo">Elevate Your Morning</span></h3><p class="_7XqAY8_A _NgpLhkPb" data-id="_NgpLhkPb"><span hidden="" class="_VWvqNvR9 _rDNBhePG _2dknaNM0" data-id="_rDNBhePG"></span><span class="_VWvqNvR9 _rDNBhePG _ZGwmb_O6" data-id="_rDNBhePG">For $75 a month, plus shipping.</span></p></div></div></div></div><div class="_pDNE0kYl __rZASVRr pb-grid pb-grid--stackable pb-grid--equal-height" data-id="__rZASVRr"><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _mrOWTOEn" data-id="_mrOWTOEn"></div></div><div class=" pb-six-twelfths pb-mobile--one-whole twelfths-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _YjM1TR2p" data-id="_YjM1TR2p"><div class="_9ADbNDlp _XLW8iMgw pb-custom-html" data-id="_XLW8iMgw"><div id="product-component-987352d40a1"></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'coppercowcoffee.myshopify.com',
      apiKey: '95d91cb7caad80df94cf1575b06ccbc5',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [656529915968],
        variantId: 7435279368256,
        node: document.getElementById('product-component-987352d40a1'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "7435279368256",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": false,
      "title": false,
      "variantTitle": false,
      "options": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "Request Sampler"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-size": "12px",
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Shipping added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#0bbd9e",
        "font-family": "Roboto, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "price": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif",
        "font-weight": "normal"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto",
      "Raleway",
      "Roboto",
      "Roboto",
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Roboto, sans-serif",
        "background-color": "#0bbd9e",
        ":hover": {
          "background-color": "#0aaa8e"
        },
        ":focus": {
          "background-color": "#0aaa8e"
        },
        "font-weight": "bold"
      },
      "count": {
        "color": "#ffffff",
        ":hover": {
          "color": "#ffffff"
        },
        "font-size": "18px"
      },
      "iconPath": {
        "fill": "#ffffff"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto",
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script></div></div></div><div class=" pb-three-twelfths grid__column" style="padding: 15px;"><div class="_O689JW7n _wr3GT47r" data-id="_wr3GT47r"></div></div></div></div></section></div><script type="text/javascript">
	'use strict';(function(a,f,g,h){var i=f.createElement('script');i.async=1,i.src=g,f.head.appendChild(i),i.onload=function(){var j=window.PageFlyHelper&&window.PageFlyHelper.default||function(){};j(window,h)}})(window,document,'https://apps.pagefly.io/assets/pagefly/assets/1.2.12/helper.js',{"css":[],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":477691968,"isPro":true,"shop_domain":"coppercowcoffee.myshopify.com","appUrl":"https://apps.pagefly.io","page_id":"116571"});
</script>